{% extends '::base.html.twig' %}
{% block title %}{% trans %}institution.title.edit{% endtrans %} {{ entity.name }}{% endblock %}
{% block page_title %}{% trans %}institution.page_title.edit{% endtrans %} {{ entity.name }}{% endblock %}

{% block body -%}
    <div id="avatar-label" class="mdl-label-mimic">{% trans %}institution.avatar.label{% endtrans %}</div>

    {{ render(controller('MediaBundle:Media:createDropzoneForm', {'context':'institution', 'media_field_id':'tui_toolkit_institutionbundle_institution_media', 'existing_media':entity.media})) }}

    {{ form_start(edit_form) }}

    {% if entity.media %}
        <script>
            $(document).ready(function () {
                var bUrl = '{{ asset(".." ~ entity.media.getRelativePath ~ "/" ~ entity.media.getHashedFilename ) }}';
                $(".media-placeholder-image").css({
                    "background-image": "url(" + bUrl + ")",
                    "background-position": "50%",
                    "background-repeat": "no-repeat",
                    "background-size": "contain",
                    "width": "300px",
                    "height": "160px"
                });
                $("#tui_toolkit_institutionbundle_institution_media").val('{{ entity.media.id }}');

                $(document).on('click', '.media-placeholder-image', function(e) {
                    $("#tui_toolkit_institutionbundle_institution_media").val('');
                });
            });
        </script>
    {% endif %}

    {{ form_widget(edit_form) }}
    {{ form_end(edit_form) }}

    <ul class="record_actions">
        <li>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
               href="{{ path('manage_institution') }}">
                <i class="fa fa-arrow-circle-left"></i> {% trans %}institution.actions.back{% endtrans %}
            </a>
        </li>
       {% if is_granted("ROLE_ADMIN") %}
            <li>{{ form(delete_form) }}</li>
       {% endif %}
    </ul>


{% endblock %}
