{% extends '::base.html.twig' %}
{% block title %}Manage Institution{% endblock %}

{% block body -%}

    <h1>Institution list</h1>

    <table class="mdl-data-table mdl-js-data-table">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Name (ID)</th>
                <th class="mdl-data-table__cell--non-numeric">Address</th>
                <th class="mdl-data-table__cell--non-numeric">City</th>
                <th class="mdl-data-table__cell--non-numeric">County</th>
                <th class="mdl-data-table__cell--non-numeric">State</th>
                <th>Postcode</th>
                <th class="mdl-data-table__cell--non-numeric">Local Authority</th>
                <th class="mdl-data-table__cell--non-numeric">Country</th>
                <th>Code</th>
                <th class="mdl-data-table__cell--non-numeric">Type</th>
                <th class="mdl-data-table__cell--non-numeric">Website</th>
                <th class="mdl-data-table__cell--non-numeric center">Logo</th>
                <th class="mdl-data-table__cell--non-numeric">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td class="mdl-data-table__cell--non-numeric"><a href="{{ path('manage_institution_show', { 'id': entity.id }) }}">{{ entity.name }} ({{ entity.id }})</a></td>
                <td class="mdl-data-table__cell--non-numeric">{{ entity.address1 }}<br>{{ entity.address2 }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ entity.city }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ entity.county }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ entity.state }}</td>
                <td>{{ entity.postCode }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ entity.localAuthority }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ entity.country }}</td>
                <td>{{ entity.code }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ entity.type }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ entity.websiteAddress }}</td>
                <td class="mdl-data-table__cell--non-numeric center">{{ entity.logo }}</td>
                <td class="mdl-data-table__cell--non-numeric">
                    <ul class="table-actions">
                        <li>
                            <a href="{{ path('manage_institution_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('manage_institution_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('manage_institution_new') }}">Create a new entry</a>
        </li>
    </ul>

{% endblock %}
