{% extends '::base.html.twig' %}
{% block title %}{% trans %}institution.title.new{% endtrans %}{% endblock %}
{% block page_title %}{% trans %}institution.page_title.new{% endtrans %}{% endblock %}

{% block body -%}

    <div id="avatar-label" class="mdl-label-mimic">{% trans %}institution.avatar.label{% endtrans %}</div>

    {{ render(controller('MediaBundle:Media:createDropzoneForm', {'context':'institution', 'media_field_id':'tui_toolkit_institutionbundle_institution_media'})) }}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <ul class="record_actions">
        <li>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
               href="{{ path('manage_institution') }}">
                <i class="fa fa-arrow-circle-left"></i> {% trans %}institution.actions.back{% endtrans %}
            </a>
        </li>
    </ul>
{% endblock %}
