{% if not is_granted("ROLE_BRAND") %}
<div class="tui-drawer-header">
    {% if app.user.media %}
        <span id="accbtn" class="tui-image-avatar"><img src="{{ asset( app.user.media.getRelativePath ~ "/" ~ app.user.media.getHashedFilename ) | imagine_filter('thumbnail') }}" alt="{{ app.user.username }}"></span>
    {% elseif app.user.firstName and app.user.lastName %}
        <span id="accbtn" class="tui-text-avatar mdl-typography--headline">{{ app.user.firstName[:1] }}{{ app.user.lastName[:1] }}</span>
    {% else %}
        <span id="accbtn" class="tui-text-avatar mdl-typography--headline">{{ app.user.username[:1] }}</span>
    {% endif %}
    <div class="tui-avatar-dropdown">
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
            <li><a class="mdl-menu__item" href="/profile">{% trans %}app.tui_drawer.actions.view{% endtrans %}</a>
            </li>
            <li><a class="mdl-menu__item" href="/user/{{ app.user.id }}/edit">{% trans %}app.tui_drawer.actions.view{% endtrans %}</a>
            </li>
            <li><a class="mdl-menu__item" href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
        </ul>
    </div>
</div>
{% endif %}

<div class="brand_logo">
    {{ render(controller('BrandBundle:Default:index')) }}
</div>
