{% extends '::base.html.twig' %}
{% block title %}Edit {{ entity.title }}{% endblock %}
{% block page_title %}Edit {{ entity.title }}{% endblock %}

{% block body -%}

    <div class="media-wrapper">

        <div class="existing-media-wrapper">
            {% if entity.media %}
                {% for media in collection %}
                    <div class="existing-media-item">
                        <img id="{{ media.id }}" src="{{ asset(".." ~ media.getRelativePath ~ "/" ~ media.getHashedFilename ) }}">
                        <a class="existing-delete" href="#"><i class="fa fa-times-circle"></i></a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="new-media-wrapper">

            <div id="avatar-label">
                <div style="display: none;" id="dropzone-form-close"><i class="fa fa-times-circle"></i></div>
            </div>

            {{ render(controller('MediaBundle:Media:createDropzoneForm', {'context':'contentblock'})) }}

            <div id="user_media">
                <span class="media-placeholder-image new">
                    <i class="fa fa-picture-o fa-3x"></i>
                    <span>Click to upload</span>
                </span>
            </div>

        </div>

    </div>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    {{ form_end(edit_form) }}

    <ul class="record_actions">
        <li>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('manage_contentblocks') }}">
                <i class="fa fa-arrow-circle-left"></i> Back to the list
            </a>
        </li>
        <li>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="show">
                <i class="fa fa-eye"></i> Show
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>

    <script>
        $( function() {
            $(document).on( 'click', '.existing-delete', function(e) {
                e.preventDefault();
                var remove = $(this).parent().find('img').attr('id');
                var value = $(".media-placeholder").val();
                var values = [];
                values = value.split(',').map(Number);
                values = jQuery.grep(values, function(v) {
                    return v != remove;
                });
                $(".media-placeholder").val(values);
                $(this).parent().remove();
            });
            Dropzone.options.dropzoneForm = {
                maxFiles: 1,
                acceptedMimeTypes: 'image/jpeg,image/png,image/jpg',
                init: function () {
                    var value = $(".media-placeholder").val();
                    var values = [];
                    values = value.split(',').map(Number);
                    this.on("success", function (file, response) {
                        if ( $(".media-placeholder").val().length > 0 ) {
                            values.push(response.id);
                            $(".media-placeholder").val(values);
                        } else {
                            $(".media-placeholder").val(response.id);
                        };
                        $('.existing-media-wrapper').append('<div class="existing-media-item"><img id="' + response.id + '" src="' + response.relativepath + '/' + response.filename + '"><a class="existing-delete" href="#"><i class="fa fa-times-circle"></i></a></div>');
                    });
                }
            }
        });
    </script>

{% endblock %}
