<div class="content-block-content-wrapper">
{% spaceless %}
    {% if entity.layoutType %}
        {% if entity.layoutType.name == 'image_top' or entity.layoutType.name == 'image_left' %}
            <div class="content-block-media">
                {% if entity.isSlideshow!=1 %}
                    {% for mediaWrapper in entity.mediaWrapper %}
                        {% for media in mediaWrapper.media %}
                            {% if entity.doubleWidth == false %}
                            <img class="block-image-stacked" src="{{ ( media.getRelativePath ~ "/" ~ media.getHashedFilename ) | imagine_filter('smallBlock') }}" title="{{ mediaWrapper.title }}" alt="{{ mediaWrapper.title }}">
                        {% elseif entity.doubleWidth == true %}
                            <img class="block-image-stacked" src="{{ ( media.getRelativePath ~ "/" ~ media.getHashedFilename ) | imagine_filter('largeBlock') }}" title="{{ mediaWrapper.title }}" alt="{{ mediaWrapper.title }}">
                        {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    {% if entity.doubleWidth == false %}
                        <img class="block-image-stacked" src="{{ ( entity.mediaWrapper[0].media[0].getRelativePath ~ "/" ~ entity.mediaWrapper[0].media[0].getHashedFilename ) | imagine_filter('smallBlock') }}">
                    {% elseif entity.doubleWidth == true %}
                        <img class="block-image-stacked" src="{{ ( entity.mediaWrapper[0].media[0].getRelativePath ~ "/" ~ entity.mediaWrapper[0].media[0].getHashedFilename ) | imagine_filter('largeBlock') }}">
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    {% endif %}

    <div class="content-block-body">
        {{ entity.body|raw }}
    </div>

    {% if entity.layoutType %}
        {% if entity.layoutType.name == 'image_bottom' or entity.layoutType.name == 'image_right' %}
            <div class="content-block-media">
                {% if entity.isSlideshow!=1 %}
                    {% for mediaWrapper in entity.mediaWrapper %}
                        {% for media in mediaWrapper.media %}
                            {% if entity.doubleWidth == false %}
                                <img class="block-image-stacked" src="{{ ( media.getRelativePath ~ "/" ~ media.getHashedFilename ) | imagine_filter('smallBlock') }}" title="{{ mediaWrapper.title }}" alt="{{ mediaWrapper.title }}">
                            {% elseif entity.doubleWidth == true %}
                                <img class="block-image-stacked" src="{{ ( media.getRelativePath ~ "/" ~ media.getHashedFilename ) | imagine_filter('largeBlock') }}" title="{{ mediaWrapper.title }}" alt="{{ mediaWrapper.title }}">
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    {% if entity.doubleWidth == false %}
                        <img class="block-image-stacked" src="{{ ( entity.mediaWrapper[0].media[0].getRelativePath ~ "/" ~ entity.mediaWrapper[0].media[0].getHashedFilename ) | imagine_filter('smallBlock') }}">
                    {% elseif entity.doubleWidth == true %}
                        <img class="block-image-stacked" src="{{ ( entity.mediaWrapper[0].media[0].getRelativePath ~ "/" ~ entity.mediaWrapper[0].media[0].getHashedFilename ) | imagine_filter('largeBlock') }}">
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
{% endspaceless %}
</div>
