{% extends '::base.html.twig' %}
{% block title %}{% trans %}contentBlocks.title.index{% endtrans %}{% endblock %}
{% block page_title %}{% trans %}contentBlocks.page_title.index{% endtrans %}{% endblock %}

{% block body -%}

    <table class="mdl-data-table mdl-js-data-table">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">{% trans %}contentBlocks.table.name{% endtrans %}</th>
                <th class="mdl-data-table__cell--non-numeric">{% trans %}contentBlocks.table.locked{% endtrans %}</th>
                <th class="mdl-data-table__cell--non-numeric">{% trans %}contentBlocks.table.hidden{% endtrans %}</th>
                <th class="mdl-data-table__cell--non-numeric">{% trans %}contentBlocks.table.layout{% endtrans %}</th>
                <th>Sort Order</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr id="{{ entity.id }}">
                <td class="mdl-data-table__cell--non-numeric">{{ entity.title }} ({{ entity.id }})</td>
                <td class="mdl-data-table__cell--non-numeric">
                    {% if entity.locked == 1 %}
                        <i class="fa fa-check"></i>
                    {% else %}
                        <i class="fa fa-times"></i>
                    {% endif %}
                </td>
                <td class="mdl-data-table__cell--non-numeric">
                    {% if entity.hidden == 1 %}
                        <i class="fa fa-check"></i>
                    {% else %}
                        <i class="fa fa-times"></i>
                    {% endif %}
                </td>
                <td class="mdl-data-table__cell--non-numeric"><span class="layout-icons {{ entity.layoutType }}">{{ entity.layoutType }}</span></td>
                <td>{{ entity.sortOrder }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
