{% extends '::base.html.twig' %}
{% block title %}Manage Content Blocks{% endblock %}
{% block page_title %}Manage Content Blocks{% endblock %}

{% block body -%}

    <ul class="record_actions">
        <li>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('manage_contentblocks_new') }}">
                <i class="fa fa-plus-circle"></i> Create a new Block
            </a>
        </li>
    </ul>

    <table class="mdl-data-table mdl-js-data-table">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Title (ID)</th>
                <th class="mdl-data-table__cell--non-numeric">Locked</th>
                <th class="mdl-data-table__cell--non-numeric">Hidden</th>
                <th class="mdl-data-table__cell--non-numeric">Layout Type</th>
                <th class="mdl-data-table__cell--non-numeric">Body</th>
                <th class="mdl-data-table__cell--non-numeric">Sort Order</th>
                <th class="mdl-data-table__cell--non-numeric">Double Width</th>
                <th class="mdl-data-table__cell--non-numeric">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td class="mdl-data-table__cell--non-numeric"><a href="{{ path('manage_contentblocks_show', { 'id': entity.id }) }}">{{ entity.title }}</a> ({{ entity.id }})</td>
                <td class="mdl-data-table__cell--non-numeric">{{ entity.locked }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ entity.hidden }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ entity.layoutType }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ entity.body }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ entity.sortOrder }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ entity.doubleWidth }}</td>
                <td class="mdl-data-table__cell--non-numeric">
                    <ul class="grid-row-actions">
                        <li>
                            <a href="{{ path('manage_contentblocks_show', { 'id': entity.id }) }}"><i class="fa fam-view"></i></a>
                        </li>
                        <li>
                            <a href="{{ path('manage_contentblocks_edit', { 'id': entity.id }) }}"><i class="fa fam-edit"></i></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% endblock %}
