

    <div class="media-wrapper">

        <div class="existing-media-wrapper sortable-images">
            <div class="mdl-label-mimic"><label>{% trans %}contentBlocks.upload_form.title{% endtrans %}</label></div>
            <p class="none">{% trans %}contentBlocks.upload_form.no_images{% endtrans %}</p>
        </div>

        <div class="new-media-wrapper">

            <div class="mdl-label-mimic"><label>{% trans %}contentBlocks.upload_form.new{% endtrans %}</label></div>
            <p>{% trans %}contentBlocks.label.terms{% endtrans %} <a href="{{ path('terms_of_service') }}" target="_blank">Terms of Use.</a></p>

            {{ render(controller('MediaBundle:Media:createDropzoneLightForm', {'context':'contentblock'})) }}

            <div id="user_media">
                <span class="media-placeholder-image new">
                    <i class="fa fa-picture-o fa-3x"></i>
                    <span>{% trans %}contentBlocks.actions.upload{% endtrans %}</span>
                </span>
            </div>

        </div>

    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}


    <script>
        // Wait for the DOM to be loaded
        $(document).ready(function() {
            // Bind form and provide a simple callback function
            $('#ajax_contentblocks_form').ajaxForm({
                beforeSerialize: function() {
                    if (typeof CKEDITOR !== 'undefined') {
                        CKEDITOR.instances.tui_toolkit_contentblocksbundle_contentblock_body.updateElement();
                    }
                    $("#loader").css("display", "inline-block");
                },
                success: function(response) {
                    $('#dialog').dialog( "close" );
                    window.location.hash = 'site-content';
                    window.location.reload(true);
                }
            })

            $(document).on('click', '.existing-delete', function (e) {
                e.preventDefault();
                $(this).parent().remove();
                updateMediaWrapper($(".existing-media-wrapper"));
            });

            //Get the caption and weight fields and push them to the associative array
            $(document).on('change', 'input', function() {
                updateMediaWrapper($(".existing-media-wrapper"));
            });

            //Sortable images for content blocks
            $(".sortable-images").sortable({
                containment: "parent",
                items: "> div.existing-media-item",
                // handle: ".move",
                tolerance: "pointer",
                cursor: "move",
                opacity: 0.7,
                revert: 300,
                delay: 150,
                dropOnEmpty: true,
//        placeholder: "tabs-placeholder",
                start: function (e, ui) {
                    ui.placeholder.height(ui.helper.outerHeight());
                },
                stop: function (e, ui) {
                    updateMediaWrapper($(".existing-media-wrapper"));
                },
                axis: 'x,y'

            });

            // Dropzone.autoDiscover = false;

            $('.dropzone-form').dropzone({
                maxFiles: 1,
                acceptedMimeTypes: 'image/jpeg,image/png,image/jpg',
                uploadMultiple: false,
                init: function () {
                    var value = $(".media-placeholder").val();
                    var values = [];
                    if ( value != 0 ) {
                        $(".caption-textfield").css({"display":"block"});
                        $(".caption-label").css({"display":"block"});
                        $(".sortable-images").sortable("enable");
                        updateMediaWrapper($(".existing-media-wrapper"));
                        if (values.length >= 15) {
                            $(".new-media-wrapper").css({"display": "none"});
                        }
                    }
                    this.on("success", function (file, response) {
                        $('.existing-media-wrapper').find('.none').hide();
                        $('.existing-media-wrapper').append('<div class="existing-media-item"><div class="existing-media-item-image"><img id="' + response.id + '" src="' + response.relativepath + '/' + response.filename + '"></div>' +
                        '<a class="existing-delete" href="#"><i class="fa fa-times-circle"></i></a>' +
                        '<div id="'+ response.id +'"class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">' +
                        '<input class="caption mdl-textfield__input" type="text" data="'+ response.id +'" name="caption" id="'+ response.id + '-caption">' +
                        '<label class="mdl-textfield__label" for="'+ response.id + '">{% trans %}contentBlocks.upload_form.caption_label{% endtrans %}</label></div>' +
                        '<div id="'+ response.id +'"class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">' +
                        '</div></div>');
                        $('.mdl-textfield').css({'display': 'block'});
                        updateMediaWrapper($(".existing-media-wrapper"));
                    });
                    this.on("complete", function (file, response) {
                        this.removeFile(file);
                    });
                    this.on("error", function (file, response) {
                    });
                }
            });
        });
    </script>


