{# Only visible in Quote #}

{% set class = '' %}
{% if entity.layoutType %}
    {% set class = 'content-block-layout-' ~ entity.layoutType.name %}
{% endif %}
{% if entity.doubleWidth == 1 %}
    {% set size = 'full' %}
{% else %}
    {% set size = 'half' %}
{% endif %}

<div id="content-block-id-{{ entity.id }}" class="content-block move-cursor content-block-id-{{ entity.id }} {{ class }} content-block-size-{{ size }}">
    <h2>{{ entity.title }}</h2>

    {% if entity.isSlideshow==1 %}
        {% embed "ContentBlocksBundle:ContentBlock:slideshow.html.twig" %}{% endembed %}
    {% else %}
        {% embed "ContentBlocksBundle:ContentBlock:images.html.twig" %}{% endembed %}
    {% endif %}
</div>
