{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ContentBlock</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Locked</th>
                <td>{{ entity.locked }}</td>
            </tr>
            <tr>
                <th>Hidden</th>
                <td>{{ entity.hidden }}</td>
            </tr>
            <tr>
                <th>Layouttype</th>
                <td>{{ entity.layoutType.name }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ entity.body|raw }}</td>
            </tr>
            <tr>
                <th>Sortorder</th>
                <td>{{ entity.sortOrder }}</td>
            </tr>
            <tr>
                <th>Doublewidth</th>
                <td>{{ entity.doubleWidth }}</td>
            </tr>
            <tr>
                <th>Media</th>
            </tr>
        </tbody>
    </table>

    {% for media in entity.media %}
        <img src ={{ asset(".." ~ media.getRelativePath ~ "/" ~ media.getHashedFilename ) }} />
    {% endfor %}

        <ul class="record_actions">
    <li>
        <a href="{{ path('manage_contentblocks') }}">
            <i class="fa fa-arrow-circle-left"></i> Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('manage_contentblocks_edit', { 'id': entity.id }) }}">
            <i class="fa fa-pencil-square-o"></i> Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
