{% extends '::base.html.twig' %}
{% block title %}Content Block {{ entity.title }}{% endblock %}
{% block page_title %}Content Block {{ entity.title }}{% endblock %}

{% set class = '' %}
{% if entity.layoutType.name %}
    {% set class = 'content-block-layout-' ~ entity.layoutType.name %}
{% endif %}
{% if entity.doubleWidth == 1 %}
    {% set class = class ~ ' content-block-size-full' %}
{% else %}
    {% set class = class ~ ' content-block-size-half' %}
{% endif %}

{% block body -%}

    <div class="content-block content-block-id-{{ entity.id }} {{ class }}">
        <h2>{{ entity.title }}</h2>

        {% if entity.layoutType.name != 'image_bottom' %}
            <div class="content-block-media">
                {% for media in entity.media %}
                    <img src="{{ asset(".." ~ media.getRelativePath ~ "/" ~ media.getHashedFilename ) }}">
                {% endfor %}
            </div>
        {% endif %}

        <div class="content-block-body">
            {{ entity.body|raw }}
        </div>

        {% if entity.layoutType.name == 'image_bottom' %}
            <div class="content-block-media">
                {% for media in entity.media %}
                    <img src="{{ asset(".." ~ media.getRelativePath ~ "/" ~ media.getHashedFilename ) }}">
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <ul class="record_actions">
        <li>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('manage_contentblocks') }}">
                <i class="fa fa-arrow-circle-left"></i> Back to the list
            </a>
        </li>
        <li>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('manage_contentblocks_edit', { 'id': entity.id }) }}">
                <i class="fa fa-pencil-square-o"></i> Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>

{% endblock %}
