{% extends '::base.html.twig' %}
{% block title %}{% trans %}currency.title.edit{% endtrans %}{{ entity.name }}{% endblock %}
{% block page_title %}{% trans %}currency.page_title.edit{% endtrans %} {{ entity.name }}{% endblock %}

{% block body -%}

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('manage_currency') }}">
            <i class="fa fa-arrow-circle-left"></i> {% trans %}currency.actions.back{% endtrans %}
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
