{% extends '::base.html.twig' %}
{% block title %}{% trans %}currency.title.index{% endtrans %}{% endblock %}
{% block page_title %}{% trans %}currency.page_title.index{% endtrans %}{% endblock %}

{% block body -%}

    <ul class="record_actions">
        <li>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('manage_currency_new') }}"><i class="fa fa-plus-circle"></i>{% trans %}currency.actions.create_new{% endtrans %}</a>
        </li>
    </ul>

    <table class="mdl-data-table mdl-js-data-table">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">{% trans %}currency.table.label.code{% endtrans %}</th>
                <th class="mdl-data-table__cell--non-numeric">{% trans %}currency.table.label.symbol{% endtrans %}</th>
                <th class="mdl-data-table__cell--non-numeric">{% trans %}currency.table.label.name{% endtrans %}</th>
                <th class="mdl-data-table__cell--non-numeric cell-actions">{% trans %}currency.table.label.action{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td class="mdl-data-table__cell--non-numeric" data-th="{% trans %}currency.table.label.code{% endtrans %}"><a href="{{ path('manage_currency_show', { 'id': entity.id }) }}">{{ entity.code }}</a> ({{ entity.id }})</td>
                <td class="mdl-data-table__cell--non-numeric" data-th="{% trans %}currency.table.label.symbol{% endtrans %}">{{ entity.htmlSymbol }}</td>
                <td class="mdl-data-table__cell--non-numeric" data-th="{% trans %}currency.table.label.name{% endtrans %}">{{ entity.name }}</td>
                <td class="mdl-data-table__cell--non-numeric cell-actions" data-th="{% trans %}currency.table.label.action{% endtrans %}">
                    <ul class="table-actions">
                        <li>
                            <a href="{{ path('manage_currency_show', { 'id': entity.id }) }}" title="{% trans %}currency.table.actions.view{% endtrans %}"><i class="fa fam-view"></i></a>
                        </li>
                        <li>
                            <a href="{{ path('manage_currency_edit', { 'id': entity.id }) }}" title="{% trans %}currency.table.actions.edit{% endtrans %}"><i class="fa fam-edit"></i></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
