{% block dropzone %}

<form enctype="multipart/form-data" class="dropzone dropzone-form" action="{{ oneup_uploader_endpoint(context) }}" method="post" name="dropzone-form-{{ identifier }}" id="dropzone-form-{{ identifier }}">
    {{ form_widget(form) }}
</form>

{% endblock %}

{% javascripts '@toolkit_dropzone' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#dropzone-form-{{ identifier }}").toolkitDropzone({
                dictDefaultMessage: "{% trans %}media.dropzone.default_message{% endtrans %}"
            });
        });
    </script>
{% endjavascripts %}
