{% block dropzone %}

<form enctype="multipart/form-data" class="dropzone dropzone-form" action="{{ oneup_uploader_endpoint(context) }}" method="post" name="dropzone-form-{{ identifier }}" id="dropzone-form-{{ identifier }}">
    {% if close_button %}
        <div class="dropzone-form-close dropzone-form-{{ identifier }}"><i class="fa fa-times-circle"></i></div>
    {% endif %}
    {{ form_widget(form) }}
</form>

{% if media_placeholder_image %}
    <div class="media-placeholder-image dropzone-form-{{ identifier }}">
        <div class="edit">
            <div id="overlay">
                <i style="color:red;" class="fa fa-times fa-2x"></i>
            </div>
        </div>
        <div class="new">
            <i class="fa fa-picture-o fa-3x"></i>
            <span>Click to upload</span>
        </div>
    </div>
{% endif %}

{% endblock %}

{% javascripts '@toolkit_dropzone' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#dropzone-form-{{ identifier }}").toolkitDropzone(
                "{{ media_field_id }}",
                {
                    dictDefaultMessage: "{% trans %}media.dropzone.default_message{% endtrans %}"
                },
                {
                    {% if existing_media %}
                        id: {{ existing_media.id }},
                        path: "{{ existing_media.getRelativePath }}",
                        filename: "{{ existing_media.getHashedFilename }}"
                    {% endif %}
                }
            );
        });
    </script>
{% endjavascripts %}
