{% extends '::base.html.twig' %}
{% block title %}{% trans %}media.title.edit{% endtrans %} {{ entity.filename }}{% endblock %}

{% block body -%}
    <h1>Edit {{ entity.filename }}</h1>

    {{ form(edit_form) }}

    {#{{ render(controller('BrandBundle:Brand:createDropZoneForm')) }}#}

    <ul class="record_actions">
        <li>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('media') }}"><i class="fa fa-arrow-circle-left"></i> {% trans %}media.actions.back{% endtrans %}</a>
        </li>
    </ul>
    {#{{ form_javascript(form) }}#}
{% endblock %}
