{% extends '::base.html.twig' %}
{% block title %}{% trans %}transport.title.index{% endtrans %}{% endblock %}
{% block page_title %}{% trans %}transport.page_title.index{% endtrans %}{% endblock %}

{% block body -%}

    <ul class="record_actions">
        <li>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('manage_transport_new') }}"><i class="fa fa-plus-circle"></i> {% trans %}transport.actions.create_new{% endtrans %}</a>
        </li>
    </ul>

    <table class="mdl-data-table mdl-js-data-table">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">{% trans %}transport.table.label.name{% endtrans %}</th>
                <th class="mdl-data-table__cell--non-numeric cell-actions">{% trans %}transport.table.label.action{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td class="mdl-data-table__cell--non-numeric"><a href="{{ path('manage_transport_show', { 'id': entity.id }) }}">{{ entity.name }}</a> ({{ entity.id }})</td>
                <td class="mdl-data-table__cell--non-numeric cell-actions">
                    <ul class="table-actions">
                        <li>
                            <a href="{{ path('manage_transport_show', { 'id': entity.id }) }}" title="{% trans %}transport.table.actions.view{% endtrans %}"><i class="fa fam-view"></i></a>
                        </li>
                        <li>
                            <a href="{{ path('manage_transport_edit', { 'id': entity.id }) }}" title="{% trans %}transport.table.actions.edit{% endtrans %}"><i class="fa fam-edit"></i></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
