<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8" />

    <title>{% block title %}Welcome{% endblock %} | eToolkit</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    {# <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css"> #}

    {# Google Material Design (Lite) Stuff #}
    <link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-pink.min.css">
    <script src="//storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">

    {# HEY LOOK HERE: All this crap is required for Sonata Datepicker form field types - figure out to use with assetic
        <script type="text/javascript" src="/bundles/sonatacore/public/vendor/moment/min/moment.min.js"></script>
        <script type="text/javascript" src="path_to_bootstrap.min.js"></script>
        <script type="text/javascript"  src="/bundles/sonatacore/public/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
        <link rel="stylesheet" href="/bundles/sonatacore/public/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    #}

    {% stylesheets filter="compass" "@AppBundle/Resources/assets/css/sass/main.scss" %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {% javascripts '@jquery' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

</head>

<body class="user-{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}{{ app.user.id }}{% else %}0{% endif %}">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--overlay-drawer-button">

    <div class="mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="demo-drawer-header">
            <img src="//www.getmdl.io/templates/dashboard/images/user.jpg" class="demo-avatar">
            <div class="demo-avatar-dropdown">
                <span>hello@example.com</span>
                <div class="mdl-layout-spacer"></div>
                <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                    <i class="material-icons">arrow_drop_down</i>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
                    <li class="mdl-menu__item">hello@example.com</li>
                    <li class="mdl-menu__item">info@example.com</li>
                    <li class="mdl-menu__item"><i class="material-icons">add</i>Add another account...</li>
                </ul>
            </div>
        </header>
        <span class="mdl-layout-title">Title</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
        </nav>
    </div><!-- mdl-layout__drawer -->

    <main class="mdl-layout__content">





    <div class="header-top">

        {# Display admin menu only if the user is BRAND or higher ROLE #}
        {% if is_granted("ROLE_BRAND") %}
            <div class="admin-menu">
                {% block admin_menu %}
                    {{ knp_menu_render('admin_menu', {'currentClass': 'active'})  }}
                {% endblock %}
            </div>
        {% endif %}

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="login">
                <ul>
                    <li>
                        <span>My account</span>
                        <ul>
                            <li><span>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</span></li>
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        {% else %}
            {# <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a> #}
        {% endif %}

    </div>

    <div class="flash-messages">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-message flash-message-notice">Notice:<br>{{ flashMessage }}</div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="flash-message flash-message-error">Error:<br>{{ flashMessage }}</div>
        {% endfor %}
    </div>

    <div class="header">

        <div class="brand_logo">
            {{ render(controller('BrandBundle:Default:index')) }}
        </div>

    </div>

    <div class="content">
        <div class="inner">
            {% block body %}{% endblock %}
        </div>
    </div>

    </main>

  </div>

    {% javascripts '@toolkit' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

</body>

</html>
