<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Welcome{% endblock %} | eToolkit</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css">

    {# Google Material Design (Lite) Stuff #}
    {{ render(controller('BrandBundle:Default:colors')) }}
    <script src="//storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet"
          href="//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">

    {# HEY LOOK HERE: All this crap is required for Sonata Datepicker form field types - figure out to use with assetic
        <script type="text/javascript" src="/bundles/sonatacore/public/vendor/moment/min/moment.min.js"></script>
        <script type="text/javascript" src="path_to_bootstrap.min.js"></script>
        <script type="text/javascript"  src="/bundles/sonatacore/public/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
        <link rel="stylesheet" href="/bundles/sonatacore/public/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    #}

    {% stylesheets filter="compass" "@AppBundle/Resources/assets/css/sass/main.scss" %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {% stylesheets filter="cssrewrite" "@jqueryuicss"%}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    {% javascripts '@jquery' '@jqueryui' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/spectrum/1.7.0/spectrum.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/spectrum/1.6.1/spectrum.min.css">

    {{ render(controller('BrandBundle:Default:styles')) }}

</head>

<body class="user-{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}{{ app.user.id }}{% else %}0{% endif %}">
<div class="mdl-layout mdl-js-layout{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %} mdl-layout--fixed-drawer mdl-layout--overlay-drawer-button{% endif %}">

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <div class="mdl-layout__drawer">

        <header class="tui-drawer-header">
            {% if app.user.media %}
                <span class="tui-image-avatar">{% media app.user.media, 'small' %}</span>
            {% elseif app.user.firstName and app.user.lastName %}
                <span class="tui-text-avatar mdl-typography--headline">{{ app.user.firstName[:1] }}{{ app.user.lastName[:1] }}</span>
            {% else %}
                <span class="tui-text-avatar mdl-typography--headline">{{ app.user.username[:1] }}</span>
            {% endif %}
            <div class="tui-avatar-dropdown">
                <span>{{ app.user.username }}</span>
                <div class="mdl-layout-spacer"></div>
                <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                    <i class="material-icons">arrow_drop_down</i>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
                    <li><a class="mdl-menu__item" href="{{ path('user_show', { 'id': app.user.id }) }}">View</a></li>
                    <li><a class="mdl-menu__item" href="{{ path('user_edit', { 'id': app.user.id }) }}">Edit</a></li>
                    <li><a class="mdl-menu__item" href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a></li>
                </ul>
            </div>
        </header>

        {# Display admin menu only if the user is BRAND or higher ROLE #}
        {% if is_granted("ROLE_BRAND") %}
            <nav class="mdl-navigation">
                {% block admin_menu %}
                    {{ knp_menu_render('admin_menu', {'currentClass': 'active'})  }}
                {% endblock %}
            </nav>
        {% endif %}

    </div><!-- mdl-layout__drawer -->
    {% endif %}

    <main class="mdl-layout__content">

        <div class="flash-messages">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-message flash-message-notice">Notice:<br>{{ flashMessage }}</div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="flash-message flash-message-error">Error:<br>{{ flashMessage }}</div>
            {% endfor %}
        </div>

        <div class="header">
            <div class="brand_logo">
                {{ render(controller('BrandBundle:Default:index')) }}
            </div>
        </div>

        <div class="content">
            <div class="inner">
                {% block body %}{% endblock %}
            </div>
        </div>

    </main>

</div>
<!-- mdl-layout -->

{% javascripts '@toolkit' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

</body>

</html>
