<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Welcome{% endblock %} | eToolkit</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    {# Google Material Design (Lite) Stuff #}
    <script src="//storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet"
          href="//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">

    {# Dropzone and Flexslider CSS #}
    {% stylesheets filter='cssrewrite' '@AppBundle/Resources/assets/css/flexslider.css' '@AppBundle/Resources/assets/css/dropzone.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}

    {# jQuery UI CSS #}
    {% stylesheets filter="cssrewrite" 'bundles/app/css/jquery-ui/jquery-ui.css' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}">
    {% endstylesheets %}
    {% image '@AppBundle/Resources/public/css/jquery-ui/images/*' %}{% endimage %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">

    {% javascripts '@jquery' '@jqueryui' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/spectrum/1.7.0/spectrum.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/spectrum/1.6.1/spectrum.min.css">

    <link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-pink.min.css">

    {% stylesheets filter="compass" "@AppBundle/Resources/assets/css/sass/main.scss" %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {{ render(controller('BrandBundle:Default:colors')) }}

</head>

<body class="user_{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}{{ app.user.id }}{% else %}0{% endif %}">

<div class="base-site toolkit-layout {% if is_granted("ROLE_BRAND") %}toolkit-fixed-drawer{% else %}toolkit-no-drawer{% endif %}">

    {# Display admin menu only if the user is BRAND or higher ROLE #}
    {% if is_granted("ROLE_BRAND") %}
        {% embed "fragments/admin_menu.html.twig" %}{% endembed %}
    {% endif %}

    <main class="toolkit-main">

        <div class="flash-messages snack-wrap">
            <input type="checkbox" class="snackclose animated" id="close">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-message flash-message-notice snackbar animated">
                    <strong>Notice: </strong>{{ flashMessage }}
                    <label class="flash-close" for="close"><i class="fa fa-times-circle"></i> close</label>
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="flash-message flash-message-error snackbar animated">
                    <strong>Error: </strong>{{ flashMessage }}
                    <label class="flash-close" for="close"><i class="fa fa-times-circle"></i> close</label>
                </div>
            {% endfor %}
        </div>

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="header mdl-layout__header">
              <div class="sizer">
                {% embed "fragments/header.html.twig" %}{% endembed %}

                {% block back_link %}{% endblock %}

                <div class="page-title">
                    <div class="title-actions">
                        <h1>{% block page_title %}{% endblock %}</h1>

                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            {% block page_title_menu %}{% endblock %}
                        {% endif %}
                    </div>
                </div>
              </div>
            </div><!-- header -->
        {% else %}
            <div class="brand_logo_login">
                {{ render(controller('BrandBundle:Default:index')) }}
            </div>
        {% endif %}

        <div class="content">
          <div class="sizer">
            <div class="inner">
                {% block body %}{% endblock %}
            </div>
          </div>
        </div>

    </main>

</div><!-- toolkit-layout -->

<div id="loader"><i class="loader-icon fa fa-spinner fa-pulse"></i></div>

{% javascripts '@AppBundle/Resources/assets/js/dropzone.js' '@ckeditorcustomsettings' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% javascripts '@toolkit' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

</body>

</html>
