<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Welcome{% endblock %} | eToolkit</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    {# Google Material Design (Lite) Stuff #}
    <script src="//storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet"
          href="//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">

    {# Dropzone and Flexslider CSS #}
    {% stylesheets filter='cssrewrite' '@AppBundle/Resources/assets/css/flexslider.css' '@AppBundle/Resources/assets/css/dropzone.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}

    {# jQuery UI CSS #}
    {% stylesheets filter="cssrewrite" 'bundles/app/css/jquery-ui/jquery-ui.css' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}">
    {% endstylesheets %}
    {% image '@AppBundle/Resources/public/css/jquery-ui/images/*' %}{% endimage %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">

    {% javascripts '@jquery' '@jqueryui' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/spectrum/1.7.0/spectrum.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/spectrum/1.6.1/spectrum.min.css">

    {{ render(controller('BrandBundle:Default:colors')) }}

<div class="marketing-site toolkit-layout {% if is_granted("ROLE_BRAND") %}toolkit-fixed-drawer{% endif %}">

    {# Display admin menu only if the user is BRAND or higher ROLE #}
    {% if is_granted("ROLE_BRAND") %}
        {% embed "fragments/admin_menu.html.twig" %}{% endembed %}
    {% endif %}

    <main class="toolkit-main{% if (entity.quoteVersionReference is defined)  %} tour {% else %} QuoteVersion {% endif %}">

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="header mdl-layout__header">
                <div class="flash-messages">
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div class="flash-message flash-message-notice">Notice:<br>{{ flashMessage }}</div>
                    {% endfor %}
                    {% for flashMessage in app.session.flashbag.get('error') %}
                        <div class="flash-message flash-message-error">Error:<br>{{ flashMessage }}</div>
                    {% endfor %}
                </div>

                {% embed "fragments/header.html.twig" %}{% endembed %}

                {% block back_link %}{% endblock %}

                <div class="page-title">
                    {% block edit_link %}{% endblock %}
                    
                    <h1>{% block page_title %}{% endblock %}</h1>
                </div>
            </div><!-- header -->
        {% endif %}

        {% block sub_header %}{% endblock %}

        <div class="content">
            <div class="inner">
                {% block body %}{% endblock %}
            </div>
        </div>

        <footer class="mdl-mini-footer site-footer">
            <div class="mdl-mini-footer__left-section left-section">
                {% block footer_left %}{% endblock %}
            </div>
            <div class="mdl-mini-footer__right-section right-section">
                {% block footer_right %}{% endblock %}
                {{ render(controller('BrandBundle:Default:footer')) }}
            </div>
        </footer>

    </main>

</div><!-- toolkit-layout -->

<div id="loader"><img src="{{ asset('bundles/quote/images/loader.gif') }}"></div>

{% javascripts '@toolkit' '@AppBundle/Resources/assets/js/dropzone.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

</body>

</html>
