<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Welcome{% endblock %}</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    {# Google Material Design (Lite) Stuff #}
    <script src="//storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet"
          href="//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">

    {# Dropzone and Flexslider CSS #}
    {% stylesheets filter='cssrewrite' '@AppBundle/Resources/assets/css/flexslider.css' '@AppBundle/Resources/assets/css/dropzone.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}

    {# jQuery UI CSS #}
    {% stylesheets filter="cssrewrite" 'bundles/app/css/jquery-ui/jquery-ui.css' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}">
    {% endstylesheets %}
    {% image '@AppBundle/Resources/public/css/jquery-ui/images/*' %}{% endimage %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">

    {% javascripts '@jquery' '@jqueryui' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/spectrum/1.7.0/spectrum.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/spectrum/1.6.1/spectrum.min.css">

    <link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-pink.min.css">

    {% stylesheets filter="compass" "@AppBundle/Resources/assets/css/sass/main.scss" %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {{ render(controller('BrandBundle:Default:colors')) }}

    {#Google Tag Manager#}
    {% include "GtmBundle:Gtm:gtm.html.twig" %}


</head>

<body class="user_{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}{{ app.user.id }}{% else %}0{% endif %}">

<div class="marketing-site toolkit-layout {% if is_granted("ROLE_BRAND") %}toolkit-fixed-drawer{% else %}toolkit-no-drawer{% endif %}">

    {# Display admin menu only if the user is BRAND or higher ROLE #}
    {% if is_granted("ROLE_BRAND") %}
        {% embed "fragments/admin_menu.html.twig" %}{% endembed %}
    {% endif %}

    <main class="toolkit-main{% if (entity.quoteVersionReference is defined)  %} tour {% else %} QuoteVersion {% endif %}">

        {{ render_flash_alerts() }}


        {#<div class="flash-messages snack-wrap">#}
            {#<input type="checkbox" class="snackclose animated" id="close"/>#}
            {#{% for flashMessage in app.session.flashbag.get('notice') %}#}
                {#<div class="flash-message flash-message-notice snackbar animated">#}
                    {#<strong>Notice: </strong>{{ flashMessage | raw }}#}
                    {#<label class="flash-close" for="close"><i class="fa fa-times-circle"></i> close</label>#}
                {#</div>#}
            {#{% endfor %}#}
            {#{% for flashMessage in app.session.flashbag.get('error') %}#}
                {#<div class="flash-message flash-message-error snackbar animated">#}
                    {#<strong>Error: </strong>{{ flashMessage | raw }}#}
                    {#<label class="flash-close" for="close"><i class="fa fa-times-circle"></i> close</label>#}
                {#</div>#}
            {#{% endfor %}#}
        {#</div>#}

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="header mdl-layout__header">
              <div class="sizer">
                {% embed "fragments/header.html.twig" %}{% endembed %}

                {% block back_link %}{% endblock %}

                  <div class="page-title">
                      <div class="link-preview-edit">{% block edit_link %}{% endblock %}</div>

                      <div class="title-actions">
                          <h1>{% block page_title %}{% endblock %}</h1>

                          {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                              {% block page_title_menu %}{% endblock %}
                          {% endif %}
                      </div>
                  </div>
              </div>
            </div><!-- header -->
        {% endif %}

        {% block sub_header %}{% endblock %}

        <div class="content">
          <div class="sizer">
            <div class="inner">
                {% block body %}{% endblock %}
            </div>
          </div>
        </div>

        <footer class="mdl-mini-footer site-footer">
          <div class="sizer">
            <div class="mdl-mini-footer__right-section footer-right-section">
                {% block footer_right %}{% endblock %}
            </div>
            <div class="mdl-mini-footer__left-section footer-left-section">
                {% block footer_left %}{% endblock %}
            </div>
            <div class="mdl-mini-footer__left-section footer-full-section">
                <div class="footer-editor">{{ render(controller('BrandBundle:Default:footer')) }}</div>
            </div>
          </div>
        </footer>

    </main>

</div><!-- toolkit-layout -->

<div id="loader"><div class="loader-icon mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div></div>

{% if locale is defined %}
    <div id="locale" style="display: none">{{ locale }}</div>
{% endif %}

{% javascripts '@toolkit' '@AppBundle/Resources/assets/js/dropzone.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

</body>

</html>
