

{% block body -%}
    <style>
        #ui-datepicker-div {
            z-index: 200 !important;
        }
    </style>
    <p>{{ 'payment.form.refund_message' | trans ({ '%tourname%': tour.name }) }}</p>

    <div class="errors">
        {{ form_errors(form) }}
    </div>

    {{ form_start(form) }}

    {{ form_widget(form.value) }}
    {{ form_widget(form.passenger) }}
    {{ form_widget(form.date) }}
    {{ form_widget(form.note) }}

    {{ form_widget(form.tour) }}


    {{ form_rest(form) }}
    {{ form_end(form) }}

    <ul class="record_actions">
        <a href="" class="cancel">Cancel</a>
    </ul>
    {{ form_javascript(form) }}

    <script>
        $(document).ready(function () {
            $(document).on('click', 'a.cancel', function(e) {
                e.preventDefault();
                $("#dialog").html("");
                $("#dialog").dialog("close");
            });

            //Bind the ajax form
            $('#ajax_new_refund_form').on('submit', function(e) {
                $("#loader").css("display", "block");
                e.preventDefault();
                var formAction = $(this).attr('action');
                var form =$(this);
                $.ajax({
                    url: formAction,
                    type: 'POST',
                    headers: {
                        "Pragma": "no-cache",
                        "Expires": -1,
                        "Cache-Control": "no-cache"
                    },
                    data: $('#ajax_new_refund_form').serialize(),
                    contentType: "application/x-www-form-urlencoded",
                }).success(function (response) {
                    $("#dialog").html("");
                    $("#dialog").dialog("close");
                    $(window).scrollTop(0);
                    window.location.reload(true);
                }).error(function (response) {
                    $("#loader").hide();
                    var parsed = $.parseJSON(response.responseText);
                    $.each(parsed, function(i, item) {
    //
                    });
                });
            });

        });

    </script>

{% endblock %}
