{% extends '::site-base.html.twig' %}
{% if 'en_GB' in locale %} {% set format = 'd M Y' %} {% else %} {% set format = 'M d Y' %} {% endif %}
{% set payingSpotsRemaining = tour.payingPlaces - (statusCounts.passenger.accepted + statusCounts.organizer.accepted)  %}
{% set freeSpotsRemaining = tour.freePlaces - (statusCounts.passenger.free + statusCounts.organizer.free)  %}

{% block title %}
    {% if is_granted("ROLE_BRAND") %}
        {{ tour.name }} {% trans %}passenger.title.show{% endtrans %}
    {% else %}
        {{ tour.name }}
    {% endif %}
{% endblock %}

{% block page_title %}
    <span xmlns="http://www.w3.org/1999/html">{% trans %}passenger.page_title.index{% endtrans %}</span>
{% endblock %}

{% block page_title_menu %}
    {% embed "TourBundle:Tour:tourMenu.html.twig" %}
    {% endembed %}
{% endblock %}

{% block body -%}

    <div class="tour-show-wrapper site-show" entityId="{{ tour.id }}">

        <div class="tour-show-left-column">
            <div class="intro-text">
                <p>{% trans %} passenger.labels.welcome_title {% endtrans %}</p>
                <p>{% trans %} passenger.labels.welcome_invite_passengers {% endtrans %}</p>
                <p>{% trans %} passenger.labels.welcome_invite_organisers {% endtrans %}</p>
                <p>{% trans %} passenger.labels.welcome_parent_activation {% endtrans %}</p>
                {% if unactivatedCount > 0 %}
                    <a href="{{ path('activate_all_passengers', { 'tourId': tour.id }) }}"
                       title ="{% trans %}passenger.actions.send_activation_description{% endtrans %}"
                       class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored caller-btn"
                       onclick="return confirm('{% trans %}passenger.actions.send_message{% endtrans %}')">
                        <i style="vertical-align:middle;" class="material-icons">email</i> {% trans %}passenger.actions.send_activation{% endtrans %}
                    </a>
                {% endif %}

                <a id="accept-tour" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored passenger-dashboard-buttons" href="#"><i class="fa fa-user-plus"></i>{% trans %}passenger.labels.add{% endtrans %}</a>
                <a class="mdl-button mdl-button--raised mdl-button--colored passenger-dashboard-buttons" href="{{ path('passenger_export', { 'type': 'organizer', 'tourId': tour.id }) }}"><i class="fa fa-download"></i>{% trans %}passenger.labels.export-organizer{% endtrans %}</a>
                {% if is_granted('ROLE_BRAND') %}
                    <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored passenger-dashboard-buttons" href="{{ path('passenger_export', { 'type': 'brand', 'tourId': tour.id }) }}">{% trans %}passenger.labels.export-manifest{% endtrans %}</a>
                    {% endif %}
                <div style="clear: both"></div>
            </div>
            <div class="text-search">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input id="passenger-name-filter" class="mdl-textfield__input" type="text" />
                    <label class="mdl-textfield__label" for="passenger-name-filter">Enter name or email...</label>
                </div>
            </div>
            <a href="#" style="float:right; text-decoration: none; color: {{ brand.secondaryColor }} !important;" class="passenger-filter" id="clear-filters" data-id="showEveryone"><i class="material-icons md-18">undo</i> {% trans %} passenger.labels.show-everyone{% endtrans %}</a><br>
            <div class="list-header" style="color: {{ brand.secondaryColor }}"><i class="material-icons">flight_takeoff</i> {% trans %} passenger.labels.passengers_for{% endtrans %}</div>
            <ul class="tour-show-submenu list-indent">
                <li><a class="passenger-filter" style="color: {{ brand.primaryColor }}; text-decoration: none;" href="#" data-id="showAllPassengers"><strong>{% trans %}passenger.labels.all-passengers{% endtrans %} <span id="allPassengers">({{ statusCounts.passenger.accepted + statusCounts.organizer.accepted + statusCounts.passenger.free + statusCounts.organizer.free }})</span></strong></a></li>
                <li><a class="passenger-filter" style="color: {{ brand.primaryColor }}; text-decoration: none;" href="#" data-id="showAcceptedPassengers"><strong>{{ "accepted" | paxLabel }} <span id="acceptedPassengers">({{ statusCounts.passenger.accepted }})</span></strong></a></li>
                <li><a class="passenger-filter" style="color: {{ brand.primaryColor }}; text-decoration: none;" href="#" data-id="showWaitlistPassengers"><strong>{{ "waitlist" | paxLabel }} <span id="waitlistPassengers">({{ statusCounts.passenger.waitlist }})</span></strong></a></li>
                <li><a class="passenger-filter" style="color: {{ brand.primaryColor }}; text-decoration: none;" href="#" data-id="showFreePassengers"><strong>{{ "free" | paxLabel }} <span id="freePassengers">({{ statusCounts.passenger.free}})</span></strong></a></li>
            </ul>
            <div class="list-header" style="color: {{ brand.secondaryColor }}"><i class="material-icons">group_add</i> {% trans %} passenger.labels.organizers_for{% endtrans %}</div>
            <ul class="tour-show-submenu list-indent">
                <li><a class="passenger-filter" style="color: {{ brand.primaryColor }}; text-decoration: none;" href="" data-id="showAllOrganizers"><strong>{% trans %}passenger.labels.all-organizers{% endtrans %} <span id="allOrganizers">({{ statusCounts.organizer.accepted + statusCounts.organizer.waitlist + statusCounts.organizer.free }})</span></strong></a></li>
                <li><a class="passenger-filter" style="color: {{ brand.primaryColor }}; text-decoration: none;" href="" data-id="showAcceptedOrganizers"><strong>{{ "accepted" | paxLabel }} <span id="acceptedOrganizers">({{ statusCounts.organizer.accepted  }})</span></strong></a></li>
                <li><a class="passenger-filter" style="color: {{ brand.primaryColor }}; text-decoration: none;" href="" data-id="showWaitlistOrganizers"><strong>{{ "waitlist" | paxLabel }} <span id="waitlistOrganizers">({{ statusCounts.organizer.waitlist  }})</span></strong></a></li>
                <li><a class="passenger-filter" style="color: {{ brand.primaryColor }}; text-decoration: none;" href="" data-id="showFreeOrganizers"><strong>{{ "free" | paxLabel }} <span id="freeOrganizers">({{ statusCounts.organizer.free  }})</span></strong></a></li>
            </ul>

            {#<div class="tour-edit-organizer-left">#}
                {#<label>{% trans %}tour.show.organizers{% endtrans %}</label><br>#}
                {#{% if tour.organizer.media %}#}
                    {#<img class="tui-image-avatar" src="{{ ( tour.organizer.media.getRelativePath ~ "/" ~ tour.organizer.media.getHashedFilename ) | imagine_filter('thumbnail') }}" alt="{{ tour.organizer.username }}">#}
                {#{% elseif tour.organizer.firstName and tour.organizer.lastName %}#}
                    {#<span class="tui-text-avatar mdl-typography--headline">{{ tour.organizer.firstName[:1] }}{{ tour.organizer.lastName[:1] }}</span>#}
                {#{% else %}#}
                    {#<span class="tui-text-avatar mdl-typography--headline">{{ tour.organizer.username[:1] }}</span>#}
                {#{% endif %}#}
                {#<a class="add-organizer" href="#"><i class="add-icon fa fa-plus"></i></a>#}
                {#<a class="add-organizer mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="#">Add/remove organizers</a>#}
            {#</div>#}
        </div>

        <div class="tour-show-right-column">
            {# Passenger CTA Card #}
            <div id="passenger-card" class="passenger-cta-card tour-edit mdl-card mdl-shadow--2dp passenger-dashboard-cta-card">

                <div class="tour-edit mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title">
                            <h3 class="mdl-card__title-text">{% trans %}passenger.labels.passenger_list{% endtrans %}</h3>
                        </div>
                    </a>
                    <div id="signup-progress" class="mdl-progress mdl-js-progress" style="width: 100%;"></div>
                    <div class="mdl-card__supporting-text mdl-card--border profile-tour-details">
                        <ul>
                            <li>
                                <div class="profile-list-item item-1 tour-dashboard four-column">
                                    <span class="date-span">{{ statusCounts.organizer.accepted + statusCounts.organizer.free }}</span>
                                    <label>
                                        {% if statusCounts.organizer.accepted + statusCounts.organizer.free == 1 %}
                                            {% trans %}tour.dashboard.organizer_count_single{% endtrans %}
                                        {% else %}
                                            {% trans %}tour.dashboard.organizer_count_plural{% endtrans %}
                                        {% endif %}
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="profile-list-item item-2 tour-dashboard four-column">
                                    <span class="date-span">{{ statusCounts.passenger.accepted }}</span>
                                    <label>{{ "accepted" | paxLabel }} of {{ entity.payingPlaces }}</label>
                                </div>
                            </li>
                            <li>
                                <div class="profile-list-item item-3 tour-dashboard four-column">
                                    <span class="date-span">{{ statusCounts.passenger.free }}</span>
                                    <label>{{ "free" | paxLabel }} of {{ entity.freePlaces }}</label>
                                </div>
                            </li>
                            <li>
                                <div class="profile-list-item item-4 tour-dashboard four-column">
                                    <span class="date-span">{{ statusCounts.passenger.waitlist  }} </span>
                                    <label>{{ "waitlist" | paxLabel }}</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            {# Organizer CTA Card #}
            <div class="organizer-cta-card tour-edit mdl-card mdl-shadow--2dp" style="margin-bottom: 0; box-shadow: none; display:none;">

                <div class="mdl-card__title">
                    <h3 id="organizer-card-title" class="mdl-card__title-text">{% trans %}passenger.labels.passenger_list{% endtrans %}</h3>
                </div>

                <div class="mdl-card__supporting-text mdl-card--border" style="color:grey;">
                    <div style="float:left; width:80%" >
                        <div class="paying-passengers-title"><h3>{% trans %}passenger.labels.add-organizer{% endtrans %}</h3></div>
                        <div style="clear:both;">
                            <a href="" class="show-invite-form mdl-button mdl-js-button mdl-button--raised mdl-button--colored passenger-dashboard-buttons"><i class="fa fa-users"></i>{% trans %}passenger.actions.invite-organizers{% endtrans %}</a>
                        </div>
                    </div>
                    {#<div style="float:left;" class="passenger-count">#}
                        {#&#123;&#35; Accepted/Paying Summary &#35;&#125;#}
                        {#<p style="color: {{ brand.primaryColor }}" class="payingspots-remaining spots-remaining">{{ payingSpotsRemaining }}</p>#}
                        {#<p class="spots-remaining-copy"><strong>{% trans %}passenger.labels.remaining{% endtrans %}<br>{{ 'accepted' | paxLabel }}</strong></p>#}
                        {#&#123;&#35; Free Summary &#35;&#125;#}
                        {#<p style="color: {{ brand.primaryColor }}; padding-top:.5em;" class="freespots-remaining spots-remaining">{{ freeSpotsRemaining }}</p>#}
                        {#<p class="spots-remaining-copy"><strong>{% trans %}passenger.labels.remaining{% endtrans %}<br>{{ 'free' | paxLabel }}</strong></p>#}
                    {#</div>#}
                        {# render the Invite organizer form #}
                        <div style="clear:both;">
                         {{ render(controller( 'PassengerBundle:Passenger:inviteOrganizer', {'tourId' : tour.id} )) }}
                        </div>

               </div>
            </div>
                {% for passenger in passengers %}

                    {% set signedUp = '' %}
                    {% if passenger[0].status == "accepted" %}
                        {% set statusicon =  '<a class="' ~ passenger[0].status ~ 'icon" title = "' ~ passenger[0].status | paxLabel ~ '"><i class="material-icons statusicon">verified_user</i></a>'%}
                        {% set status = 'accepted' %}
                    {% else %}
                        {% set statusicon = '<a class="' ~ passenger[0].status ~ 'icon" title = "' ~ passenger[0].status | paxLabel ~ '"><i class="material-icons statusicon">list</i></a>'%}
                        {% set status = 'waitlist' %}
                        {% set signedUp = 'Signed up on ' ~ passenger[0].signUpDate|date(format)  %}
                    {% endif %}

                    {% if passenger[2] is sameas(TRUE) %} {# is this an organizer? #}
                        {% set organizericon = '<a class="organizer-card" title = "' ~ 'passenger.labels.organizer' | trans ~ '"><i class="material-icons">group_add</i></a>' %}
                        {% set paxClass = "organizers" %}
                        {% if tour.organizer.id == passenger[1].id %}
                            {% set signedUp = 'passenger.labels.primary-organizer' | trans %}
                        {% else %}
                            {% if passenger[0].signUpDate == null %} {# Pending Invite #}
                                {% set statusicon = '<a class="' ~ passenger[0].status ~ 'icon" title = "' ~ passenger[0].status | paxLabel ~ '"><i class="material-icons">live_help</i></a>' %}
                                {% set signedUp = 'passenger.labels.invite-pending' | trans %}  {% endif %}
                            {% if passenger[1].enabled is sameas(true) and passenger[0].signUpDate != null %}
                                {% set signedUp = 'passenger.labels.assistant-organizer' | trans %}  {% endif %}
                        {% endif %}
                    {% else %}
                        {% set organizericon = '' %}
                        {% set paxClass = "passengers" %}
                    {% endif %}

                    {% if passenger[0].free == 1 %}
                        {% set freeLabel = "free" | paxLabel %}
                        {% set freeicon = '<a class="freeicon" title = "' ~ freeLabel ~ '"><i class="material-icons statusicon">money_off</i></a>' %}
                        {%  set freeClass = "free" %}
                        {% set statusicon = '' %}
                        {% set status = '' %}
                        {% set signedUp = '' %}
                    {% else %}
                        {% set freeClass = '' %}
                        {% set freeicon = '' %}
                    {% endif %}
                    <div class="{{ status }} {{ freeClass }} {{ paxClass }} tour-edit mdl-shadow--2dp" style="background-color:white; margin-bottom: 0;" passenger="{{ passenger[0].id }}">
                        <div class="mdl-card__supporting-text mdl-card--border" style="color:grey;">
                            <div style="float: left; color: grey;" class="pcardname">
                            {% if passenger[0].media %}
                                <img style="float: left; margin-right: 15px;"  class="tui-image-avatar" src="{{ ( passenger[0].media.getRelativePath ~ "/" ~ passenger[0].media.getHashedFilename ) | imagine_filter('thumbnail') }}">
                            {% elseif passenger[0].fName and passenger[0].lName %}
                                <span style="float: left; margin-right: 15px;"  class="tui-text-avatar mdl-typography--headline">{{ passenger[0].fName[:1] }}{{ passenger[0].lName[:1] }}</span>
                            {% else %}
                                <span style="float: left; margin-right: 15px;"  class="tui-text-avatar mdl-typography--headline">{{ passenger[0].fName[:1] }}</span>
                            {% endif %}
                                <p class="mini-card-title forename"><strong>{{ passenger[0].fName }}</strong></p>
                                <p class="mini-card-title surname"><strong>{{ passenger[0].lName }}</strong></p>
                                <p class="mini-card-title email"><strong><a href="mailto:{{ passenger[1].email }}">{{ passenger[1].email }}</a></strong></p>
                                <label data-signup-date="{{ passenger[0].signUpDate|date("Y-m-d") }}" class="date" style="display: block; margin-left: 63px; min-width: 100%;">{{ statusicon | raw }} {{ freeicon | raw }}{#{{ organizericon | raw }}#} {{ signedUp }}</label>
                            </div>
                            {% if  passenger[0].status != "Pending Invite"%}
                                <button style="position: absolute; right: 20px; color:grey; margin-top:10px;" id="passenger-actions-menu-drop-{{ passenger[0].id }}" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                                    <i class="material-icons">more_vert</i>
                                </button>
                                {% embed "PassengerBundle:Passenger:passengerActionsMenu.html.twig" %}{% endembed %}
                            {% endif %}
                        </div>

                    </div>
                {% endfor %}

                <!-- render the organizers -->
                {#{% embed "PassengerBundle:Passenger:organizerList.html.twig" %} {% endembed %}#}

                {#<div style="clear: both; height: 150px;"></div>#}
        </div>
    </div>

    {% javascripts '@toolkit_passenger' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>

        (function(passengerStatus, $, undefined) {
            //Accepted Property
            passengerStatus.accepted = "{{ 'accepted' | paxLabel }}";
            //Waitlist Property
            passengerStatus.waitlist = "{{ 'waitlist' | paxLabel }}";
            //Free Property
            passengerStatus.free = "{{ 'free' | paxLabel }}";
            //Organizer property
            passengerStatus.organizer = "{{ 'passenger.labels.organizer' | trans }}";
            passengerStatus.passenger = "{{ 'passenger.labels.passenger' | trans }}";
            passengerStatus.all = "{{ 'passenger.labels.passenger_list' | trans }}";

            // Colors
            passengerStatus.primaryColor = "{{ brand.primaryColor }}";
            passengerStatus.secondaryColor = "{{ brand.secondaryColor }}";
            passengerStatus.tertiaryColor = "{{ brand.tertiaryColor }}";


        }( window.passengerStatus = window.passengerStatus || {}, jQuery ));

        $(document).ready(function () {
            if( window.location.hash ) {
                var hashFilter = window.location.hash;
                // Fragment exists
                filterPassengers(hashFilter.substring(1));
            }

                // Promote Popup
                $(document).on('click', '#invite-passengers', function (e) {
                    e.preventDefault();
                    var shareValue = "{{ url('tour_site_show', { 'id': tour.id, 'quoteNumber' : tour.quoteNumber }) }}";
                    var link_html = '<h3>Share this Tour with others</h3>' +
                                      '<div><p>To send this tour to others, copy the URL below.</p></div>' +
                                      '<div class="input"><input style="width:70%; padding:.25em; margin:1em;" type="text" id="share_url" name="share_url" value="' + shareValue + '" readonly="readonly">' +
                                      '<a href="#" id="copy-button" data-clipboard-target="share_url"' +
                                      'title="Click to copy Tour URL"' +
                                      'class="not-full mdl-button mdl-js-button mdl-button--raised mdl-button--colored">' +
                                      '<i class="fa fa-sign-in fa-stack"></i>' +
                                      '</a></div>';
                    toolkitStaticPopup("Promote the Tour", link_html);
                    // Copy to Clipboard
                    $('#copy-button').attr('brandPrimaryColor', '{{ brand.primaryColor }}').click(copyToClipboard);
                });

            // Tour Sign Up popup
            $(document).on('click', '#accept-tour', function (e) {
                e.preventDefault();
                var entityId = $('.site-show').attr('entityId');
                {% if user_is_organzier %}
                    var popupTitle = '{{ 'passenger.modals.organizer_title'|trans() }}';
                {% else %}
                    var popupTitle = '{{ 'passenger.modals.title'|trans() }}';
                {% endif %}
                toolkitStandardPopup(popupTitle, '/passenger/new/' + entityId);

            });

                // toggle invite form display
                $(document).on('click', '.show-invite-form', function (e) {
                    e.preventDefault();
                    $('.organizer-form-container').slideDown(400);
                    $('.show-invite-form').hide();


                });
                 $(document).on('click', '.hide-invite-form', function (e) {
                    e.preventDefault();
                    $('.organizer-form-container').slideUp(400);
                    $('.show-invite-form').show();


                });

                // bind Invite Organizer form and provide a simple callback function
                $('#ajax_invite_organizer').ajaxForm({
                    beforeSubmit: function(){
                        $('#loader').show();
                        $('.errors').html('');
                    },
                    clearForm: true,
                    success : function (response) {
                        // display success message
//                        $('.errors').html('<div id="invite-org-success" style="display:none;">An email invitation has been sent to ' + response[1] + ' ' + response[2] + '  at ' + response[0] + '.</div>');
//                        $('#invite-org-success').slideDown(400);
                        // increment organizer count
                        $('#organizerPassengers').html('(' + response[3] + ')');
                        // add an organizer card with waitlist and pending invite status
                        $('#organizer-cards-wrapper').prepend('<div class="tour-edit mdl-shadow--2dp" style="background-color:white; margin-bottom: 0;"><div class="mdl-card__supporting-text mdl-card--border" style="color:grey;"><div style="float: left; color: grey;"><span class="tui-text-avatar mdl-typography--headline">' + response[1].charAt(0) + response[1].charAt(0) + '</span><p style="display: inline-block"><strong>' + response[1] + '&nbsp;</strong></p><p style="display: inline-block"><strong>' + response[2] + '&nbsp;</strong></p><p style="display: inline-block"><strong>(Invited - Not yet responded.)</strong></p><p style="display: inline-block" class="organizer-Not Travelling "></p><p><a href="' + response[0] + '">' + response[0] + '</a></p></div></div></div>');
//                        $('#loader').hide();
                        location.reload(true);
                    },
                    error : function (response) {
                        $("#loader").hide();
                        var parsed = $.parseJSON(response.responseText);
                        $.each(parsed, function(i, item) {
                            field= '#form_' + i;
                            $(field).parent().parent().append('<p class="errors" style="color:red;">'+ item + '</p>');
                        });
                    }
                });

            // popup for passenger manifest warning
            $(document).on('click', '.pax-manifest', function (e){
                //e.preventDefault();
                confirm("You are not permitted to use this information until the Organiser has confirmed that all information is correct");
            });
        });
    </script>

{% endblock %}

{% block footer_left %}
    {% if app.user.email == tour.organizer.email%} {# Show Sales Agent Info to an Organizer#}
        {% if tour.salesAgent %}
            <span class="intro">
                    {{ brand.name }} {% trans %}tour.show.footer.intro_org{% endtrans %}
            </span>
            {% if tour.salesAgent.media %}
                <span class="tui-image-avatar">
                    <a href="mailto:{{ tour.salesAgent.email }}">
                        <img src="{{ ( tour.salesAgent.media.getRelativePath ~ "/" ~ tour.salesAgent.media.getHashedFilename ) | imagine_filter('thumbnail') }}" alt="{{ tour.salesAgent.username }}">
                    </a>
                </span>
            {% elseif tour.salesAgent.firstName and tour.salesAgent.lastName %}
                <span class="tui-text-avatar mdl-typography--headline">
                    <a href="mailto:{{ tour.salesAgent.email }}">
                        {{ tour.salesAgent.firstName[:1] }}{{ tour.salesAgent.lastName[:1] }}
                    </a>
                </span>
            {% else %}
                <span class="tui-text-avatar mdl-typography--headline">
                    <a href="mailto:{{ tour.salesAgent.email }}">
                        {{ tour.salesAgent.username[:1] }}
                    </a>
                </span>
            {% endif %}
            <span class="agent">
                {% if tour.salesAgent.displayName %}
                    {{ tour.salesAgent.displayName }}
                {% else %}
                    {{ tour.salesAgent.firstName }} {{ tour.salesAgent.lastName }}
                {% endif %}
                <br>
                <a href="mailto:{{ tour.salesAgent.email }}">{{ tour.salesAgent.email }}</a>
            </span>
        {% endif %}
    {% else %} {# Show organizer info to everyone but organizers #}
        {% if tour.organizer %}
            <span class="intro">
                    {% trans %}tour.show.footer.intro{% endtrans %}
            </span>
            {% if tour.organizer.media %}
                <span class="tui-image-avatar">
                    <a href="mailto:{{ tour.organizer.email }}">
                        <img src="{{ ( tour.organizer.media.getRelativePath ~ "/" ~ tour.organizer.media.getHashedFilename ) | imagine_filter('thumbnail') }}" alt="{{ tour.organizer.username }}">
                    </a>
                </span>
            {% elseif tour.organizer.firstName and tour.organizer.lastName %}
                <span class="tui-text-avatar mdl-typography--headline">
                    <a href="mailto:{{ tour.organizer.email }}">
                        {{ tour.organizer.firstName[:1] }}{{ tour.organizer.lastName[:1] }}
                    </a>
                </span>
            {% else %}
                <span class="tui-text-avatar mdl-typography--headline">
                    <a href="mailto:{{ tour.organizer.email }}">
                        {{ tour.organizer.username[:1] }}
                    </a>
                </span>
            {% endif %}
            <span class="agent">
                {% if tour.organizer.displayName %}
                    {{ tour.organizer.displayName }}
                {% else %}
                    {{ tour.organizer.firstName }} {{ tour.organizer.lastName }}
                {% endif %}
                <br>
                <a href="mailto:{{ tour.organizer.email }}">{{ tour.organizer.email }}</a>
            </span>
        {% endif %}
    {% endif %}
{% endblock %}

{% block footer_right %}
    <div class="quote-info">
        <span class="quote-label">{% trans %}tour.show.footer.price{% endtrans %}</span>
        <span class="quote-price">
            <strong>{% if tour.currency %}{{ tour.currency.htmlSymbol | raw }}{% endif %}{{ tour|price }}</strong>
        </span>
    </div>
{% endblock %}
