{% block body -%}

<div class="passenger-edit-form">
    <div class="errors">
        {{ form_errors(edit_form) }}
    </div>
    <div id="avatar-label" class="mdl-label-mimic">{% trans %}user.avatar.label{% endtrans %}</div>

    {{ render(controller('MediaBundle:Media:createDropzoneForm', {'context':'passenger', 'media_field_id':'tui_toolkit_passengerbundle_passenger_media', 'existing_media':entity.media})) }}

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form.fName) }}
    {{ form_widget(edit_form.lName) }}
    <label style="display: block; color:rgba(0,0,0,.26);">{% trans %}passenger.modals.dob{% endtrans %}</label>
    {{ form_widget(edit_form.dateOfBirth) }}
    {{ form_widget(edit_form.gender) }}
    <div style="display: none">{{ form_widget(edit_form.tourReference) }}</div>
    {{ form_rest(edit_form) }}
    {{ form_end(edit_form) }}
</div>

{% endblock %}
