{%  if 'en_GB' in locale %} {% set format = 'd M Y' %} {% else %} {% set format = 'M d Y' %} {% endif %}
{% set shortFormat = "d M" %}
{% block body -%}

    <div class="signup-form">
        <p style="text-align: center">{% trans %}passenger.modals.message{% endtrans %}</p>

        <div class="errors">
            {{ form_errors(form) }}
        </div>

        {{ form_start(form) }}

        <div id="guardian-form">
            <h5>Parent/Guardian</h5>
            <span>Please provide contact information for parents or guardians of the passenger(s).</span>
            {{ form_widget(form.firstName) }}
            {{ form_widget(form.lastName) }}
            {{ form_widget(form.email) }}


        </div>
        <div class="passenger-form" data-prototype="{{ form_widget(form.passengers.vars.prototype)|e }}">
            {% if errors is defined %}{{ errors }}{% endif %}
            {#<h5>Passenger</h5>#}
            {% for passenger in form.passengers %}
            {#<div class = "tour-edit mdl-card mdl-shadow--2dp">#}
                {#<div class="mdl-card__supporting-text">#}
                <ul class="passenger_info" taskid = "{{ passenger.vars.value.id }}">
                    <li>{{ form_widget(passenger.fName) }}</li>
                    <li>{{ form_widget(passenger.lName) }}</li>
                    <li>{{ form_widget(passenger.dateOfBirth) }}</li>
                    <li>{{ form_widget(passenger.gender) }}</li>
                </ul>
            {% endfor %}
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
    {#{% javascripts '@toolkit_siteshow' %}#}
    {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}
#}

    <script>

        var $collectionHolder;

        // setup an "add a tag" link
        var $addPassengerLink = $('<a href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored add_tag_link" title="Add Another Passenger"><i class="fa fa-plus"></i>Add Another Passenger</a>');
        var $newLinkDiv = $('<div></div>').append($addPassengerLink);


        {#var tourId = {{ tourId }};#}

        $(document).ready(function () {

            // Get the div that holds the collection of passengers
            $collectionHolder = $('div.passenger-form');

            // add a delete link to all of the existing passenger form ul elements
            $collectionHolder.find('ul.passenger_info').each(function() {
                addPassengerFormDeleteLink($(this), 'li');
            });

            // add the "add a Passenger" anchor and li to the Passenger div
            $collectionHolder.append($newLinkDiv);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addPassengerLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addPassengerForm($collectionHolder, $newLinkDiv);
            });

            $addPassengerLink.trigger("click");

            //Bind the ajax form
            $('#ajax_passenger_form').on('submit', function(e) {
                $("#loader").css("display", "block");
                e.preventDefault();
                var formAction = $(this).attr('action');
                var form =$(this);
                $.ajax({
                    url: formAction,
                    type: 'POST',
                    headers: {
                        "Pragma": "no-cache",
                        "Expires": -1,
                        "Cache-Control": "no-cache"
                    },
                    data: $('#ajax_passenger_form').serialize(),
                    contentType: "application/x-www-form-urlencoded",
                }).success(function (response) {
                    $("#loader").show();
                    $(window).scrollTop(0);
                    window.location.reload(true);
                }).error(function (response) {
                    $("#loader").hide();
                    var parsed = $.parseJSON(response.responseText);
                    count = 0;
                    $.each(parsed, function(i, item) {
                        field= '#tui_toolkit_passengerbundle_tourpassenger_' + i;
                        if(count=0){ scrolling = field;}
                        $(field).parent().prepend('<p style="color:red;">'+ item + '</p>');
                        count++;
                    });
                    if (typeof scrolling != undefined){
                        var top = $(scrolling).position().top;
                        $(window).scrollTop( top );
                        }
                });
            });

        });

        function addPassengerForm($collectionHolder, $newLinkDiv) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an div, before the "Add a Passenger" link div
            var $newFormDiv = $('<div class="new_passenger mdl-card mdl-shadow--2dp" task="' + index + '"><h5>Passenger</h5></div>').append(newForm);
            $newLinkDiv.before($newFormDiv);

            // add a delete link to the new form
            addPassengerFormDeleteLink($newFormDiv, 'div');

            //Add the date of birth label
            var labelText = "{% trans %}passenger.modals.dob{% endtrans %}";
            var div = $('.dateOfBirth');
            div.prepend('<label class="mdl-label-mimic dob">' + labelText + '</label>');
            $('.dob').css({"top" : "-12px", "position": "absolute", "font-size" : "14px"});
            div.css({"margin-top" : "5px"});
//            $('#tui_toolkit_tourbundle_tourpassenger_passengers_"'+ index +'"_dateOfBirth > div:nth-child(1)').css({"width": "100"});


        }

        function addPassengerFormDeleteLink($passengerFormDiv, elem) {
            var $removeFormA;
            if (elem == 'li') {
                $removeFormA = $('<li><a href="#" title="Delete this Passenger"><i class="fa fam-delete"></i></a></li>');
                $passengerFormDiv.append($removeFormA);
            } else {
                $removeFormA = $('<div class="form-row"><a href="#" title="Delete this Passenger"><i class="fa fam-delete"></i></a></div>');
                $passengerFormDiv.children().first().append($removeFormA);
            }


            $removeFormA.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();
                if ($passengerFormDiv.get(0).tagName == 'UL') {
                    if (confirm('Are you sure you want to remove this passenger? You must click Update for changes to be saved.')) {

                    }
                } else {
                    $passengerFormDiv.remove();
                }
            });
        }

    </script>
{% endblock %}
