{% if organizer is not defined %}{% set organizerId = entity.id %}{% elseif organizer is defined %}{% set organizerId =  organizer[0].id %}{% endif %}
{% if organizer is not defined %}{% set organizerStatus = entity.status %}{% elseif organizer is defined %}{% set organizerStatus =  organizer[0].status %}{% endif %}
{% if organizer is not defined %}{% set tourId = entity.tourReference.id %}{% elseif organizer is defined %}{% set tourId =  tour.id %}{% endif %}
{% if organizer is not defined %}{% set free = entity.free %}{% elseif organizer is defined %}{% set free =  organizer[0].free %}{% endif %}

<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="organizer-actions-menu-drop-{{ organizerId }}">
    <span>
        {% if organizer[0].status != "Pending Invite" %}
            <li><a href="{{ path('manage_passenger_show', { 'id': organizerId }) }}" class="mdl-menu__item">View Passenger</a></li>

            {# Accepted Menu Item #}
            {% if organizerStatus  == "waitlist" or free == TRUE %}
                <li><a href="#accepted" style="display: block;"class="mdl-menu__item move-to-accepted" tour="{{ tourId }}" passenger="Move to {{ organizerId }}">Move to {{ "accepted" | paxLabel }}</a></li>
            {% else %}
                <li><a href="#accepted" style="display: none;"class="mdl-menu__item move-to-accepted" tour="{{ tourId }}" passenger="Move to {{ organizerId }}">Move to {{ "accepted" | paxLabel }}</a></li>
            {% endif %}

            {# Waitlist Menu Item #}
            {% if organizerStatus != "waitlist" %}
                <li><a href="#waitlist" style="display: block;" class="mdl-menu__item move-to-waitlist" tour="{{ tourId }}" passenger="{{ organizerId }}">Move to {{ "waitlist" | paxLabel }}</a></li>
            {%  else %}
                <li><a href="#waitlist" style="display: none;" class="mdl-menu__item move-to-waitlist" tour="{{ tourId }}" passenger="{{ organizerId }}">Move to {{ "waitlist" | paxLabel }}</a></li>
            {% endif %}

            {# Free Menu Item #}
            {% if free == false %}
                <li><a style="display: block;" href="#free" class="mdl-menu__item move-to-free" tour="{{ tourId }}" passenger="{{ organizerId }}">Move to {{ "free" | paxLabel }}</a></li>
            {% else %}
             <li><a style="display: none;" href="#free" class="mdl-menu__item move-to-free" tour="{{ tourId }}" passenger="{{ organizerId }}">Move to {{ "free" | paxLabel }}</a></li>
            {% endif %}
        {% endif %}
    </span>
</ul>
