{#
renders the organizer list and invite organizer form

variables available to this twig:
            'entity' the tour
            'tour'  the tour (same as entity)
            'waitlistcount' integer value of waitlist count as originally determined (may be updated via ajax)
            'acceptedcount' integer value of accepted count as originally determined (may be updated via ajax)
            'freecount'  integer value of free count as originally determined (may be updated via ajax)
            'organizerscount' integer value of organizer count as originally determined (may be updated via ajax)
            'organizerobjects' list of all organizers
            'brand' brand object
            'passengers' list of all passenger/parent objects
#}


<div id="organizer-cards-wrapper" class="organizers" style="display:none;">
    {# loop and render all assistants #}


    {% for organizer in organizerobjects %}
        {% if tour.organizer.id == organizer[1].id %}
            {% set orgLabel = 'passenger.labels.primary-organizer' | trans %}
        {% else %}
            {% if organizer[1].enabled is sameas(false) %}  {% set orgLabel = 'passenger.labels.invite-pending' | trans %}  {% endif %}
            {% if organizer[1].enabled is sameas(true) %}  {% set orgLabel = 'passenger.labels.assistant-organizer' | trans %}  {% endif %}
        {% endif %}

        {% if organizer[0].status == "accepted" %}
            {% set statusicon =  '<a class="' ~ organizer[0].status ~ 'icon" title = "' ~ organizer[0].status | paxLabel ~ '"><i class="material-icons statusicon">verified_user</i></a>'%}
        {% elseif  organizer[0].status == "Pending Invite"%}
            {% set statusicon =  '<a class="' ~ organizer[0].status ~ 'icon" title = "' ~ organizer[0].status | paxLabel ~ '"><i class="material-icons">live_help</i></a>'%}
        {% else %}
            {% set statusicon = '<a class="' ~ organizer[0].status ~ 'icon" title = "' ~ organizer[0].status  | paxLabel ~ '"><i class="material-icons statusicon">list</i></a>'%}
        {% endif %}

        {% if organizer[0].free == 1 %}
            {% set freelabel = "free" | paxLabel %}
            {% set freeicon = '<a class="freeicon" title = "' ~ freelabel ~ '"><i class="material-icons statusicon">money_off</i></a>' %}
            {% set statusicon = '' %}
        {% else %}
            {% set freeicon = '' %}
        {% endif %}

        <div class="tour-edit mdl-shadow--2dp" style="background-color:white; margin-bottom: 0;" passenger="{{ organizer[0].id }}">
            <div class="mdl-card__supporting-text mdl-card--border" style="color:grey;">
                <div style="float: left; color: grey;" class="pcardname">
                    {% if organizer[1].media %}
                        <span style="float: left; margin-right: 15px;" class="tui-image-avatar"><img src="{{ ( organizer[1].media.getRelativePath ~ '/' ~ organizer[1].media.getHashedFilename ) | imagine_filter('thumbnail') }}" alt="{{ organizer[1].username }}"></span>
                    {% elseif organizer[1].firstName and tour.organizer.lastName %}
                        <span style="float: left; margin-right: 15px;" class="tui-text-avatar mdl-typography--headline">{{ organizer[1].firstName[:1] }}{{ organizer[1].lastName[:1] }}</span>
                    {% else %}
                        <span style="float: left; margin-right: 15px;" class="tui-text-avatar mdl-typography--headline">{{ organizer[1].username[:1] }}</span>
                    {% endif %}
                    <p style="display: inline-block;"><strong>{{ organizer[1].firstName }}</strong></p>
                    <p style="display: inline-block;"><strong>{{ organizer[1].lastName }}</strong></p>
                    <p style="display: inline-block;"><strong><a href="mailto:{{ organizer[1].email}}">{{ organizer[1].email}}</a></strong></p>
                    <label style="display: inline-block;margin-left: 63px; min-width: 100%;">{{ statusicon | raw }} {{ freeicon | raw }}
                        {% if orgLabel is not sameas(NULL) %}{{ orgLabel }}{% endif %}
                    </label>
                </div>
                {#{% if  organizer[0].status != "Pending Invite"%}#}
                    <button style="position: absolute; right: 20px; color:grey; margin-top:10px;" id="organizer-actions-menu-drop-{{ organizer[0].id }}" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                        <i class="material-icons">more_vert</i>
                    </button>
                    {% embed "PassengerBundle:Passenger:organizerActionsMenu.html.twig" %}{% endembed %}
                {#{% endif %}#}
            </div>

        </div>
    {% endfor %}


</div>