<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="organizer-actions-menu-drop-{{ organizer[0].id }}">
    <span>
        <li><a href="#" class="mdl-menu__item" organizer="{{ tour.organizer.id }}" tour="{{ tour.id }}">Do Something</a></li>
        <li><a href="#" class="mdl-menu__item" organizer="{{ tour.organizer.id }}" tour="{{ tour.id }}">Do Other Thing</a></li>
    </span>
</ul>
