{% if passengerObject is not defined %}{% set passenger = entity %}{% elseif passengerObject is defined %}{% set passenger =  passengerObject %}{% endif %}

<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="passenger-edit-actions-menu-drop-{{ passenger.id }}">
    <span>
        <li><a href="{{ path('manage_passenger_show', { 'id': passenger.id }) }}" class="mdl-menu__item" passenger="{{ passenger.id }}">{% trans %}passenger.actions.edit_passenger{% endtrans %}</a></li>
        {% if parent is defined and parent.enabled == false %}
            <li><a id="passenger-delete" href="{{ path('user_registration_confirmation', { 'id': parent.id }) }}" class="mdl-menu__item">{% trans %}passenger.actions.send-notification{% endtrans %}</a></li>
        {% elseif user is defined and user.enabled == false %}
            <li><a id="passenger-delete" href="{{ path('user_registration_confirmation', { 'id': user.id }) }}" class="mdl-menu__item">{% trans %}passenger.actions.send-notification{% endtrans %}</a></li>
        {% endif %}
    </span>
</ul>
