<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="passenger-actions-menu-drop-{{ passenger[0].p_id }}">
    <span>
        <li><a href="{{ path('manage_passenger_show', { 'id': passenger[0].p_id }) }}" class="mdl-menu__item">View Passenger</a></li>
        {% if passenger[0].p_status != "accepted" %}
            <li><a href="#accepted" style="display: block;"class="mdl-menu__item move-to-accepted" tour="{{ tour.id }}" passenger="{{ passenger[0].p_id }}">Move to Accepted</a></li>
            <li><a href="#waitlist" style="display: none;" class="mdl-menu__item move-to-waitlist" tour="{{ tour.id }}" passenger="{{ passenger[0].p_id }}">Move to Waitlist</a></li>
        {% endif %}
        {% if passenger[0].p_status != "waitlist" %}
            <li><a href="#accepted" style="display: none;"class="mdl-menu__item move-to-accepted" tour="{{ tour.id }}" passenger="{{ passenger[0].p_id }}">Move to Accepted</a></li>
            <li><a href="#waitlist" style="display: block;" class="mdl-menu__item move-to-waitlist" tour="{{ tour.id }}" passenger="{{ passenger[0].p_id }}">Move to Waitlist</a></li>
        {% endif %}
        {% if passenger[0].p_status != "waitlist" and passenger[0].p_free == false %}
            <li><a style="display: block;" href="#free" class="mdl-menu__item move-to-free" tour="{{ tour.id }}" passenger="{{ passenger[0].p_id }}">Move to Free</a></li>
        {% elseif passenger[0].p_status != "waitlist" and passenger[0].p_free == true %}
            <li><a style="display: none;" href="#free" class="mdl-menu__item move-to-free" tour="{{ tour.id }}" passenger="{{ passenger[0].p_id }}">Move to Free</a></li>
        {% elseif passenger[0].p_status != "accepted" %}
            <li><a style="display: none;" href="#free" class="mdl-menu__item move-to-free" tour="{{ tour.id }}" passenger="{{ passenger[0].p_id }}">Move to Free</a></li>
        {% endif %}
    </span>
</ul>
