{% extends '::site-base.html.twig' %}
{% if 'en_GB' in locale %} {% set format = 'd M Y' %} {% else %} {% set format = 'M d Y' %} {% endif %}
{% set age = date(entity.dateOfBirth).diff(date("now")) %}

{% block title %}
    {% if is_granted("ROLE_BRAND") %}
        {{ entity.fname }} {{ entity.lname }} {% trans %}passenger.title.show{% endtrans %}
    {% else %}
        {{ tour.name }}
    {% endif %}
{% endblock %}

{% block page_title %}
    <span>{% trans %}passenger.page_title.index{% endtrans %}</span>
{% endblock %}

{% block page_title_menu %}
    <button id="tour-title-drop" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon title-menu-drop">
        <i class="material-icons">arrow_drop_down</i>
    </button>
    {% embed "TourBundle:Tour:tourMenu.html.twig" %}
        {% block tour_dashboard_link %}
            <li><a href="{{ path('manage_passenger_dashboard', { 'tourId': entity.tourReference.id }) }}" class="mdl-menu__item">{% trans %}tour.title.index{% endtrans %}</a></li>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block back_link %}

    <a class="back-link" href="{{ path('manage_passenger_dashboard', { 'tourId': entity.tourReference.id }) }}"><i class="fa fa-arrow-left"></i> {% trans %}passenger.actions.back{% endtrans %}</a>

{% endblock %}

{% block body -%}

    <div class="tour-show-wrapper site-show" entityId="{{ entity.tourReference.id }}" passengerId="{{ entity.Id }}">


    <div class="tour-show-left-column">
        <ul class="tour-show-submenu">
                <li><strong>{% trans %}passenger.labels.passenger_for{% endtrans %} {{ entity.tourReference.name|capitalize }}</strong></li>
            <li><label>{% trans %}tour.show.institution{% endtrans %}</label><strong>{{ entity.tourReference.institution.name }}</strong></li>
            <li><label>{% trans %}tour.show.name{% endtrans %}</label><strong>{{ entity.tourReference.name}}</strong></li>
            {#{% if entity.tourReference != null %}#}
                {#<li><label>{% trans %}tour.show.number{% endtrans %}</label><strong>{{ entity.tourReference}}</strong></li>#}
            {#{% endif %}#}
            <li><label>{% trans %}tour.show.departure{% endtrans %}</label><strong>{{ entity.tourReference.departureDate|date(format) }}</strong></li>

        </ul>

        <div class="tour-edit-organizer-left">
            <label>{% trans %}tour.show.organizers{% endtrans %}</label><br>
            {% if entity.tourReference.organizer.media %}
                <img class="tui-image-avatar" src="{{ ( entity.tourReference.organizer.media.getRelativePath ~ "/" ~ entity.tourReference.organizer.media.getHashedFilename ) | imagine_filter('thumbnail') }}" alt="{{ entity.tourReference.organizer.username }}">
            {% elseif entity.tourReference.organizer.firstName and entity.tourReference.organizer.lastName %}
                <span class="tui-text-avatar mdl-typography--headline">{{ entity.tourReference.organizer.firstName[:1] }}{{ entity.tourReference.organizer.lastName[:1] }}</span>
            {% else %}
                <span class="tui-text-avatar mdl-typography--headline">{{ entity.tourReference.organizer.username[:1] }}</span>
            {% endif %}
            {#<a class="add-organizer" href="#"><i class="add-icon fa fa-plus"></i></a>#}
            {#<a class="add-organizer mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="#">Add/remove organizers</a>#}
        </div>
    </div>

        <div class="tour-show-right-column">

        {#Passenger Information Card#}
            <div class="waitlist tour-edit mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title">
                    <h3 style="float: left;" class="mdl-card__title-text">Passenger</h3>
                    <div style="clear: both"></div>
                </div>
                <div class="mdl-card__supporting-text mdl-card--border" style="color:grey;">
                    <i class="material-icons" style="font-size: 52px; display: inline-block;">account_circle</i>
                    <div class="passenger-details" style="display: inline-block;">
                        <h3 style="margin: 0">{{ entity.fname }} {{ entity.lname }}</h3>
                        <label style="display: block">{{ (age.days/365)|round(0, 'floor') }}, {{ entity.gender }}</label>
                    </div>
                    <div style="clear: both"></div>
                </div>
            </div>

            {#Passenger Task Card#}
            <div class="waitlist tour-edit mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title" style="color: grey;">
                    <h3 class="mdl-card__title-text">Tasks</h3>
                </div>
                {% if entity.medicalReference == null and entity.tourReference.medicalDate != null%}
                    <div class="mdl-card__supporting-text mdl-card--border">
                        <p style="display: inline; font-size:18px;" class="mdl-card__title-text"><i style="margin-right: 10px; color:grey; display: inline;"class="material-icons">local_hospital</i> Add Medical Information</p>
                        <label style="display: inline; margin-left:5px;">by {{ entity.tourReference.medicalDate|date(format) }}</label>
                        <a style="color: grey;" href="#"><i id="medical" style="float:right;" class="material-icons">add_circle_outline</i></a>
                        <a style="color: grey;" href="#"><i id="medical-close" class="material-icons" style="display: none;">close</i></a>
                        <div style="clear: both"></div>
                        {% if entity.medicalReference == null %}
                            {{ render(controller( 'PassengerBundle:Medical:new', {'passengerId' : entity.id} )) }}
                        {% endif %}
                    </div>
                {% endif %}
                {% if entity.dietaryReference == null and entity.tourReference.dietaryDate != null%}
                    <div class="mdl-card__supporting-text mdl-card--border">
                        <p style="display: inline; font-size:18px;" class="mdl-card__title-text"><i style="margin-right: 10px; color:grey;"class="material-icons">local_dining</i> Add Dietary Information</p>
                        <label style="display: inline; margin-left:5px;">by {{ entity.tourReference.dietaryDate|date(format) }}</label>
                        <a style="color: grey;" href="#"><i id="dietary" style="float:right;" class="material-icons">add_circle_outline</i></a>
                        <a style="color: grey;" href="#"><i id="dietary-close" class="material-icons" style="display: none;">close</i></a>
                        <div style="clear: both"></div>
                        {% if entity.dietaryReference == null %}
                            {{ render(controller( 'PassengerBundle:Dietary:new' )) }}
                        {% endif %}
                    </div>
                {% endif %}
                {% if entity.PassportReference == null and entity.tourReference.passportDate != null%}
                    <div class="mdl-card__supporting-text mdl-card--border">
                        <p style="display: inline; font-size: 18px;" class="mdl-card__title-text"><i style="margin-right: 10px; color:grey;"class="material-icons">person_outline</i> Add Passport Information</p>
                        <label style="display: inline; margin-left:5px;">by {{ entity.tourReference.passportDate|date(format) }}</label>
                        <a style="color: grey;" href="#"><i id="passport" style="float:right;" class="material-icons">add_circle_outline</i></a>
                        <a style="color: grey;" href="#"><i id="passport-close" class="material-icons" style="display: none;">close</i></a>
                        <div style="clear: both"></div>
                        {% if entity.passportReference == null %}
                            {{ render(controller( 'PassengerBundle:Passport:new' )) }}
                        {% endif %}
                    </div>
                {% endif %}
                {% if entity.EmergencyReference == null and entity.tourReference.emergencyDate != null%}
                    <div class="mdl-card__supporting-text mdl-card--border">
                        <p style="display: inline; font-size: 18px;" class="mdl-card__title-text"><i style="margin-right: 10px; color:grey;"class="material-icons">warning</i> Add Emergency Contact Information</p>
                        <label style="display: inline; margin-left:5px;">by {{ entity.tourReference.emergencyDate|date(format) }}</label>
                        <a style="color: grey;" href="#"><i id="emergency" style="float:right;" class="material-icons">add_circle_outline</i></a>
                        <a style="color: grey;" href="#"><i id="emergency-close" class="material-icons" style="display: none;">close</i></a>
                        <div style="clear: both"></div>
                        {% if entity.emergencyReference == null %}
                            {{ render(controller( 'PassengerBundle:Emergency:new' )) }}
                        {% endif %}
                    </div>
                {% endif %}
                {% if (entity.medicalReference != null and entity.dietaryReference != null and entity.passportReference != null and entity.emergencyReference != null) or (entity.medicalReference == null and entity.dietaryReference == null and entity.passportReference == null and entity.emergencyReference == null) %}
                    <div class="mdl-card__supporting-text mdl-card--border expired-quote">
                        <p style="font-size: 18px; color: grey;" class="mdl-card__title-text">{{ entity.fName|capitalize }} has no tasks</p>
                        <div style="clear: both"></div>
                    </div>
                {% endif %}
            </div>

            {#Passenger Medical Information Card#}
           {% if entity.tourReference.medicalDate != null %}
                {% if entity.medicalReference != null %}
                    <div class="waitlist tour-edit mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title" style="color: grey;">
                            <h3 class="mdl-card__title-text"><i style="margin-right: 10px;"class="material-icons">local_hospital</i> Medical Information</h3>
                            <i id="medical" class="material-icons" style="color: grey; position: absolute; right: 15px; display: inline-block;">border_color</i>
                            <i id="medical-close" class="material-icons" style="display: none;">close</i>
                        </div>
                        {% if entity.medicalReference != null %}
                            {% set medicalId  = entity.medicalReference.id%}
                            {{ render(controller( 'PassengerBundle:Medical:edit', {'id' : medicalId} )) }}
                        {% endif %}
                        <div class="mdl-card__supporting-text mdl-card--border">
                            <label style="display: block; float:left; color: grey;">Doctor's name:</label>
                                <p style="float: right;" class="doctor-name">{% if entity.medicalReference != null %}{{ entity.medicalReference.doctorName }}{% endif %}</p>
                            <div style="clear: both;"></div>
                        </div>
                        <div class="mdl-card__supporting-text mdl-card--border">
                            <label style="display: block; float:left; color:grey;">Doctor's phone number:</label>
                            <p class="doctors-number" style="float: right;">{% if entity.medicalReference != null and entity.medicalReference.doctorNumber != null%}{{ entity.medicalReference.doctorNumber.nationalNumber }}{% endif %}</p>
                            <div style="clear: both;"></div>
                        </div>
                       <div class="mdl-card__supporting-text mdl-card--border">
                            <label style="display: block; color: grey; margin-bottom:10px;">Medical conditions and allergies:</label>
                                <p class="medical-conditions">{% if entity.medicalReference != null %}{{ entity.medicalReference.conditions }}{% endif %}</p>
                        </div>
                        <div class="mdl-card__supporting-text mdl-card--border">
                            <label style="display: block; color: grey; margin-bottom:10px;">Medication:</label>
                                <p class="medications">{% if entity.medicalReference != null %}{{ entity.medicalReference.medications }}{% endif %}</p>
                        </div>
                    </div>
                {% endif %}
           {% endif %}

            {% if entity.tourReference.dietaryDate != null %}
                {% if entity.dietaryReference != null %}
                <div class="waitlist tour-edit mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title" style="color: grey;">
                        <h3 class="mdl-card__title-text"><i style="margin-right: 10px;"class="material-icons">local_dining</i> Dietary Requirements</h3>
                        <i id="dietary" class="material-icons" style="color: grey; position: absolute; right: 15px; display: inline-block;">border_color</i>
                        <i id="dietary-close" class="material-icons" style="display: none;">close</i>
                    </div>
                    {% if entity.dietaryReference != null %}
                        {% set dietaryId  = entity.dietaryReference.id%}
                        {{ render(controller( 'PassengerBundle:Dietary:edit', {'id' : dietaryId} )) }}
                    {% endif %}
                    <div class="mdl-card__supporting-text mdl-card--border">
                        <p class="dietary-description">{% if entity.dietaryReference != null %}{{ entity.dietaryReference.description }}{% endif %}</p>
                    </div>
                </div>
                {% endif %}
            {% endif %}

            {#Passenger Passport Information Card#}
            {% if entity.tourReference.passportDate != null %}
                {% if entity.passportReference != null %}
                    <div class="waitlist tour-edit mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title" style="color:grey;">
                            <h3 class="mdl-card__title-text"><i style="margin-right: 10px;"class="material-icons">person_outline</i> Passport details</h3>
                            <i id="passport"class="material-icons" style="color: grey; position: absolute; right: 15px; display: inline-block;">border_color</i>
                            <i id="passport-close" class="material-icons" style="display: none;">close</i>
                        </div>
                        {% if entity.PassportReference != null %}
                            {% set passportId  = entity.passportReference.id%}
                            {{ render(controller( 'PassengerBundle:Passport:edit', {'id' : passportId} )) }}
                        {% endif %}
                        <div class="mdl-card__supporting-text mdl-card--border">
                            <label style="display: block; float:left; color:grey;">Passport number:</label>
                            <p class="passport-number" style="float: right;">{% if entity.passportReference != null %}{{ entity.passportReference.passportNumber }}{% endif %}</p>
                            <div style="clear: both;"></div>
                        </div>
                        <div class="mdl-card__supporting-text mdl-card--border">
                            <label style="display: block; float:left; color:grey;">First name:</label>
                            <p class="passport-firstName" style="float: right;">{% if entity.passportReference != null %}{{ entity.passportReference.passportFirstName }}{% endif %}</p>
                            <div style="clear: both;"></div>
                        </div>
                        <div class="mdl-card__supporting-text mdl-card--border">
                            <label style="display: block; float:left; color:grey;">Last name:</label>
                            <p class="passport-lastName" style="float: right;">{% if entity.passportReference != null %}{{ entity.passportReference.passportLastName }}{% endif %}</p>
                            <div style="clear: both;"></div>
                        </div>
                        <div class="mdl-card__supporting-text mdl-card--border">
                            <label style="display: block; float:left; color:grey;">Nationality:</label>
                            <p class="passport-nationality" style="float: right;">{% if entity.passportReference != null %}{{ entity.passportReference.passportNationality }}{% endif %}</p>
                            <div style="clear: both;"></div>
                        </div>
                        <div class="mdl-card__supporting-text mdl-card--border">
                            <label style="display: block; float:left; color:grey;">Date of issue:</label>
                            <p class="passport-dateOfIssue" style="float: right;">{% if entity.passportReference != null %}{{ entity.passportReference.passportDateOfIssue|date(format) }}{% endif %}</p>
                            <div style="clear: both;"></div>
                        </div>
                        <div class="mdl-card__supporting-text mdl-card--border">
                            <label style="display: block; float:left; color:grey;">Date of expiry:</label>
                            <p class="passport-dateOfExpiry" style="float: right;">{% if entity.passportReference != null %}{{ entity.passportReference.passportDateOfExpiry|date(format) }}{% endif %}</p>
                            <div style="clear: both;"></div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}

            {#Passenger Emergency Contact Information Card#}
            {% if entity.tourReference.emergencyDate != null%}
                {% if entity.emergencyReference != null %}
                    <div class="waitlist tour-edit mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title" style="color: grey;">
                            <h3 class="mdl-card__title-text"><i style="margin-right: 10px;"class="material-icons">warning</i> Emergency Contact Information</h3>
                            <i id="emergency" class="material-icons" style="color: grey; position: absolute; right: 15px; display: inline-block;">border_color</i>
                            <i id="emergency-close" class="material-icons" style="display: none;">close</i>
                        </div>
                        {% if entity.emergencyReference != null %}
                            {% set emergencyId  = entity.emergencyReference.id%}
                            {{ render(controller( 'PassengerBundle:Emergency:edit', {'id' : emergencyId} )) }}
                        {% endif %}
                        <div class="mdl-card__supporting-text mdl-card--border">
                            <label style="display: block; float:left; color:grey;">Name:</label>
                            <p style="float: right;" class="emergency-name">{% if entity.emergencyReference != null %}{{ entity.emergencyReference.emergencyName }}{% endif %}</p>
                            <div style="clear: both;"></div>
                        </div>
                        <div class="mdl-card__supporting-text mdl-card--border">
                            <label style="display: block; float:left; color:grey;">Relationship:</label>
                            <p style="float: right;" class="emergency-relationship">{% if entity.emergencyReference != null %}{{ entity.emergencyReference.emergencyRelationship }}{% endif %}</p>
                            <div style="clear: both;"></div>
                        </div>
                        <div class="mdl-card__supporting-text mdl-card--border">
                            <label style="display: block; float:left; color:grey;"> Telephone:</label>
                            <p style="float: right;" class="emergency-number">{% if entity.emergencyReference != null and entity.emergencyReference.emergencyNumber != null%}{{ entity.emergencyReference.emergencyNumber.nationalNumber }}{% endif %}</p>
                            <div style="clear: both;"></div>
                        </div>
                        <div class="mdl-card__supporting-text mdl-card--border">
                            <label style="display: block; float:left; color:grey;">Email:</label>
                            <p style="float: right;" class="emergency-email">{% if entity.emergencyReference != null %}{{ entity.emergencyReference.emergencyEmail }}{% endif %}</p>
                            <div style="clear: both;"></div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>

    </div>

</div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.js"></script>

    {% javascripts '@toolkit_siteshow' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '@toolkit_passenger' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block footer_left %}
    {% if app.user.email != entity.tourReference.salesAgent.email%} {# Show Sales Agent Info to an Organizer#}
        {% if entity.tourReference.salesAgent %}
            <span class="intro">
                    {{ brand.name }} {% trans %}tour.show.footer.intro_org{% endtrans %}
            </span>
            {% if entity.tourReference.salesAgent.media %}
                <span class="tui-image-avatar"><img src="{{ ( entity.tourReference.salesAgent.media.getRelativePath ~ "/" ~ entity.tourReference.salesAgent.media.getHashedFilename ) | imagine_filter('thumbnail') }}" alt="{{ entity.tourReference.salesAgent.username }}"></span>
            {% elseif entity.tourReference.salesAgent.firstName and entity.tourReference.salesAgent.lastName %}
                <span class="tui-text-avatar mdl-typography--headline">{{ entity.tourReference.salesAgent.firstName[:1] }}{{ entity.tourReference.salesAgent.lastName[:1] }}</span>
            {% else %}
                <span class="tui-text-avatar mdl-typography--headline">{{ entity.tourReference.salesAgent.username[:1] }}</span>
            {% endif %}
            <span class="agent">
                {% if entity.tourReference.salesAgent.displayName %}
                    {{ entity.tourReference.salesAgent.displayName }}
                {% else %}
                    {{ entity.tourReference.salesAgent.firstName }} {{ entity.tourReference.salesAgent.lastName }}
                {% endif %}
                <br>
                <a href="mailto:{{ entity.tourReference.salesAgent.email }}">{{ entity.tourReference.salesAgent.email }}</a>
            </span>
        {% endif %}
    {% else %} {# Show organizer info to everyone but organizers #}
        {% if entity.tourReference.organizer %}
            <span class="intro">
                    {% trans %}tour.show.footer.intro{% endtrans %}
            </span>
            {% if entity.tourReference.organizer.media %}
                <span class="tui-image-avatar"><img src="{{ ( entity.tourReference.organizer.media.getRelativePath ~ "/" ~ entity.tourReference.organizer.media.getHashedFilename ) | imagine_filter('thumbnail') }}" alt="{{ entity.tourReference.organizer.username }}"></span>
            {% elseif entity.tourReference.organizer.firstName and entity.tourReference.organizer.lastName %}
                <span class="tui-text-avatar mdl-typography--headline">{{ entity.tourReference.organizer.firstName[:1] }}{{ entity.tourReference.organizer.lastName[:1] }}</span>
            {% else %}
                <span class="tui-text-avatar mdl-typography--headline">{{ entity.tourReference.organizer.username[:1] }}</span>
            {% endif %}
            <span class="agent">
                {% if entity.tourReference.organizer.displayName %}
                    {{ entity.tourReference.organizer.displayName }}
                {% else %}
                    {{ entity.tourReference.organizer.firstName }} {{ entity.tourReference.organizer.lastName }}
                {% endif %}
                <br>
                <a href="mailto:{{ entity.tourReference.organizer.email }}">{{ entity.tourReference.organizer.email }}</a>
            </span>
        {% endif %}
    {% endif %}
{% endblock %}

{% block footer_right %}
    <div class="quote-info">
        <span class="quote-label">{% trans %}tour.show.footer.price{% endtrans %}</span>

        <span class="quote-price">
            {% if entity.tourReference.pricePerson %}
                <strong>{% if entity.tourReference.currency %}{{ entity.tourReference.currency.htmlSymbol | raw }}{% endif %}{{ entity.tourReference.pricePersonPublic }}</strong>
            {% endif %}
        </span>
    </div>
{% endblock %}