{% extends '::base.html.twig' %}
{% if clone is defined %}{% set title_label = 'Clone' %}{% else %} {% set title_label = 'Edit' %}{% endif %}
{% block title %}{{ title_label }} Quote {% if template is defined %}{{ template }} {% endif %} {{ entity.quoteReference.name }}{% endblock %}
{% block body -%}
    <h1>{{ title_label }} Quote {% if template is defined %}{{ template }} {% endif %}</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('manage_quote') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
    {{ form_javascript(edit_form) }}
{% endblock %}
