{% extends '::base.html.twig' %}

{% if clone is defined %}{% set title_label = 'Clone' %}{% else %} {% set title_label = 'Edit' %}{% endif %}

{% block title %}{{ title_label }} Quote {% if template is defined %}{{ template }} {% endif %} {{ entity.quoteReference.name }}{% endblock %}
{% block page_title %}{{ title_label }} Quote {% if template is defined %}{{ template }} {% endif %} {{ entity.quoteReference.name }}{% endblock %}

{% block body -%}
    {{ form_start(edit_form) }}

    {% if template is empty or edit_form.quoteReference.institution is defined %} {{ form_row(edit_form.quoteReference.institution) }} {% endif %}
    {{ form_row(edit_form.quoteReference.name) }}
    {{ form_row(edit_form.quoteNumber) }}
    {{ form_row(edit_form.name) }}
    {% if template is empty or edit_form.quoteReference.organizer is defined %}{{ form_row(edit_form.quoteReference.organizer) }}{% endif %}
    {{ form_row(edit_form.quoteReference.salesAgent) }}
    {% if template is empty or edit_form.quoteReference.secondaryContact is defined %}{{ form_row(edit_form.quoteReference.secondaryContact) }}{% endif %}
    {{ form_rest(edit_form) }}

    {{ form_end(edit_form) }}


    {#{{ form(edit_form) }}#}

<ul class="record_actions">
    {% if clone is defined %}
        {# do nothing#}
    {% else %}
        {% if entity.isTemplate != true %}
            <li>
                <a id="save-revision" onclick="submitQuoteForm();" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="#">
                    <i class="fa fa-files-o"></i> {% trans %}quote.actions.save_as_alt{% endtrans %}
                </a>
            </li>
        {% endif %}
    {% endif %}
    <li>
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('manage_quote') }}">
            <i class="fa fa-arrow-circle-left"></i> {% trans %}quote.actions.back{% endtrans %}
        </a>
    </li>
    {% if is_granted("ROLE_ADMIN") %}
        {% if delete_form is defined %}
            <li>{{ form(delete_form) }}</li>
        {% endif %}
    {% endif %}

</ul>
    {{ form_javascript(edit_form) }}
<script language="javascript" type="text/javascript">
    function submitQuoteForm() {
        var revision = document.getElementById('tui_toolkit_quotebundle_quoteversion_revision');
        revision.value = 'revision';
        document.tui_toolkit_quotebundle_quoteversion.submit();
    }
</script>
    <script>
        $( document ).ready(function() {
            $( ".hasDatepicker" ).datepicker( "option", "dateFormat", "dd-mm-yy" );
            $( ".hasDatepicker" ).change(function(){
                $(this).parent().addClass('is-dirty');
            });
        });
    </script>
{% endblock %}
