{% extends '::base.html.twig' %}
{% block title %}Create Quote{% if template is defined %} {{ template }}{% endif %}{% endblock %}
{% block page_title %}Create Quote{% if template is defined %} {{ template }}{% endif %}{% endblock %}

{% block body -%}

    {{ form_start(form) }}

   {% if template is not defined %} {{ form_row(form.quoteReference.institution) }} {% endif %}
    {{ form_row(form.quoteReference.name) }}
    {{ form_row(form.quoteNumber) }}
    {{ form_row(form.name) }}
    {% if template is not defined %}{{ form_row(form.quoteReference.organizer) }}{% endif %}
    {{ form_row(form.quoteReference.salesAgent) }}
    {% if template is not defined %}{{ form_row(form.quoteReference.secondaryContact) }}{% endif %}
    {{ form_rest(form) }}

    {{ form_end(form) }}



    <ul class="record_actions">
        <li>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
               href="{{ path('manage_quote') }}">
                <i class="fa fa-arrow-circle-left"></i> Back to the list
            </a>
        </li>
    </ul>
    {{ form_javascript(form) }}
    <script>
        $( document ).ready(function() {
           $( ".hasDatepicker" ).datepicker( "option", "dateFormat", "{{ date_format }}" );
            $( ".hasDatepicker" ).change(function(){
                console.log(this);
                if ($(this).val()){
                    console.log ('has value');
                    $(this).parent().addClass('is-dirty');
                } else if (!$(this).val()) {
                    $(this).parent().removeClass('is-dirty');
                }
            });

            //use translation for the ckeditor welcome msg field
            $('#tui_toolkit_quotebundle_quoteversion_welcomeMsg').each( function() {
                var label = $(this).prev();
                label.html("{% trans %}quote.form.quote_version.welcomeMsg{% endtrans %}").css({"position": "static"});
            });
        });
    </script>
{% endblock %}
