{% extends '::base.html.twig' %}
{% block title %}Quote: {{ entity.quoteReference.name  }} - {{ entity.name  }}  {% endblock %}
{% block page_title %}Quote: {{ entity.quoteReference.name  }} - {{ entity.name  }} {% endblock %}

{%  if 'en_GB' in locale %} {% set format = 'd M Y' %} {% else %} {% set format = 'M d Y' %} {% endif %}

{% block body -%}
    <ul class="record_actions">
        <li>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('manage_quote') }}">
                 <i class="fa fa-arrow-circle-left"></i> Back to the list
            </a>
        </li>
        {% if (entity.locked is sameas(false)) and (is_granted("ROLE_ADMIN")) %}
        <li>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('manage_quoteversion_edit', { 'id': entity.id }) }}">
                <i class="fa fa-pencil-square-o"> </i> Edit
            </a>
        </li>
        {% endif %}
        {% if is_granted("ROLE_ADMIN") %}
            <li>{{ form(delete_form) }}</li>
        {% endif %}
        <li>
            {%  if entity.quoteNumber %}
                <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                   href="{{ path('quote_site_show', { 'id': entity.id, 'quoteNumber': entity.quoteNumber }) }}">
                    <i class="fa fam-preview"> </i> Preview
                </a>
            {% else %}
                <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                   href="{{ path('quote_site_action_show', { 'id': entity.id }) }}">
                    <i class="fa fam-preview"> </i> Preview
                </a>
            {% endif %}
        </li>

        <li>
            <a id="quoteLock" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="#">
                {% if (entity.locked is sameas(false)) %}
                    <i class="fa fa-lock"> </i> Lock
                {% else %}
                <i class="fa fa-unlock"> </i> Unlock
                {% endif %}
            </a>
        </li>
    </ul>
    <h3>Summary</h3>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Institution</th><td>{% if entity.quoteReference.institution %}{{ entity.quoteReference.institution.name }}{% endif %}</td>
                <th>Tour Name</th><td>{% if entity.quoteReference.name %}{{ entity.quoteReference.name }}{% endif %}</td>
            </tr>
            <tr>
                <th>Destination</th><td>{% if entity.quoteReference.destination %}{{ entity.quoteReference.destination }}{% endif %}</td>
                <th>Quote Number</th><td>{% if entity.quoteNumber %}{{ entity.quoteNumber }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
    <hr>

    <h3>Details</h3>
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Departure</th>
                <td>{% if entity.departureDate %}{{ entity.departureDate|date(format) }}{% endif %}</td>
                <th>Priced per person</th>
                <td>{% if entity.pricePerson %}{% if entity.currency %}{{ entity.currency.htmlSymbol | raw }}{% endif %} {{ entity.pricePerson }}{% endif %}</td>
            </tr>
            <tr>
                <th>Return</th>
                <td>{% if entity.returnDate %}{{ entity.returnDate|date(format) }}{% endif %}</td>
                <th>Board Basis</th>
                <td>{% if entity.boardBasis %}{{ entity.boardBasis.name }}{% endif %}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{% if entity.duration %}{{ entity.duration }}{% endif %}</td>
                <th>Transport</th>
                <td>{% if entity.transportType %}{{ entity.transportType.name }}{% endif %}</td>
            </tr>
            <tr>
                <th>Paying places</th>
                <td>{% if entity.payingPlaces  %}{{ entity.payingPlaces  }}{% endif %}</td>
                <th>Free places</th>
                <td>{% if entity.payingPlaces  %}{{ entity.payingPlaces  }}{% endif %}</td>
            </tr>
            <tr>
                <th>Quote Name</th>
                <td>{% if entity.name  %}{{ entity.name  }}{% endif %}</td>
                <th>Expiry Date</th>
                <td>{% if entity.expiryDate  %}{{ entity.expiryDate|date(format) }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <hr>

    <table>
        <tbody>
        <tr>
            <th>Organizer</th><td>{% if entity.quoteReference.organizer %}{{ entity.quoteReference.organizer.firstName }} {{ entity.quoteReference.organizer.lastName }} {{ entity.quoteReference.organizer.email }}{% endif %}
                {% if entity.quoteReference.organizer %}<a href="{{ path('user_edit', { 'id': entity.quoteReference.organizer.id }) }}" alt = "Edit"><i class="fa fa-pencil-square-o"></i></a>{% endif %}
            </td>
        </tr>
        </tbody>
    </table>

    <hr>

    <table>
        <tbody>
        <tr>
            <th>Primary Business Administrator</th><td>{% if entity.quoteReference.salesAgent %}{{ entity.quoteReference.salesAgent.firstName }} {{ entity.quoteReference.salesAgent.lastName }} {{ entity.quoteReference.salesAgent.email }}{% endif %}</td>
        </tr>
        <tr>
            <th>Other Business Administrator</th><td>{% if entity.quoteReference.secondaryContact %}{{ entity.quoteReference.secondaryContact.firstName }} {{ entity.quoteReference.secondaryContact.lastName }} {{ entity.quoteReference.secondaryContact.email }}{% endif %}</td>
        </tr>
        </tbody>
    </table>

    <hr>
    <h3>Header Content</h3>

    {% if entity.headerBlock %}
        <a id="edit-headerBlock" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="#">
            <i class="fa fa-pencil-square-o"></i> Edit Header Content
        </a>
    {% else %}
        <a id="add-headerBlock" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="#">
            <i class="fa fa-plus-circle"></i> Add Header Content
        </a>
    {% endif %}
    <hr>

    {# RENDER THE CONTENT BLOCKS HERE #}

   {# {{ dump(entity) }} #}

    <h3>Tour Information</h3>

    <a id="add-new-tab" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="#">
        <i class="fa fa-plus-circle"></i>  Add New Tab
    </a>

    <a id="site-content"></a>
    <div id="content-blocks-wrapper" class="content-blocks-wrapper sortable-tabs">
        {%  for tab, blocks in entity.content %}
        <div id="tab-{{ tab|replace({' ': '_'}) }}" class="content-blocks-tab">
            <span class="content-blocks tab-label">
                <i class="content-block-tab-handle fa fa-arrows"></i>
                <h4 id="tab-label-{{ tab }}" class="editable-tab">{{ tab }}</h4>
                {% if blocks | length < 1 %}
                    <span class="tab-delete icon-label"><i class="content-block-tab-actions fa fa-trash-o"></i> Delete Tab</span>
                {% endif %}
                <span class="tab-new icon-label"><i class="content-block-tab-actions fa fa-plus-circle"></i> Add Content</span>
            </span>



            <div id="tabs-drawer-{{ tab }}" class="sortable-items content-blocks-drawer">
                    {%  for item in blocks %}
                        <div id="content-blocks-{{ items[item].id }}" class="content-blocks content-blocks-item">
                            <i class="fa fa-arrows"></i> {{ items[item].title }}
                            {# probably render a controller here by passing in item as id and have block entity returned #}
                            <div id="content-block-actions-{{ items[item].id }}" class="content-block-actions">
                                <i class="item-edit content-block-item-action fa fa-pencil-square-o"></i>
                                <i class="item-delete content-block-item-action fa fa-trash-o"></i>
                                {% if items[item].locked %}<i class="item-lock content-block-item-action fa fa-unlock"></i> {% else %}  <i class="item-lock content-block-item-action fa fa-lock"></i> {% endif %}
                                {% if items[item].hidden %}<i class="item-hide content-block-item-action fa fa-ban"></i> {% else %} <i class="item-hide content-block-item-action fa fa-eye"></i> {% endif %}
                            </div>
                        </div>
                    {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

    <div id="loader"><img src="{{ asset('bundles/quote/images/loader.gif') }}"></div>

    <script>
        $(document).ready(function() {

            // Add a headerBlock to a site
            $("#add-headerBlock").on('click', function(){
                $("#dialog").html("");
                $("#dialog").dialog({width:'60%'}).dialog("option", "title", "Loading...").dialog("open");
                $("#dialog").load('/manage/contentblocks/new/header/' + {{ entity.id}} +'/QuoteVersion', function() {
                    $(this).dialog("option", "title", 'Add Header Content');
                    doMDLpopup( $(this) );
                });
            });

            {% if entity.headerBlock %}
            // Edit the headerBlock for a site
            $("#edit-headerBlock").on('click', function(){
                $("#dialog").html("");
                $("#dialog").dialog({width:'60%'}).dialog("option", "title", "Loading...").dialog("open");
                $("#dialog").load('/manage/contentblocks/'+ {{ entity.headerBlock.id }} + '/edit/header/' + {{ entity.id}} +'/QuoteVersion', function() {
                    $(this).dialog("option", "title", 'Edit Header Content');
                    doMDLpopup( $(this) );
                });
            });
            {% endif %}

            // Add a new tab to a site
            $("#add-new-tab").on('click', function(){
                contentBlocksAddTab('#content-blocks-wrapper', {{ entity.id }});
            });

            // Toggle the quoteVersion Lock
            $("#quoteLock").on('click', function(){
                $("#loader").css("display", "inline-block");
                $.ajax({
                    url: window.location.protocol + '//' + window.location.hostname + '/manage/quoteversion/{{ entity.id }}/lock',
                    headers: {
                        "Pragma": "no-cache",
                        "Expires": -1,
                        "Cache-Control": "no-cache"
                    }
                }).done(function (data) {
                    window.location.reload(true);
                });
            });

            // remove an empty tab from a site (hard delete)
            $(".tab-delete").on('click', function(){
                var ancestorTabElement = $(this).closest('.content-blocks-tab');
                if (confirm('Are you sure you want to remove this tab? Warning: this can not be undone.')) {
                    $(ancestorTabElement).remove();
                    contentBlocksUpdate({{ entity.id }});
                }
            });

            // Add a content block into a tab
            $(".tab-new").on('click', function(){
                var ancestorTabElement=$(this).closest('.content-blocks-tab').children('.sortable-items');
                $.ajax({
                    url: window.location.protocol + '//' + window.location.hostname + '/manage/contentblocks/ajax/new',
                    headers: {
                        "Pragma": "no-cache",
                        "Expires": -1,
                        "Cache-Control": "no-cache"
                    }
                }).done(function (data) {
                    var id=(Object.keys(data).toString());
                    var title = data[id];
                    //add element into DOM
                    $(ancestorTabElement).append(
                        '<div id="content-blocks-' + id + '" class="content-blocks content-blocks-item">' +
                        '<i class="fa fa-arrows"></i> ' + title +
                        {# probably render a controller here by passing in item as id and have block entity returned #}
                        '<div id="content-block-actions-' + id + '" class="content-block-actions">' +
                        '<i class="item-edit content-block-item-action fa fa-pencil-square-o"></i> ' +
                        '<i class="item-delete content-block-item-action fa fa-trash-o"></i> ' +
                        '<i class="item-lock content-block-item-action fa fa-lock"></i> ' +
                        '<i class="item-hide content-block-item-action fa fa-ban"></i>' +
                        '</div></div>'
                    );
                    contentBlocksUpdate({{ entity.id }});
                });

            });

            // edit a content block
            $(".item-edit").on('click', function(e){
                // todo Get item.id and item.name
                var actionParent = $(this).parent().attr('id');
                var block = actionParent.substring(22);
                //e.preventDefault();
                $("#dialog").html("");
                $("#dialog").dialog({width:'60%'}).dialog("option", "title", "Loading...").dialog("open");
                $("#dialog").load( '/ajax/contentblocks/' + block + '/edit/' + {{ entity.id}} + '/QuoteVersion', function() {
                    $(this).dialog("option", "title", 'Edit Content Block');
                    doMDLpopup( $(this) );
                });
            });


            // toggle the hide boolean on a content block
            $(".item-hide").on('click', function(e){
                // todo Get item.id and item.name
                var actionParent = $(this).parent().attr('id');
                var block = actionParent.substring(22);
                $.ajax({
                    url: '/manage/contentblocks/'+ block + '/hide/' + {{ entity.id }} + '/QuoteVersion',
                    headers: {
                        "Pragma": "no-cache",
                        "Expires": -1,
                        "Cache-Control": "no-cache"
                    }
                }).done(function () {
                    $("#loader").css("display", "inline-block");
                    window.location.hash = 'site-content';
                    window.location.reload(true);
                });
            });


            // toggle the locked boolean on a content block
            $(".item-lock").on('click', function(e){
                // todo Get item.id and item.name
                var actionParent = $(this).parent().attr('id');
                var block = actionParent.substring(22);
                $.ajax({
                    url: '/manage/contentblocks/'+ block + '/lock/' + {{ entity.id }} + '/QuoteVersion',
                    headers: {
                        "Pragma": "no-cache",
                        "Expires": -1,
                        "Cache-Control": "no-cache"
                    }
                }).done(function () {
                    $("#loader").css("display", "inline-block");
                    window.location.hash = 'site-content';
                    window.location.reload(true);
                });
            });

            // toggle the locked boolean on a content block
            $(".item-delete").on('click', function(e){
                // todo Get item.id and item.name
                if (confirm('Are you sure you want to remove this item? Warning: this can not be undone.')) {
                    var actionParent = $(this).parent().attr('id');
                    var block = actionParent.substring(22);
                    $.ajax({
                        method:'DELETE',
                        url: '/manage/contentblocks/' + block + '/delete/' + {{ entity.id }} + '/QuoteVersion',
                        headers: {
                            "Pragma": "no-cache",
                            "Expires": -1,
                            "Cache-Control": "no-cache"
                        }
                    }).done(function () {
                        $('#content-blocks-' + block).remove();
                        contentBlocksUpdate({{ entity.id }});
                    });
                }
            });

            // change a tab's name
            $('.editable-tab').editable(function(value, settings) {
                //strip special chars before accepting
                value = value.replace(/[^\w\s]/gi, '');
                return(value);
            }, {
                width: '20em',
                onblur: "cancel",
                tooltip: 'Click to edit',
                callback : function(value, settings) {
                    contentBlocksUpdate({{ entity.id }}); //value
                }
            });
        });
    </script>

{% endblock %}