

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Version</th>
                <td>{{ entity.version }}</td>
            </tr>
            <tr>
                <th>Board basis</th>
                <td>{% if entity.boardBasis %}{{ entity.boardBasis.name }}{% endif %}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ entity.content }}</td>
            </tr>
            <tr>
                <th>Expiry date</th>
                <td>{{ entity.expiryDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Free places</th>
                <td>{{ entity.freePlaces }}</td>
            </tr>
            <tr>
                <th>Max passengers</th>
                <td>{{ entity.maxPax }}</td>
            </tr>
            <tr>
                <th>Min passengers</th>
                <td>{{ entity.minPax }}</td>
            </tr>
            <tr>
                <th>Paying places</th>
                <td>{{ entity.payingPlaces }}</td>
            </tr>
            <tr>
                <th>Departure date</th>
                <td>{{ entity.departureDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Signupdeadline</th>
                <td>{{ entity.signupDeadline|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Quotedays</th>
                <td>{{ entity.quoteDays }}</td>
            </tr>
            <tr>
                <th>Quotenights</th>
                <td>{{ entity.quoteNights }}</td>
            </tr>
            <tr>
                <th>Totalprice</th>
                <td>{{ entity.totalPrice }}</td>
            </tr>
            <tr>
                <th>Tripstatus</th>
                <td>{% if entity.tripStatus %}{{ entity.tripStatus.name }}{% endif %}</td>
            </tr>
            <tr>
                <th>Transporttype</th>
                <td>{% if entity.transportType %}{{ entity.transportType.name }}{% endif %}</td>
            </tr>
            <tr>
                <th>Welcomemsg</th>
                <td>{{ entity.welcomeMsg }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('manage_quote') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('manage_quoteversion_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>

