{% extends '::base.html.twig' %}
{% block title %}Quote: {{ entity.quoteReference.name }} {% endblock %}
{% block page_title %}Quote: {{ entity.quoteReference.name  }} {% endblock %}

{%  if 'en_GB' in locale %} {% set format = 'd-m-Y' %} {% else %} {% set format = 'm-d-Y' %} {% endif %}

{% block body -%}
    <ul class="record_actions">
        <li>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('manage_quote') }}">
                 <i class="fa fa-arrow-circle-left"></i> Back to the list
            </a>
        </li>
        {% if (entity.quoteReference.locked is sameas(false)) and (is_granted("ROLE_ADMIN")) %}
        <li>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('manage_quoteversion_edit', { 'id': entity.id }) }}">
                <i class="fa fa-pencil-square-o"> </i> Edit
            </a>
        </li>
        {% endif %}
        {% if is_granted("ROLE_ADMIN") %}
            <li>{{ form(delete_form) }}</li>
        {% endif %}
    </ul>
    <h3>Summary</h3>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Institution</th><td>{% if entity.quoteReference.institution %}{{ entity.quoteReference.institution.name }}{% endif %}</td>
                <th>Tour Name</th><td>{% if entity.quoteReference.name %}{{ entity.quoteReference.name }}{% endif %}</td>
            </tr>
            <tr>
                <th>Destination</th><td>{% if entity.quoteReference.destination %}{{ entity.quoteReference.destination }}{% endif %}</td>
                <th>Quote Number</th><td>{% if entity.quoteReference.reference %}{{ entity.quoteReference.reference }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
    <hr>

    <h3>Details</h3>
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Departure</th>
                <td>{% if entity.departureDate %}{{ entity.departureDate|date(format) }}{% endif %}</td>
                <th>Priced per person</th>
                <td>{% if entity.pricePerson %}{% if entity.currency %}{{ entity.currency.htmlSymbol | raw }}{% endif %} {{ entity.pricePerson }}{% endif %}</td>
            </tr>
            <tr>
                <th>Return</th>
                <td>{% if entity.returnDate %}{{ entity.returnDate|date(format) }}{% endif %}</td>
                <th>Board Basis</th>
                <td>{% if entity.boardBasis %}{{ entity.boardBasis }}{% endif %}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{% if entity.duration %}{{ entity.duration }}{% endif %}</td>
                <th>Transport</th>
                <td>{% if entity.transportType %}{{ entity.transportType.name }}{% endif %}</td>
            </tr>
            <tr>
                <th>Paying places</th>
                <td>{% if entity.payingPlaces  %}{{ entity.payingPlaces  }}{% endif %}</td>
                <th>Free places</th>
                <td>{% if entity.payingPlaces  %}{{ entity.payingPlaces  }}{% endif %}</td>
            </tr>
            <tr>
                <th>Version</th>
                <td>{% if entity.version  %}{{ entity.version  }}{% endif %}</td>
                <th>Expiry Date</th>
                <td>{% if entity.expiryDate  %}{{ entity.expiryDate|date(format) }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <hr>

    <table>
        <tbody>
        <tr>
            <th>Organizer</th><td>{% if entity.quoteReference.organizer %}{{ entity.quoteReference.organizer.firstName }} {{ entity.quoteReference.organizer.lastName }} {{ entity.quoteReference.organizer.email }}{% endif %}
                {% if entity.quoteReference.organizer %}<a href="{{ path('user_edit', { 'id': entity.quoteReference.organizer.id }) }}" alt = "Edit"><i class="fa fa-pencil-square-o"></i></a>{% endif %}
            </td>
        </tr>
        </tbody>
    </table>

    <hr>

    <table>
        <tbody>
        <tr>
            <th>Primary Business Administrator</th><td>{% if entity.quoteReference.salesAgent %}{{ entity.quoteReference.salesAgent.firstName }} {{ entity.quoteReference.salesAgent.lastName }} {{ entity.quoteReference.salesAgent.email }}{% endif %}</td>
        </tr>
        <tr>
            <th>Other Business Administrator</th><td>{% if entity.quoteReference.secondaryContact %}{{ entity.quoteReference.secondaryContact.firstName }} {{ entity.quoteReference.secondaryContact.lastName }} {{ entity.quoteReference.secondaryContact.email }}{% endif %}</td>
        </tr>
        </tbody>
    </table>

    <hr>

    {# RENDER THE CONTENT BLOCKS HERE #}

   {# {{ dump(entity) }} #}

    <h3>Tour Information</h3>

    <a id="add-new-tab" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="#">
        <i class="fa fa-plus-circle"></i>  Add New Tab
    </a>

    <div id="content-blocks-wrapper" class="sortable-tabs">
        {%  for tab, blocks in entity.content %}
        <div id="tab-{{ tab }}" class="content-blocks-tab">
            <h4 id="tab-label-{{ tab }}" class="content-blocks tab-label">
                <i class="fa fa-arrows"></i> {{ tab }}
                <i class="content-block-tab-actions fa fa-ban"></i>
                <i class="content-block-tab-actions fa fa-lock"></i>
                <i class="content-block-tab-actions fa fa-trash-o"></i>
                <i class="content-block-tab-actions fa fa-pencil-square-o"></i>
                <a href="{{ path('manage_quote') }}" alt = "Add New Content Block"><i class="content-block-tab-actions fa fa-plus-circle"></i></a>



            </h4>
            <div id="tabs-drawer-{{ tab }}" class="sortable-items content-blocks-drawer">
                    {%  for item in blocks %}
                        <div id="content-blocks-{{ item }}" class="content-blocks content-blocks-item">
                            <i class="fa fa-arrows"></i>  {{ item }} name
                            {# probably render a controller here by passing in item as id and have block entity returned #}
                            <div id="content-block-actions-{{ item }}" class="content-block-actions">
                                <i class="fa fa-pencil-square-o"></i>
                                <i class="fa fa-trash-o"></i>
                                <i class="fa fa-lock"></i>  {# <i class="fa fa-unlock-alt"></i> #}
                                <i class="fa fa-ban"></i> {# <i class="fa fa-unlock-alt"></i> #}
                            </div>
                        </div>
                    {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

    <style>
        .content-blocks-drawer {min-height: 1em;}
    </style>

    <script>
        (function ($) {
            $("#add-new-tab").on('click', function(){
                var newId = $("#content-blocks-wrapper").children().length;
                $("#content-blocks-wrapper").prepend(
                        '<div id="tab-tab'  + (newId + 1)+ '" class="content-blocks-tab">' +
                        ' <h4 id="tab-label-' +(newId +1)+'" class="content-blocks tab-label">'+
                        '<i class="fa fa-arrows"></i> New Tab' + (newId + 1) +
                        '<i class="content-block-tab-actions fa fa-ban"></i>' +
                        '<i class="content-block-tab-actions fa fa-lock"></i>' +
                        '<i class="content-block-tab-actions fa fa-trash-o"></i>' +
                        '<i class="content-block-tab-actions fa fa-pencil-square-o"></i>' +
                        '<a href="{{ path('manage_quote') }}" alt = "Add New Content Block"><i class="content-block-tab-actions fa fa-plus-circle"></i></a>' +
                        '</h4>' +
                        '<div id="tabs-drawer-tab' + (newId +1) + '" class="sortable-items content-blocks-drawer">' +
                        '</div></div>'
                );

                $(".sortable-tabs").sortable('refresh');
                $(".sortable-items").sortable();

                // update server with new data
                var data
                     // var data = $('.sortable-tabs').sortable('serialize');
                $('.sortable-tabs').each(function(i, obj) {
                    $(this > '.sortable-items').map(function(){
                        data
                    })
                });



                var data = $('#content-blocks-wrapper').serialize();
                console.log(data);
                        //POST to server using $.post or $.ajax
                            $.ajax({
                                data: data,
                                type: 'POST',
                                url: '/manage/contentblocks/new-tab/{{ entity.id }}'
                            });

            });
        })(jQuery);
    </script>

{% endblock %}