{% extends '::site-base.html.twig' %}

{% if 'en_GB' in locale %} {% set format = 'd M Y' %} {% else %} {% set format = 'M d Y' %} {% endif %}
{# if a tour is converted, hide the tab and block edit icons using a css class#}
{% if (entity.converted is sameas(false)) and (entity.quoteReference.converted is sameas(false)) %}
    {% set editable="" %}
    {% set cursor="" %}
{% else %}
    {% set editable=" hidden" %}
    {% set cursor=" default-cursor" %}
{% endif %}

{% block title %}
    {% if is_granted("ROLE_BRAND") %}
        Quote  {% if entity.isTemplate == 1 %} (template) {% endif %}
    {% else %}
        {{ entity.quoteReference.name }}, {{ entity.name }}
    {% endif %}
{% endblock %}
{% block page_title %}Quote  {% if entity.isTemplate == 1 %} (template) {% endif %}{% endblock %}

{% block back_link %}
    {% if is_granted("ROLE_BRAND") %}
        <a class="back-link" href="{{ path('manage_quote') }}"><i class="fa fa-arrow-left"></i> {% trans %}quote.actions.back{% endtrans %}</a>
    {% else %}
        <a class="back-link" href="/"><i class="fa fa-arrow-left"></i> {% trans %}quote.actions.back_dash{% endtrans %}</a>
    {% endif %}
{% endblock %}

{% block sub_header %}
    <div class="sub-header">
      <div class="sizer">
        <div class="inner">
            {% if entity.isTemplate == 0 %}{# no Institutions on Templates #}
                {% if brand.media %}
                    <div class="brand-logo">
                        <img src="{{ ( brand.media.getRelativePath ~ "/" ~ brand.media.getHashedFilename ) | imagine_filter('thumbnailLarge') }}" alt="{{ brand.name }}">
                    </div>
                {% endif %}
            {% endif %}

            {% if entity.quoteReference.institution %}
                <div id="site-quote-name">{{ entity.quoteReference.institution.name }}</div>

                <h2 class="{% if brand.media %}has-brand-logo{% endif %}">
                    {% if entity.displayName %}
                        {{ entity.displayName }}
                    {% else %}
                        {{ entity.quoteReference.name }}{% if is_granted("ROLE_BRAND") %}, {{ entity.name }}{% endif %}
                    {% endif %}
                </h2>
            {% endif %}

            {% if entity.quoteNumber %}
                <div>{{ entity.quoteNumber }}</div>
            {% endif %}
        </div>
      </div>
    </div>
{% endblock %}

{% block body -%}
<div id="quote-version-{{ entity.id }}" class="site-show" page-type="show" entityId="{{ entity.id }}" entityType="quote" entityClass="QuoteVersion" entityPath="quoteversion"></div>

{% if (entity.locked is sameas(true)) %}
        <h3 style="color: red;">{% trans %}quote.actions.is_locked{% endtrans %}</h3>
    {% endif %}

    <ul class="record_actions quote-actions{% if entity.quoteReference.institution %}{% if entity.quoteReference.institution.media %} has-logo{% endif %}{% endif %}">
        {% if entity.quoteReference.institution %}
            {% if entity.quoteReference.institution.media %}
                <div class="institution-logo-action">
                    <img src="{{ ( entity.quoteReference.institution.media.getRelativePath ~ "/" ~ entity.quoteReference.institution.media.getHashedFilename ) | imagine_filter('thumbnailLarge') }}" alt="{{ entity.quoteReference.institution.name }}">
                </div>
            {% endif %}
        {% endif %}

        {% if (entity.locked is sameas(false)) and (is_granted("ROLE_BRAND")) %}
            {% if (entity.converted is sameas(false)) and (entity.quoteReference.converted is sameas(false)) %}
                <li>
                    <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('manage_quoteversion_edit', { 'id': entity.id }) }}">
                        <i class="fa fa-pencil-square-o"> </i> {% trans %}quote.actions.edit{% endtrans %}
                    </a>
                </li>
            {% else %}
                <li>
                    <a class="accepted-quote mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="#">
                        <i class="fa fa-paper-plane-o"> </i> {% trans %}quote.actions.converted{% endtrans %}
                    </a>
                </li>
            {% endif %}
        {% endif %}
        {% if is_granted("ROLE_ADMIN") %}
            <li>{{ form(delete_form) }}</li>
            <script>
                $( document ).ready(function() {
                    var deleteButton = $('.fa-trash-o').parent('button#form_submit');
                    deleteButton.on('click', function (e) {
                        e.preventDefault();
                        if (confirm('{% trans %}quote.form.delete.prompt{% endtrans %}')) {
                            deleteButton.parents('form').submit();
                        }
                    });
                });
            </script>
        {% endif %}
        <li>
            {% if entity.quoteNumber %}
                <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('quote_site_show', { 'id': entity.id, 'quoteNumber': entity.quoteNumber }) }}">
                    <i class="fa fam-preview"></i> {% trans %}quote.actions.preview{% endtrans %}
                </a>
            {% else %}
                <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('quote_site_action_show', { 'id': entity.id }) }}">
                    <i class="fa fam-preview"></i> {% trans %}quote.actions.preview{% endtrans %}
                </a>
            {% endif %}
        </li>

        <li>
        {% if (entity.locked is sameas(false)) %}
            <a id="quoteLock" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="#">
            <i class="fa fa-lock"></i> {% trans %}quote.actions.lock{% endtrans %}
        {% else %}
            {% if is_granted("ROLE_ADMIN") %}
                <a id="quoteLock" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="#">
                <i class="fa fa-unlock"></i> {% trans %}quote.actions.unlock{% endtrans %}
            {% endif %}
        {% endif %}
            </a>
        </li>
        {% if entity.isTemplate == 0 %} {# no Quotelinks for templates needed #}
            <li>
                <a id="generate-link" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="#">
                    <i class="fa fa-sign-in"></i> {% trans %}quote.actions.generate_quote_link{% endtrans %}
                </a>
            </li>
            <li>
                {% if (entity.converted is sameas(false) and entity.quoteReference.converted is sameas(false)) %}
                <a id="convert-quote" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('manage_tour_convert_quote', { 'quoteNumber': entity.quoteNumber }) }}">
                    <i class="fa fa-paper-plane"></i> {% trans %}quote.actions.convert_to_tour{% endtrans %}
                </a>
                {% endif %}
            </li>
        {% endif %}
    </ul>
    <h3>{% trans %}quote.show.summary.summary_title{% endtrans %}</h3>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>{% trans %}quote.show.summary.institution{% endtrans %}</th><td>{% if entity.quoteReference.institution %}{{ entity.quoteReference.institution.name }}{% endif %}</td>
                <th>{% trans %}quote.show.summary.tour_name{% endtrans %}</th><td>{% if entity.quoteReference.name %}{{ entity.quoteReference.name }}{% endif %}</td>
            </tr>
            <tr>
                <th>{% trans %}quote.show.summary.destination{% endtrans %}</th><td>{% if entity.quoteReference.destination %}{{ entity.quoteReference.destination }}{% endif %}</td>
                <th>{% trans %}quote.show.summary.quote_number{% endtrans %}</th><td>{% if entity.quoteNumber %}{{ entity.quoteNumber }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
    <hr>

    <h3>{% trans %}quote.show.details.details_title{% endtrans %}</h3>
    <table class="record_properties">
        <tbody>
            <tr>
                <th>{% trans %}quote.show.details.departure{% endtrans %}</th>
                <td>{% if entity.departureDate %}{{ entity.departureDate|date(format) }}{% endif %}</td>
                <th>{% trans %}quote.show.details.price_pp{% endtrans %}</th>
                <td>{% if entity.pricePerson %}{% if entity.currency %}{{ entity.currency.htmlSymbol | raw }}{% endif %} {{ entity.pricePerson }}{% endif %}</td>
            </tr>
            <tr>
                <th>{% trans %}quote.show.details.return{% endtrans %}</th>
                <td>{% if entity.returnDate %}{{ entity.returnDate|date(format) }}{% endif %}</td>
                <th>{% trans %}quote.show.details.board_basis{% endtrans %}</th>
                <td>{% if entity.boardBasis %}{{ entity.boardBasis.name }}{% endif %}</td>
            </tr>
            <tr>
                <th>{% trans %}quote.show.details.duration{% endtrans %}</th>
                <td>{% if entity.duration %}{{ entity.duration }}{% endif %}</td>
                <th>{% trans %}quote.show.details.transport{% endtrans %}</th>
                <td>{% if entity.transportType %}{{ entity.transportType.name }}{% endif %}</td>
            </tr>
            <tr>
                <th>{% trans %}quote.show.details.paying_places{% endtrans %}</th>
                <td>{% if entity.payingPlaces  %}{{ entity.payingPlaces  }}{% endif %}</td>
                <th>{% trans %}quote.show.details.free_places{% endtrans %}</th>
                <td>{% if entity.freePlaces  %}{{ entity.freePlaces  }}{% endif %}</td>
            </tr>
            <tr>
                <th>{% trans %}quote.show.details.quote_name{% endtrans %}</th>
                <td>{% if entity.name  %}{{ entity.name  }}{% endif %}</td>
                <th>{% trans %}quote.show.details.expiry_date{% endtrans %}</th>
                <td>{% if entity.expiryDate  %}{{ entity.expiryDate|date(format) }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    {% if entity.isTemplate == 0 %} {# Templates dont have Organizers #}
        <hr>
        <table>
            <tbody>
            <tr>
                <th>{% trans %}quote.show.details.organizer{% endtrans %}</th><td>{% if entity.quoteReference.organizer %}{{ entity.quoteReference.organizer.firstName }} {{ entity.quoteReference.organizer.lastName }} {{ entity.quoteReference.organizer.email }}{% endif %}
                    {% if entity.quoteReference.organizer %}<a href="{{ path('user_edit', { 'id': entity.quoteReference.organizer.id }) }}" title = "Edit this User's account information"><i class="fa fa-pencil-square-o"></i></a>{% endif %}
                </td>
            </tr>
            </tbody>
        </table>
    {% endif %}

    <hr>

    <table>
        <tbody>
        <tr>
            <th>{% trans %}quote.show.details.primary_business_admin{% endtrans %}</th><td>{% if entity.quoteReference.salesAgent %}{{ entity.quoteReference.salesAgent.firstName }} {{ entity.quoteReference.salesAgent.lastName }} {{ entity.quoteReference.salesAgent.email }}{% endif %}</td>
        </tr>
        <tr>
            <th>{% trans %}quote.show.details.other_business_admin{% endtrans %}</th><td>{% if entity.quoteReference.secondaryContact %}{{ entity.quoteReference.secondaryContact.firstName }} {{ entity.quoteReference.secondaryContact.lastName }} {{ entity.quoteReference.secondaryContact.email }}{% endif %}</td>
        </tr>
        </tbody>
    </table>

{% if entity.locked == 0%}
    {% if (entity.converted is sameas(false)) and (entity.quoteReference.converted is sameas(false)) %}
        <hr>
        <h3>{% trans %}quote.show.header_content.header_content_title{% endtrans %}</h3>

            {% if entity.headerBlock %}
                <div id="header-block-content-item" blockId="{{ entity.headerBlock.id }}">
                    <a id="edit-header-block" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="#">
                        <i class="fa fa-pencil-square-o"></i> {% trans %}quote.show.header_content.edit{% endtrans %}
                    </a>
                </div>
            {% else %}
                <div id="site-header-slideshow-content">
                    <a id="add-header-content" href="#" class="status-preview-edit mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                        <i class="fa fa-plus-circle"></i> {% trans %}quote.actions.add_header{% endtrans %}
                    </a>
                </div>
                {#<a id="add-headerBlock" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="#">#}
                    {#<i class="fa fa-plus-circle"></i> {% trans %}quote.show.header_content.add{% endtrans %}#}
                {#</a>#}
                {#<div id="headerblock-form"></div>#}
            {% endif %}
        <div id="site-header-editForm" style="display:none; width: 100%; margin-top: 5px;"></div>
    {% endif %}
    <hr>

    {# RENDER THE CONTENT BLOCKS HERE #}

   {# {{ dump(entity) }} #}

    <h3>{% trans %}quote.show.tour_information.tour_information_title{% endtrans %}</h3>

    {% if (entity.converted is sameas(false)) and (entity.quoteReference.converted is sameas(false)) %}
        <a id="add-new-tab" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="#">
            <i class="fa fa-plus-circle"></i>  {% trans %}quote.show.tour_information.add_tab{% endtrans %}
        </a>
    {% endif %}

    <a id="site-content"></a>
    <div id="content-blocks-wrapper" class="content-blocks-wrapper sortable-tabs">
        {%  for tab, data in entity.content %}
        <div id="{{ tab }}" class="content-blocks-tab">
            <span class="content-blocks tab-label{{ cursor }}">
                <i class="content-block-tab-handle fa fa-arrows{{ editable }}"></i>
                <h4 id="tab-label-{{ tab }}" class="editable-tab">{{ data[0] }}</h4>
                {% if data[1] | length < 1 %}
                    <span class="tab-delete icon-label{{ editable }}"><i class="content-block-tab-actions fa fa-trash-o"></i> {% trans %}quote.show.tour_information.delete_tab{% endtrans %}</span>
                {% endif %}
                <span class="tab-new icon-label{{ editable }}"><i class="content-block-tab-actions fa fa-plus-circle"></i> {% trans %}quote.show.tour_information.add_content{% endtrans %}</span>
            </span>



            <div id="tabs-drawer-{{ tab }}" class="sortable-items content-blocks-drawer">
                    {%  for item in data[1] %}
                        {% if items[item] != null %}
                            <div id="content-blocks-{{ item }}" class="content-blocks content-blocks-item {% if items[item].locked %}content-block-locked{% endif %}{{ cursor }}">
                                <i class="fa fa-arrows{{ editable }}"></i> {{ items[item].title }}
                                {# probably render a controller here by passing in item as id and have block entity returned #}
                                <div id="content-block-actions-{{ item }}" class="content-block-actions {% if items[item].locked %}content-block-locked{% endif %}{{ editable }}">
                                    <i class="item-edit content-block-item-action fa fa-pencil-square-o" itemid = "{{ item }}" title="Edit"></i>
                                    <i class="item-delete content-block-item-action fa fa-trash-o" title="Delete" blockID="{{ item }}"></i>
                                    {#
                                    {% if items[item].hidden %}
                                        <i class="item-hide content-block-item-action fa fa-ban"></i>{% else %}<i class="item-hide content-block-item-action fa fa-eye"></i>
                                    {% endif %}
                                    #}
                                 </div>
                             </div>
                            <div id="editable-content-blocks-{{ item }}" style="display:none; border: 1px dotted grey;padding:3em;"></div>
                        {% endif %}
                       {% endfor %}

             </div>
         </div>
           {% endfor %}
     </div>

{% endif %}
        {% javascripts '@toolkit_siteshow' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {#{% if editable %}#}
            {% javascripts '@toolkit_siteshow_edit' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {#{% endif %}#}
       <script>
           $(document).ready(function() {

               {% if (entity.converted is sameas(false)) and (entity.quoteReference.converted is sameas(false)) %}
                   /**
                    * Drag and Drop Sorting only if not converted)
                    */

                   $(".sortable-tabs").sortable({
                       containment: "parent",
                       items: "> div.content-blocks-tab",
                       // handle: ".move",
                       tolerance: "pointer",
                       cursor: "move",
                       opacity: 0.7,
                       revert: 300,
                       delay: 150,
                       dropOnEmpty: true,
                       placeholder: "tabs-placeholder",
                       start: function (e, ui) {
                           ui.placeholder.height(ui.helper.outerHeight());
                           $('.editable-tab').editable("disable");
                       },
                       stop: function (e, ui) {
                           $('.editable-tab').editable("enable");
                       },
                       axis: 'y',
                       update: function(e, ui) {
                           var pathArray = window.location.pathname.split( '/' );
                           contentBlocksUpdate(pathArray[3], 'QuoteVersion'); // fourth [3] part in the path should be quote ID to pass in
                       }
                   });


                   $( ".sortable-items" ).sortable({
                       containment: "#content-blocks-wrapper",
                       items: "> div.content-blocks",
                       cancel: '.content-block-locked',
                       tolerance: "pointer",
                       connectWith: '.sortable-items',
                       placeholder: "items-placeholder",
                       start: function (e, ui) {
                           ui.placeholder.height(ui.helper.outerHeight());
                       },
                       axis: 'y',
                       update: function(e, ui) {
                           var pathArray = window.location.pathname.split( '/' );
                           contentBlocksUpdate(pathArray[3], 'QuoteVersion'); // fourth [3] part in the path should be quote ID to pass in
                       }
                   });
               {% endif %}

               // Generate a Quote LInk

               $("#generate-link").on('click', function(e) {
                   e.preventDefault();
                   // todo Get item.id and item.name
                   var link_html = '<p>{% trans %}quote.modals.message.promote{% endtrans %}</p>'+
                                   '<p><input size="35" type="text" id="quote-link-input" name="quote-link-input" class="form-control" value="{{ url('quote_site_action_show', {'id': entity.id}) }}" readonly="readonly">'+
                                   '<a href="#" id="copy-button" data-clipboard-target="quote-link-input" title="Click to copy Quote URL" class="not-full mdl-button mdl-js-button mdl-button--raised mdl-button--colored">'+
                                        '<i class="fa fa-sign-in fa-stack"></i>' +
                                    '</a></p>'+
                                    '<p>You should also provide the Quote Number: <strong>{{ entity.quoteNumber }}<strong></p>';
                   toolkitStaticPopup("Quote Link", link_html);
                   // Copy to Clipboard
                   $('#copy-button').attr('brandPrimaryColor', '{{ brand.primaryColor }}').click(copyToClipboard);
               });



               // Add a headerBlock to a site
               $("#add-headerBlock").on('click', function () {
                   var t = $(this);
                   var entityClass="QuoteVersion";
                   var entityId = {{ entity.id }};
                   $("#loader").css("display", "block");
                   var blockId = t.attr('itemid');
                   var editBlock = $("#editable-content-blocks-" + blockId);
                   var originalDiv = $('#content-blocks-' + blockId);
                   editBlock.html('');
                   editBlock.load("/manage/headerblock/header/new/" + entityId + entityClass, function () {
                       doMDLpopup(editBlock); // run the function to add appropriate MDL classes to form elements
                       originalDiv.hide();
                       editBlock.show();
                       $("#loader").css("display", "none");
                       $('.content-block-actions').hide();
                       $('.editable-tab').editable('disable');
                       $(".sortable-tabs").sortable('disable');
                       $(".sortable-items").sortable('disable');



                   });


                   {#toolkitStandardPopup( "{% trans %}quote.show.header_content.add{% endtrans %}", "/manage/headerblock/header/new/" + {{ entity.id}} + "/QuoteVersion" );#}
               });

               {% if entity.headerBlock %}
                   // Edit the headerBlock for a site
                   $("#edit-headerBlock").on('click', function(){
                       var t = $(this);
                       var entityClass="QuoteVersion";
                       var entityId = {{ entity.id }};
                       var headerBlockId = {{ entity.headerBlock.id }};
                       $("#loader").css("display", "block");
//                       var blockId = t.attr('itemid');
                       var editBlock = $("#headerblock-form");
//                       var originalDiv = $('#content-blocks-' + blockId);
                       editBlock.html('');
                       editBlock.load("/manage/headerblock/" + headerBlockId + "/header/edit/" + entityId + entityClass, function () {
                           doMDLpopup(editBlock); // run the function to add appropriate MDL classes to form elements
//                           originalDiv.hide();
                           editBlock.show();
                           $("#loader").css("display", "none");
                           $('.content-block-actions').hide();
                           $('.editable-tab').editable('disable');
                           $(".sortable-tabs").sortable('disable');
                           $(".sortable-items").sortable('disable');



                       });
                       {#toolkitStandardPopup( "{% trans %}quote.show.header_content.edit{% endtrans %}", "/manage/headerblock/" + {{ entity.headerBlock.id }} + "/header/edit/" + {{ entity.id}} + "/QuoteVersion" );#}
                   });
               {% endif %}

               // Add a new tab to a site
               $("#add-new-tab").on('click', function(e) {
                   e.preventDefault();
                   contentBlocksAddTab('#content-blocks-wrapper', {{ entity.id }}, 'QuoteVersion');
               });

               // Toggle the quoteVersion Lock
               $("#quoteLock").on('click', function(){
                   $("#loader").css("display", "inline-block");
                   $.ajax({
                       url: window.location.protocol + '//' + window.location.hostname + '/manage/quoteversion/{{ entity.id }}/lock',
                       headers: {
                           "Pragma": "no-cache",
                           "Expires": -1,
                           "Cache-Control": "no-cache"
                       }
                   }).done(function (data) {
                       window.location.reload(true);
                   });
               });

               // remove an empty tab from a site (hard delete)
               $(".tab-delete").on('click', function(){
                   var ancestorTabElement = $(this).closest('.content-blocks-tab');
                   if (confirm('Are you sure you want to remove this tab? Warning: this can not be undone.')) {
                       $(ancestorTabElement).remove();
                       contentBlocksUpdate({{ entity.id }}, 'QuoteVersion');
                   }
               });

               // Add a content block into a tab
               $(".tab-new").on('click', function(){
                   var ancestorTabElement=$(this).closest('.content-blocks-tab').children('.sortable-items');
                   $.ajax({
                       url: window.location.protocol + '//' + window.location.hostname + '/manage/contentblocks/ajax/new',
                       headers: {
                           "Pragma": "no-cache",
                           "Expires": -1,
                           "Cache-Control": "no-cache"
                       }
                   }).done(function (data) {
                       var id=(Object.keys(data).toString());
                       var title = data[id];
                       //add element into DOM
                       $(ancestorTabElement).append(
                           '<div id="content-blocks-' + id + '" class="content-blocks content-blocks-item">' +
                           '<i class="fa fa-arrows"></i> ' + title +
                           {# probably render a controller here by passing in item as id and have block entity returned #}
                        '<div id="content-block-actions-' + id + '" class="content-block-actions">' +
                        '<i itemid = "' + id + '" class="item-edit content-block-item-action fa fa-pencil-square-o" title="Edit"></i> ' +
                        '<i class="item-delete content-block-item-action fa fa-trash-o" title="Delete" blockId="' + id + '"></i> ' +
                        {# '<i class="item-hide content-block-item-action fa fa-ban"></i>' + #}
                        '</div></div>'
                    );
                    contentBlocksUpdate({{ entity.id }}, 'QuoteVersion');
                });

            });

            // edit a content block

               // Edit a content block
               $(".item-edit").on('click', function () {
                   var t = $(this);
                   var entityClass="QuoteVersion";
                   var entityId = {{ entity.id }};
                   $("#loader").css("display", "block");
                   var blockId = t.attr('itemid');
                   var editBlock = $("#editable-content-blocks-" + blockId);
                   var originalDiv = $('#content-blocks-' + blockId);
                   editBlock.html('');
                   editBlock.load('/ajax/contentblocks/' + blockId + '/edit/' + entityId + '/' + entityClass, function () {
                       doMDLpopup(editBlock); // run the function to add appropriate MDL classes to form elements
                       originalDiv.hide();
                       editBlock.show();
                       $("#loader").css("display", "none");
                       $('.content-block-actions').hide();
                       $('.editable-tab').editable('disable');
                       $(".sortable-tabs").sortable('disable');
                       $(".sortable-items").sortable('disable');



                   });

               });


            /* This old edit method caused conflict with jquery-ui dialog and ckeditor
            $(".item-edit").on('click', function(e){

                // todo Get item.id and item.name
                var actionParent = $(this).parent().attr('id');
                var block = actionParent.substring(22);
                toolkitStandardPopup( "Edit Content Block", "/ajax/contentblocks/" + block + "/edit/" + {{ entity.id}} + "/QuoteVersion" );
            });*/


            // delete a content block
               $(document).on('click', '.item-delete', function(e){
                // todo Get item.id and item.name
                if (confirm('{% trans %}quote.actions.delete_warning{% endtrans %}')) {
                    var blockId = $(this).attr('blockId');
                    $.ajax({
                        method:'DELETE',
                        url: '/manage/contentblocks/' + blockId + '/delete/' + {{ entity.id }} + '/QuoteVersion',
                        headers: {
                            "Pragma": "no-cache",
                            "Expires": -1,
                            "Cache-Control": "no-cache"
                        }
                    }).done(function () {
                        $('#content-blocks-' + blockId).remove();
                    });
                }
            });

            {% if (entity.converted is sameas(false)) and (entity.quoteReference.converted is sameas(false)) %}
              // change a tab's name
              var enableTabSortable = function(settings, self) {
                  $(".sortable-tabs").sortable("enable");
              };
              var disableTabSortable = function(settings, self) {
                  $(".sortable-tabs").sortable("disable");
              };
              $(".editable-tab").editable(function(value, settings) {
                  return(value);
              }, {
                  width: '20em',
                  tooltip: 'Click to edit...',
                  onedit: disableTabSortable,
                  onreset: enableTabSortable,
                  callback : function(value, settings) {
                      contentBlocksUpdate({{ entity.id }}, 'QuoteVersion');
                  }
              });
            {% endif %}
        });
    </script>

{% endblock %}





{% block footer_left %}
    {% if entity.quoteReference.salesAgent %}
        <span class="intro">Primary Business Contact:</span>
        {% if entity.quoteReference.salesAgent.media %}
            <span class="tui-image-avatar"><img src="{{ ( entity.quoteReference.salesAgent.media.getRelativePath ~ "/" ~ entity.quoteReference.salesAgent.media.getHashedFilename ) | imagine_filter('thumbnail') }}" alt="{{ entity.quoteReference.salesAgent.username }}"></span>
        {% elseif entity.quoteReference.salesAgent.firstName and entity.quoteReference.salesAgent.lastName %}
            <span class="tui-text-avatar mdl-typography--headline">{{ entity.quoteReference.salesAgent.firstName[:1] }}{{ entity.quoteReference.salesAgent.lastName[:1] }}</span>
        {% else %}
            <span class="tui-text-avatar mdl-typography--headline">{{ entity.quoteReference.salesAgent.username[:1] }}</span>
        {% endif %}
        <span class="agent">
            {% if entity.quoteReference.salesAgent.displayName %}
                {{ entity.quoteReference.salesAgent.displayName }}
            {% else %}
                {{ entity.quoteReference.salesAgent.firstName }} {{ entity.quoteReference.salesAgent.lastName }}
            {% endif %}
            <br>
            <a href="mailto:{{ entity.quoteReference.salesAgent.email }}">{{ entity.quoteReference.salesAgent.email }}</a></span>
    {% endif %}
{% endblock %}

{% block footer_right %}
    <div class="quote-info"><span class="quote-label">Price per person:</span><span class="quote-price">{% if entity.pricePerson %}<strong>{% if entity.currency %}{{ entity.currency.htmlSymbol | raw }}{% endif %}{{ entity.pricePerson }}</strong>{% endif %}</span></div>
    {% if (entity.converted is sameas(false)) and (entity.quoteReference.converted is sameas(false)) %}
        {% if date(entity.expiryDate) < date('now') %}
            <a class="expired-quote mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="#">
                <i class="fa fa-calendar-times-o"></i> Expired
            </a>
        {% endif %}
    {% elseif (entity.converted is sameas(true)) and (entity.quoteReference.converted is sameas(true))%}
        <a class="accepted-quote mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="#">
            <i class="fa fa-thumbs-up"> </i> Converted to Tour
        </a>
    {% endif %}
{% endblock %}
