{% extends '::base.html.twig' %}
{% block title %}Edit '{{ entity.username }}'{% endblock %}
{% block page_title %}Edit '{{ entity.username }}'{% endblock %}

{% block body -%}
    <div id = "avatar-label" class="mdl-label-mimic">Profile Image <div style="display:none;" id="dropzone-form-close"> <i class="fa fa-times-circle"></i></div></div>
    {{ render(controller('MediaBundle:Media:createDropzoneForm', {'context':'user'})) }}
    {{ form_start(edit_form) }}


            <div id="user_media" class="is-dirty mdl-textfield--floating-label">
                {% if entity.media %}
                    <img class="media-placeholder-image" src="{{ asset(".." ~ entity.media.getRelativePath ~ "/" ~ entity.media.getHashedFilename ) }}">
                {%  else %}
                    <i class="media-placeholder-image fa fa-picture-o fa-5x"></i>
                {% endif %}
            </div>
    {{ form_widget(edit_form) }}
    {{ form_end(edit_form) }}

    <ul class="record_actions">
        <li>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('user') }}">Back to
                the list</a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>

{% endblock %}
