{% extends '::base.html.twig' %}
{% block title %}{% trans %}user.title.edit{% endtrans %}{% endblock %}
{% block page_title %}{% trans %}user.page_title.edit{% endtrans %}{% endblock %}



{% block body -%}
    <div id="avatar-label" class="mdl-label-mimic">{% trans %}user.avatar.label{% endtrans %}</div>

    {{ render(controller('MediaBundle:Media:createDropzoneForm', {'context':'user', 'media_field_id':'tui_toolkit_userbundle_user_media', 'existing_media':entity.media})) }}

    {{ form_start(edit_form) }}

    {% if entity.media %}
        <script>
            $(document).ready(function () {
                var bUrl = '{{ asset(".." ~ entity.media.getRelativePath ~ "/" ~ entity.media.getHashedFilename ) }}';
                $(".media-placeholder-image").css({
                    "background-image": "url(" + bUrl + ")",
                    "background-position": "50%",
                    "background-repeat": "no-repeat",
                    "background-size": "contain",
                    "width": "300px",
                    "height": "160px"
                });
                $("#tui_toolkit_passengerbundle_passenger_media").val('{{ entity.media.id }}');

                $(document).on('click', '.media-placeholder-image', function(e) {
                    $("#tui_toolkit_passengerbundle_passenger_media").val('');
                });
            });
        </script>
    {% endif %}

    {% if app.user.id == entity.id %}
        <div id="security-edit-link">
            {% trans %}user.form.resetlink{% endtrans %}, <a href="{{ path('user_security_reset', {'id' : entity.id}) }}">click here</a>.
        </div>
    {% endif %}
    {{ form_widget(edit_form) }}

    {{ form_end(edit_form) }}

    {% if is_granted("ROLE_BRAND") %}
        <ul class="record_actions">
            <li>
                <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('user') }}">
                    <i class="fa fa-arrow-circle-left"></i> {% trans %}user.actions.back{% endtrans %}</a>
            </li>
            {% if delete_form %}
                <li>{{ form(delete_form) }}</li>
                <script>
                    $( document ).ready(function() {
                        var deleteButton = $('.fa-trash-o').parent('button#form_submit');
                        deleteButton.on('click', function (e) {
                            e.preventDefault();
                            if (confirm('{% trans %}user.form.delete.prompt{% endtrans %}')) {
                                deleteButton.parents('form').submit();
                            }
                        });
                    });
                </script>
            {% endif %}
        </ul>
    {% endif %}

{% endblock %}
