{% extends '::base.html.twig' %}
{% block title %}Edit {{ entity.username }}{% endblock %}
{% block page_title %}Edit {{ entity.username }}{% endblock %}

{% block body -%}

    {{ form(edit_form) }}

    {{ render(controller('TUIToolkitUserBundle:User:createDropZoneForm')) }}

    <ul class="record_actions">
        <li>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('user') }}">Back to the list</a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>

{% endblock %}
