{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User list</h1>

    <table class="mdl-data-table mdl-js-data-table records_list">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Username (ID)</th>
                <th>Enabled</th>
                <th class="mdl-data-table__cell--non-numeric">Name</th>
                <th class="mdl-data-table__cell--non-numeric">Phone Number</th>
                <th class="mdl-data-table__cell--non-numeric">Email</th>
                <th class="mdl-data-table__cell--non-numeric">Roles</th>
                <th class="mdl-data-table__cell--non-numeric">User Parent</th>
                <th class="mdl-data-table__cell--non-numeric">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td class="mdl-data-table__cell--non-numeric"><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.username }}</a> ({{ entity.id }})</td>
                <td>{{ entity.enabled }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ entity.honorific }} {{ entity.firstName }} {{ entity.lastName }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ entity.phoneNumber }}</td>
                <td class="mdl-data-table__cell--non-numeric"><a href="mailto:{{ entity.email }}">{{ entity.email }}</a></td>
                <td class="mdl-data-table__cell--non-numeric">
                  <ul>
                  {% for role in entity.roles %}
                    <li>{{ role |e }}</li>
                  {% endfor %}
                  </ul>
                </td>
                <td class="mdl-data-table__cell--non-numeric">{{ entity.userParent }}</td>
                <td class="mdl-data-table__cell--non-numeric">
                <ul>
                    <li>
                        <a href="{{ path('user_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('user_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul class="record_actions">
        <li>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('user_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
