{% if 'en_GB' in locale %} {% set format = 'd M Y' %} {% else %} {% set format = 'M d Y' %} {% endif %}
{#  {{ dump(quotes) }} #}

{% for quote in quotes %}
<div class="tour-edit mdl-card mdl-shadow--2dp quote-cards">
    {% set bgpath = '' %}
    {% if quote.headerBlock is defined and quote.headerBlock != null %}
        {% if quote.headerBlock.mediaWrapper is defined and  quote.headerBlock.mediaWrapper != null %}
            {% for mediaWrapper in quote.headerBlock.mediaWrapper %}
                {% for media in mediaWrapper.media %}
                    {% if loop.first %}
                        {% set bgpath = app.request.uriForPath( asset( media.getRelativePath ~ "/" ~ media.getHashedFilename ) )   %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endif %}

    <div class="profile-tour-header mdl-card__title" style="background-image: url({{ bgpath }}); background-size: cover;">
        {% if (is_granted("ROLE_BRAND")) or (quote.quoteReference.organizer is defined and quote.quoteReference.organizer.id == app.user.id) %}
            {% set quotelink = path('quote_site_show', {'id': quote.id, 'quoteNumber': quote.quoteNumber}) %}
            {% set quoteEdit = path('manage_quoteversion_show', {'id': quote.id}) %}
        {% else %}
            {% set quotelink = path('quote_site_show', {'id': quote.id, 'quoteNumber': quote.quoteNumber})  %}
        {% endif %}

        <h2 class="mdl-card__title-text"><a href="{{ quotelink }}">{% trans %}user.profile.my_quotes.quote{% endtrans %}: {{ quote.quoteReference.name }} - {{ quote.name }} <i class="fa fa-arrow-right"></i></a></h2>

        {% if is_granted("ROLE_BRAND") %}
            <a href="{{ quoteEdit }}" quoteid="{{ quote.id }}" class="profile-tour-edit"><i class="profile-quote-edit-link fa fa-pencil"></i> Edit</a>
        {% endif %}

        <span class="date-span">{% if quote.departureDate and quote.returnDate%}{{ quote.departureDate|date(format)  }} - {{ quote.returnDate|date(format) }} | {% endif %}{% if quote.quoteReference.destination %}{{ quote.quoteReference.destination }}{% endif %}</span>
    </div>

    <div class="mdl-card__supporting-text profile-tour-details">
        <ul>
            <li>
                <div class="profile-list-item item-1">
                    {% if quote.currency %}{{ quote.currency.htmlSymbol | raw}}{% endif %}{% if quote.pricePerson %}{{ quote.pricePerson }}{% else %}{% trans %}user.profile.my_quotes.no_price{% endtrans %} {% endif %}<br /><label>{% trans %}user.profile.my_quotes.price{% endtrans %}</label>
                </div>
            </li>
            <li>
                {% if quote.quoteReference.institution %}
                    <div class="profile-list-item item-2">{{ quote.quoteReference.institution.name}}<br /><label>{% trans %}user.profile.my_quotes.institution{% endtrans %}</label></div>
                {% endif %}
            </li>
            <li>
                <div class="profile-list-item item-3">
                    {% if quote.quoteReference.organizer and quote.quoteReference.organizer.id == app.user.id %}
                        {% if quote.quoteReference.salesAgent.media %}
                            <span class="tui-image-avatar">
                                <img src="{{ ( quote.quoteReference.salesAgent.media.getRelativePath ~ "/" ~ quote.quoteReference.salesAgent.media.getHashedFilename ) | imagine_filter('thumbnail') }}" alt="{{ quote.quoteReference.salesAgent.username }}">
                            </span>
                        {% elseif quote.quoteReference.salesAgent.firstName and tour.salesAgent.lastName %}
                            <span class="tui-text-avatar mdl-typography--headline">{{ quote.quoteReference.salesAgent.firstName[:1] }}{{ quote.quoteReference.salesAgent.lastName[:1] }}</span>
                        {% else %}
                            <span class="tui-text-avatar mdl-typography--headline">{{ quote.quoteReference.salesAgent.username[:1] }}</span>

                        {% endif %}
                        {{ quote.quoteReference.salesAgent.firstName }} {{ tour.salesAgent.lastName }} <br /> {{ quote.quoteReference.salesAgent.email }}<br /><label>{% trans %}user.profile.my_quotes.salesAgent{% endtrans %}</label>
                    {% elseif quote.quoteReference.organizer %}
                        {% if quote.quoteReference.organizer.media %}
                            <span class="tui-image-avatar">
                                    <img src="{{ ( quote.quoteReference.organizer.media.getRelativePath ~ "/" ~ quote.quoteReference.organizer.media.getHashedFilename ) | imagine_filter('thumbnail') }}" alt="{{ quote.quoteReference.organizer.username }}"></span>
                        {% elseif quote.quoteReference.organizer.firstName and quote.quoteReference.organizer.lastName %}
                            <span class="tui-text-avatar mdl-typography--headline">{{ quote.quoteReference.organizer.firstName[:1] }}{{ quote.quoteReference.organizer.lastName[:1] }}</span>
                        {% else %}
                            <span class="tui-text-avatar mdl-typography--headline">{{ quote.quoteReference.organizer.username[:1] }}</span>

                        {% endif %}
                        {{ quote.quoteReference.organizer.firstName }} {{ quote.quoteReference.organizer.lastName }}  <br /> {{ quote.quoteReference.organizer.email }}<br /><label>{% trans %}user.profile.my_quotes.organizer{% endtrans %}</label>
                    {% endif %}
                </div>

            </li>
        </ul>
    </div>
</div>
{% endfor %}
