{% if 'en_GB' in locale %} {% set format = 'd M Y' %} {% else %} {% set format = 'M d Y' %} {% endif %}
{#  {{ dump(tours) }} #}

{%  for tour in tours %}
    {% set dtg  = date(tour.departureDate).diff(date("now")) %}
    {% if dtg.days < 1 %} {%  set dtgFinal = 0  %} {% else %} {% set dtgFinal = dtg.days %}{% endif %}
    <div class="tour-edit mdl-card mdl-shadow--2dp">
        {% set bgpath = ' ' %}
        {% if tour.headerBlock %}
            {% for mediaWrapper in tour.headerBlock.mediaWrapper %}
                {% for media in mediaWrapper.media %}
                    {% if loop.first %}
                        {% set bgpath = app.request.uriForPath( asset( media.getRelativePath ~ "/" ~ media.getHashedFilename ) ) %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div class="profile-tour-header mdl-card__title" style="background-image: url({{ bgpath }}); background-size: cover;">
            {% if (is_granted("ROLE_BRAND")) or (tour.organizer.id == app.user.id) %}
                {% set tourlink = path('manage_tour_show', {'id': tour.id}) %}
            {% else %}
                {% set tourlink = path('tour_site_show', {'id': tour.id, 'quoteNumber': tour.quoteNumber}) %}
            {% endif %}

            <h2 class="mdl-card__title-text"><a href="{{ tourlink }}" class="">Tour: {{ tour.name }} <i class="fa fa-arrow-right"></i></a></h2>

            {% if is_granted("ROLE_BRAND") %}
                <span tourid="{{ tour.id }}" class="profile-tour-edit"><i class="profile-quote-edit-link fa fa-pencil"></i> Edit</span>
            {% endif %}

            <span class="date-span">{% if tour.departureDate and tour.returnDate %}{{ tour.departureDate|date(format)  }} - {{ tour.departureDate|date(format)  }} | {% endif %}{% if tour.destination %}{{ tour.destination }}{% endif %}</span>
        </div>

        <div class="mdl-card__supporting-text profile-tour-details">
           <ul>
               <li>
                   <div class="profile-list-item item-1">
                        {% if (tour.organizer.id == app.user.id) or (tour.salesAgent.id == app.user.id) %}
                            {% if tour.currency %}{{ tour.currency.htmlSymbol | raw}}{% endif %}{% if tour.pricePerson %}{{ tour.pricePerson }}{% endif %}<br /><label>Price</label>
                        {% else %} {# show the Public price for passenger/parents#}
                       {% if tour.currency %}{{ tour.currency.htmlSymbol | raw}}{% endif %}{% if tour.pricePersonPublic %}{{ tour.pricePersonPublic }}{% endif %}<br /><label>Price</label>
                        {% endif %}
                   </div>
               </li>
               <li>
                   <div class="profile-list-item item-2">{{ dtgFinal }}<br /><label>Days to go</label> </div>
               </li>
               <li>
                   <div class="profile-list-item item-3">
                       {% if tour.organizer.id == app.user.id %}
                            {% if tour.salesAgent.media %}
                                <span class="tui-image-avatar">
                                    <img src="{{ asset( tour.salesAgent.media.getRelativePath ~ "/" ~ tour.salesAgent.media.getHashedFilename ) | imagine_filter('thumbnail') }}" alt="{{ tour.salesAgent.username }}"></span>
                            {% elseif tour.salesAgent.firstName and tour.salesAgent.lastName %}
                                <span class="tui-text-avatar mdl-typography--headline">{{ tour.salesAgent.firstName[:1] }}{{ tour.salesAgent.lastName[:1] }}</span>
                            {% else %}
                                <span class="tui-text-avatar mdl-typography--headline">{{ tour.salesAgent.username[:1] }}</span>

                            {% endif %}
                        {{ tour.salesAgent.firstName }} {{ tour.salesAgent.lastName }} <br /> {{ tour.salesAgent.email }}<br /><label>Business Contact</label>
                        {% else %}
                            {% if tour.organizer.media %}
                                <span class="tui-image-avatar">
                                    <img src="{{ asset( tour.organizer.media.getRelativePath ~ "/" ~ tour.organizer.media.getHashedFilename ) | imagine_filter('thumbnail') }}" alt="{{ tour.organizer.username }}"></span>
                            {% elseif tour.organizer.firstName and tour.organizer.lastName %}
                                <span class="tui-text-avatar mdl-typography--headline">{{ tour.organizer.firstName[:1] }}{{ tour.organizer.lastName[:1] }}</span>
                            {% else %}
                                <span class="tui-text-avatar mdl-typography--headline">{{ tour.organizer.username[:1] }}</span>

                            {% endif %}
                             {{ tour.organizer.firstName }} {{ tour.organizer.lastName }}  <br /> {{ tour.organizer.email }}<br /><label>Organizer</label>
                        {% endif %}
                   </div>
               </li>
           </ul>
        </div>
    </div>
{% endfor %}
<script>
    //edit quotes action
    $(document).ready(function () {
        $(document).on('click', '.profile-tour-edit', function (e) {
            var tourid = $(this).attr('tourid');
            window.location.href = '/manage/tour/' + tourid + '/edit';
        });

    });
</script>