{% if 'en_GB' in locale %} {% set format = 'd M Y' %} {% else %} {% set format = 'M d Y' %} {% endif %}


{%  for parent in parents %}
    {% set totalCompletedTasks =+ "" %}
    {% set totalPossibleTasks =+ "" %}

    {% if app.user.id != parent.organizer.id and app.user.id != parent.salesAgent.id%}
        {% if parent.departureDate is defined %}
            {% set dtg  = date(parent.departureDate).diff(date("now")) %}
            {% if dtg.days < 1 %} {%  set dtgFinal = 0  %} {% else %} {% set dtgFinal = dtg.days %}{% endif %}
        {% else %} {% set dtgFinal = 'n/a' %}
        {% endif %}
        <div class="tour-edit mdl-card mdl-shadow--2dp tour-cards">
            {% set bgpath = ' ' %}
            {% if parent.headerBlock is defined and parent.headerBlock != null %}
                {% if parent.headerBlock.mediaWrapper is defined and parent.headerBlock.mediaWrapper != null %}
                    {% for mediaWrapper in parent.headerBlock.mediaWrapper %}
                        {% for media in mediaWrapper.media %}
                            {% if loop.first %}
                                {% set bgpath = app.request.uriForPath( asset( media.getRelativePath ~ "/" ~ media.getHashedFilename ) )   %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            {% endif %}

            <div class="profile-tour-header mdl-card__title" style="background-image: url({{ bgpath }}); background-size: cover;">
                {% if (is_granted("ROLE_BRAND")) or (parent.organizer is defined and parent.organizer.id == app.user.id) %}
                    {% set tourlink = path('manage_tour_show', {'id': parent.id}) %}
                    {% set tourEdit = path('manage_tour_edit', {'id': parent.id}) %}
                {% else %}
                    {% set tourlink = path('tour_site_show', {'id': parent.id, 'quoteNumber': parent.quoteNumber})  %}
                {% endif %}
                {% set passengersLink = path('manage_parent_passenger_dashboard', {'tourId': parent.id, 'parentId': app.user.id}) %}


                <h6 style="position: absolute; right: 10px; top: 10px; color: white;" class="mdl-card_title-text"><a style="text-decoration: none; color:white;" href="{{ passengersLink }}"><i class="material-icons">edit</i>Manage Passengers</a></h6>


                <h2 class="mdl-card__title-text"><a href="{{ tourlink }}">{% trans %}user.profile.my_quotes.tour{% endtrans %}: {{ parent.name }} <i class="fa fa-arrow-right"></i></a></h2>

                {#<h4 class="mdl-card_title-text"><a href="{{ passengersLink }}">Something Something</a></h4>#}


                {% if is_granted("ROLE_BRAND") %}
                    <a href="{{ tourEdit }}" tourid="{{ parent.id }}" class="profile-tour-edit"><i class="profile-quote-edit-link fa fa-pencil"></i> Edit</a>
                {% endif %}

                <span class="date-span">{% if parent.departureDate and parent.returnDate %}{{ parent.departureDate|date(format)  }} - {{ parent.returnDate|date(format)  }} | {% endif %}{% if parent.destination %}{{ parent.destination }}{% endif %}</span>
                <div style="width: 100%; max-height: 40px; position: relative; float: right;" class="avatar-container">
                    {% for passengerObject in passengerObjects %}
                        {% if passengerObject.tourReference.id == parent.id %}
                            <a href="{{ path('manage_passenger_show', { 'id': passengerObject.id }) }}">
                                {% if passengerObject.media %}
                                    <img style="float: right; margin-right: 5px;" id="passenger-avatar" class="tui-image-avatar" src="{{ ( passengerObject.media.getRelativePath ~ "/" ~ passengerObject.media.getHashedFilename ) | imagine_filter('thumbnail') }}">
                                {% elseif passengerObject.fName and passengerObject.lName %}
                                    <span style="float: right; margin-right: 5px;" id="passenger-avatar" class="tui-text-avatar mdl-typography--headline">{{ passengerObject.fName[:1] }}{{ passengerObject.lName[:1] }}</span>
                                {% else %}
                                    <span style="float: right; margin-right: 5px;" id="passenger-avatar" class="tui-text-avatar mdl-typography--headline">{{ passengerObject.fName[:1] }}</span>
                                {% endif %}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="mdl-card__supporting-text profile-tour-details">
                <ul>
                    {#<li>#}
                        {#<div class="profile-list-item item-1 tour-dashboard">#}
                            {#{% if (parent.organizer.id == app.user.id) or (parent.salesAgent.id == app.user.id) %}#}
                                {#{% if parent.currency %}{{ parent.currency.htmlSymbol | raw}}{% endif %}{% if parent.pricePerson %}{{ parent.pricePerson }}{% else %}{% trans %}user.profile.my_quotes.no_price{% endtrans %}{% endif %}<br /><label>{% trans %}user.profile.my_quotes.price{% endtrans %}</label>#}
                            {#{% else %} #}{# show the Public price for passenger/parents#}
                                {#{% if parent.currency %}{{ parent.currency.htmlSymbol | raw}}{% endif %}{% if parent.pricePersonPublic %}{{ parent.pricePersonPublic }}{% else %}{% trans %}user.profile.my_quotes.no_price{% endtrans %}{% endif %}<br /><label>{% trans %}user.profile.my_quotes.price{% endtrans %}</label>#}
                            {#{% endif %}#}
                        {#</div>#}
                    {#</li>#}
                    <li>
                        {% if is_granted('ROLE_BRAND') %}
                            <div class="profile-list-item item-1 tour-dashboard">{% if parent.institution %} {{  parent.institution.name }}{% endif %}<br /><label>{% trans %}user.profile.my_quotes.institution{% endtrans %}</label> </div>
                        {% else %}
                            <div class="profile-list-item item-1 tour-dashboard">{{ parent.completed }}/{{ parent.possible }}<br /><label>Tasks Complete</label> </div>
                        {% endif %}
                    </li>
                    <li>
                        <div class="profile-list-item item-2 tour-dashboard">
                            {{ dtgFinal }}<br /><label>{% trans %}user.profile.my_quotes.days{% endtrans %}</label> </div>

                    </li>
                </ul>
            </div>
        </div>
    {% endif %}
{% endfor %}