{% if 'en_GB' in locale %} {% set format = 'd M Y' %} {% else %} {% set format = 'M d Y' %} {% endif %}

{%  for tour in tours %}
    {% if tour.departureDate is defined %}
        {% set dtg  = date(tour.departureDate).diff(date("now")) %}
        {% if dtg.days < 1 %} {%  set dtgFinal = 0  %} {% else %} {% set dtgFinal = dtg.days %}{% endif %}
    {% else %} {% set dtgFinal = 'n/a' %}
    {% endif %}
    <div class="tour-edit mdl-card mdl-shadow--2dp tour-cards">
        {% set bgpath = ' ' %}
        {% if tour.headerBlock is defined and tour.headerBlock != null %}
            {% if tour.headerBlock.mediaWrapper is defined and tour.headerBlock.mediaWrapper != null %}
                {% for mediaWrapper in tour.headerBlock.mediaWrapper %}
                    {% for media in mediaWrapper.media %}
                        {% if loop.first %}
                            {% set bgpath = app.request.uriForPath( asset( media.getRelativePath ~ "/" ~ media.getHashedFilename ) )   %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
        {% endif %}

        <div class="profile-tour-header mdl-card__title" style="background-image: url({{ bgpath }}); background-size: cover;">
            {% if (is_granted("ROLE_BRAND")) or (tour.organizer is defined and tour.organizer.id == app.user.id) %}
                {% set tourlink = path('manage_tour_show', {'id': tour.id}) %}
                {% set tourEdit = path('manage_tour_edit', {'id': tour.id}) %}
            {% else %}
                {% set tourlink = path('tour_site_show', {'id': tour.id, 'quoteNumber': tour.quoteNumber})  %}

            {% endif %}

            <h2 class="mdl-card__title-text"><a href="{{ tourlink }}">{% trans %}user.profile.my_quotes.tour{% endtrans %}: {{ tour.name }} <i class="fa fa-arrow-right"></i></a></h2>

            {% if is_granted("ROLE_BRAND") %}
                <a href="{{ tourEdit }}" tourid="{{ tour.id }}" class="profile-tour-edit"><i class="profile-quote-edit-link fa fa-pencil"></i> Edit</a>
            {% endif %}

            <span class="date-span">{% if tour.departureDate and tour.returnDate %}{{ tour.departureDate|date(format)  }} - {{ tour.returnDate|date(format)  }} | {% endif %}{% if tour.destination %}{{ tour.destination }}{% endif %}</span>
        </div>

        <div class="mdl-card__supporting-text profile-tour-details">
           <ul>
               <li>
                   <div class="profile-list-item item-1">
                        {% if (tour.organizer.id == app.user.id) or (tour.salesAgent.id == app.user.id) %}
                            {% if tour.currency %}{{ tour.currency.htmlSymbol | raw}}{% endif %}{% if tour.pricePerson %}{{ tour.pricePerson }}{% else %}{% trans %}user.profile.my_quotes.no_price{% endtrans %}{% endif %}<br /><label>{% trans %}user.profile.my_quotes.price{% endtrans %}</label>
                        {% else %} {# show the Public price for passenger/parents#}
                       {% if tour.currency %}{{ tour.currency.htmlSymbol | raw}}{% endif %}{% if tour.pricePersonPublic %}{{ tour.pricePersonPublic }}{% else %}{% trans %}user.profile.my_quotes.no_price{% endtrans %}{% endif %}<br /><label>{% trans %}user.profile.my_quotes.price{% endtrans %}</label>
                        {% endif %}
                   </div>
               </li>
               <li>
                   {% if is_granted('ROLE_BRAND') %}
                        <div class="profile-list-item item-2">{% if tour.institution %} {{  tour.institution.name }}{% endif %}<br /><label>{% trans %}user.profile.my_quotes.institution{% endtrans %}</label> </div>
                    {% else %}
                        <div class="profile-list-item item-2">{{ dtgFinal }}<br /><label>{% trans %}user.profile.my_quotes.days{% endtrans %}</label> </div>
                   {% endif %}
               </li>
               <li>
                   <div class="profile-list-item item-3">
                       {% if tour.organizer.id == app.user.id %}
                            {% if tour.salesAgent.media %}
                                <span class="tui-image-avatar">
                                    <img src="{{ ( tour.salesAgent.media.getRelativePath ~ "/" ~ tour.salesAgent.media.getHashedFilename ) | imagine_filter('thumbnail') }}" alt="{{ tour.salesAgent.username }}"></span>
                            {% elseif tour.salesAgent.firstName and tour.salesAgent.lastName %}
                                <span class="tui-text-avatar mdl-typography--headline">{{ tour.salesAgent.firstName[:1] }}{{ tour.salesAgent.lastName[:1] }}</span>
                            {% else %}
                                <span class="tui-text-avatar mdl-typography--headline">{{ tour.salesAgent.username[:1] }}</span>

                            {% endif %}
                        {{ tour.salesAgent.firstName }} {{ tour.salesAgent.lastName }} <br /> {{ tour.salesAgent.email }}<br /><label>{% trans %}user.profile.my_quotes.salesAgent{% endtrans %}</label>
                        {% else %}
                            {% if tour.organizer.media %}
                                <span class="tui-image-avatar">
                                    <img src="{{ ( tour.organizer.media.getRelativePath ~ "/" ~ tour.organizer.media.getHashedFilename ) | imagine_filter('thumbnail') }}" alt="{{ tour.organizer.username }}"></span>
                            {% elseif tour.organizer.firstName and tour.organizer.lastName %}
                                <span class="tui-text-avatar mdl-typography--headline">{{ tour.organizer.firstName[:1] }}{{ tour.organizer.lastName[:1] }}</span>
                            {% else %}
                                <span class="tui-text-avatar mdl-typography--headline">{{ tour.organizer.username[:1] }}</span>

                            {% endif %}
                             {{ tour.organizer.firstName }} {{ tour.organizer.lastName }}  <br /> {{ tour.organizer.email }}<br /><label>{% trans %}user.profile.my_quotes.organizer{% endtrans %}</label>
                        {% endif %}
                   </div>
               </li>
           </ul>
        </div>
    </div>
{% endfor %}

{%  for parent in parents %}
    {% if parent.departureDate is defined %}
        {% set dtg  = date(parent.departureDate).diff(date("now")) %}
        {% if dtg.days < 1 %} {%  set dtgFinal = 0  %} {% else %} {% set dtgFinal = dtg.days %}{% endif %}
    {% else %} {% set dtgFinal = 'n/a' %}
    {% endif %}
    <div class="tour-edit mdl-card mdl-shadow--2dp tour-cards">
        {% set bgpath = ' ' %}
        {% if parent.headerBlock is defined and parent.headerBlock != null %}
            {% if parent.headerBlock.mediaWrapper is defined and parent.headerBlock.mediaWrapper != null %}
                {% for mediaWrapper in parent.headerBlock.mediaWrapper %}
                    {% for media in mediaWrapper.media %}
                        {% if loop.first %}
                            {% set bgpath = app.request.uriForPath( asset( media.getRelativePath ~ "/" ~ media.getHashedFilename ) )   %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
        {% endif %}

        <div class="profile-tour-header mdl-card__title" style="background-image: url({{ bgpath }}); background-size: cover;">
            {% if (is_granted("ROLE_BRAND")) or (parent.organizer is defined and parent.organizer.id == app.user.id) %}
                {% set tourlink = path('manage_tour_show', {'id': parent.id}) %}
                {% set tourEdit = path('manage_tour_edit', {'id': parent.id}) %}
            {% else %}
                {% set tourlink = path('tour_site_show', {'id': parent.id, 'quoteNumber': parent.quoteNumber})  %}
                {% set passengersLink = path('manage_parent_passenger_dashboard', {'tourId': parent.id, 'parentId': app.user.id}) %}
            {% endif %}

            <h6 style="position: absolute; right: 10px; top: 10px; color: white;" class="mdl-card_title-text"><a style="text-decoration: none; color:white;" href="{{ passengersLink }}"><i class="material-icons">edit</i>Manage Passengers</a></h6>


            <h2 class="mdl-card__title-text"><a href="{{ tourlink }}">{% trans %}user.profile.my_quotes.tour{% endtrans %}: {{ parent.name }} <i class="fa fa-arrow-right"></i></a></h2>

            {#<h4 class="mdl-card_title-text"><a href="{{ passengersLink }}">Something Something</a></h4>#}

            <div style="width: 100%; max-height: 50px; position: relative; float: right;" class="avatar-container">
            {% for passengerObject in passengerObjects %}
                {% if passengerObject.tourReference.id == parent.id %}
                    <a href="{{ path('manage_passenger_show', { 'id': passengerObject.id }) }}">
                    {% if passengerObject.media %}
                        <img style="float: right; margin-right: 5px;" id="passenger-avatar" class="tui-image-avatar" src="{{ ( passengerObject.media.getRelativePath ~ "/" ~ passengerObject.media.getHashedFilename ) | imagine_filter('thumbnail') }}">
                    {% elseif passengerObject.fName and passengerObject.lName %}
                        <span style="float: right; margin-right: 5px;" id="passenger-avatar" class="tui-text-avatar mdl-typography--headline">{{ passengerObject.fName[:1] }}{{ passengerObject.lName[:1] }}</span>
                    {% else %}
                        <span style="float: right; margin-right: 5px;" id="passenger-avatar" class="tui-text-avatar mdl-typography--headline">{{ passengerObject.fName[:1] }}</span>
                    {% endif %}
                    </a>
                {% endif %}
            {% endfor %}
            </div>

            {% if is_granted("ROLE_BRAND") %}
                <a href="{{ tourEdit }}" tourid="{{ parent.id }}" class="profile-tour-edit"><i class="profile-quote-edit-link fa fa-pencil"></i> Edit</a>
            {% endif %}

            <span class="date-span">{% if parent.departureDate and parent.returnDate %}{{ parent.departureDate|date(format)  }} - {{ parent.returnDate|date(format)  }} | {% endif %}{% if parent.destination %}{{ parent.destination }}{% endif %}</span>
        </div>

        <div class="mdl-card__supporting-text profile-tour-details">
            <ul>
                <li>
                    <div class="profile-list-item item-1 tour-dashboard">
                        {% if (parent.organizer.id == app.user.id) or (parent.salesAgent.id == app.user.id) %}
                            {% if parent.currency %}{{ parent.currency.htmlSymbol | raw}}{% endif %}{% if parent.pricePerson %}{{ tour.pricePerson }}{% else %}{% trans %}user.profile.my_quotes.no_price{% endtrans %}{% endif %}<br /><label>{% trans %}user.profile.my_quotes.price{% endtrans %}</label>
                        {% else %} {# show the Public price for passenger/parents#}
                            {% if parent.currency %}{{ parent.currency.htmlSymbol | raw}}{% endif %}{% if parent.pricePersonPublic %}{{ parent.pricePersonPublic }}{% else %}{% trans %}user.profile.my_quotes.no_price{% endtrans %}{% endif %}<br /><label>{% trans %}user.profile.my_quotes.price{% endtrans %}</label>
                        {% endif %}
                    </div>
                </li>
                <li>
                    {% if is_granted('ROLE_BRAND') %}
                        <div class="profile-list-item item-2 tour-dashboard">{% if parent.institution %} {{  parent.institution.name }}{% endif %}<br /><label>{% trans %}user.profile.my_quotes.institution{% endtrans %}</label> </div>
                    {% else %}
                        <div class="profile-list-item item-2 tour-dashboard">{{ completedTasksCount }}<br /><label>Tasks Complete</label> </div>
                    {% endif %}
                </li>
                <li>
                    <div class="profile-list-item item-3 tour-dashboard">
                        {{ dtgFinal }}<br /><label>{% trans %}user.profile.my_quotes.days{% endtrans %}</label> </div>

                        {#{% if parent.organizer.id == app.user.id %}#}
                            {#{% if parent.salesAgent.media %}#}
                                {#<span class="tui-image-avatar">#}
                                    {#<img src="{{ ( parent.salesAgent.media.getRelativePath ~ "/" ~ parent.salesAgent.media.getHashedFilename ) | imagine_filter('thumbnail') }}" alt="{{ parent.salesAgent.username }}"></span>#}
                            {#{% elseif parent.salesAgent.firstName and parent.salesAgent.lastName %}#}
                                {#<span class="tui-text-avatar mdl-typography--headline">{{ parent.salesAgent.firstName[:1] }}{{ parent.salesAgent.lastName[:1] }}</span>#}
                            {#{% else %}#}
                                {#<span class="tui-text-avatar mdl-typography--headline">{{ parent.salesAgent.username[:1] }}</span>#}

                            {#{% endif %}#}
                            {#{{ parent.salesAgent.firstName }} {{ parent.salesAgent.lastName }} <br /> {{ parent.salesAgent.email }}<br /><label>{% trans %}user.profile.my_quotes.salesAgent{% endtrans %}</label>#}
                        {#{% else %}#}
                            {#{% if parent.organizer.media %}#}
                                {#<span class="tui-image-avatar">#}
                                    {#<img src="{{ ( parent.organizer.media.getRelativePath ~ "/" ~ parent.organizer.media.getHashedFilename ) | imagine_filter('thumbnail') }}" alt="{{ parent.organizer.username }}"></span>#}
                            {#{% elseif parent.organizer.firstName and parent.organizer.lastName %}#}
                                {#<span class="tui-text-avatar mdl-typography--headline">{{ parent.organizer.firstName[:1] }}{{ parent.organizer.lastName[:1] }}</span>#}
                            {#{% else %}#}
                                {#<span class="tui-text-avatar mdl-typography--headline">{{ parent.organizer.username[:1] }}</span>#}

                            {#{% endif %}#}
                            {#{{ parent.organizer.firstName }} {{ parent.organizer.lastName }}  <br /> {{ parent.organizer.email }}<br /><label>{% trans %}user.profile.my_quotes.organizer{% endtrans %}</label>#}
                        {#{% endif %}#}
                </li>
            </ul>
        </div>
    </div>
{% endfor %}
