{% extends '::base.html.twig' %}
{% block title %}User '{{ entity.username }}'{% endblock %}
{% block page_title %}User '{{ entity.username }}'{% endblock %}

{% block body -%}

    <table class="mdl-data-table mdl-js-data-table">
        <tbody>
        <tr>
            <td class="mdl-data-table__cell--non-numeric th-mimic">ID</td>
            <td class="mdl-data-table__cell--non-numeric">{{ entity.id }}</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric th-mimic">User Parent</td>
            <td class="mdl-data-table__cell--non-numeric">{# {{ entity.userParent }} #}</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric th-mimic">Avatar</td>
            <td class="mdl-data-table__cell--non-numeric center">
                <div id="user_dropzone">
                    {{ render(controller('MediaBundle:Media:createDropzoneForm', {'context':'user'})) }}

                    <div id="user_media">
                        {% if entity.media %}
                            <img src="{{ asset(".." ~ entity.media.getRelativePath ~ "/" ~ entity.media.getHashedFilename ) }}">
                        {% endif %}
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('user') }}">Back to
                the list</a>
        </li>
        <li>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
               href="{{ path('user_edit', { 'id': entity.id }) }}">Edit
            </a></li>
        <li>{{ form(delete_form) }}</li>
        {#<li>{{ form_row(edit_form.media) }}#}
            {#{{ form_row(edit_form.submit) }}</li>#}
    </ul>

{% endblock %}
