{% extends '::base.html.twig' %}
{% block title %}{% trans %}user.title.show{% endtrans %} '{{ entity.username }}'{% endblock %}
{% block page_title %}{% trans %}user.page_title.show{% endtrans %} '{{ entity.username }}'{% endblock %}
{% if 'en_GB' in locale %} {% set format = 'd M Y' %} {% else %} {% set format = 'M d Y' %} {% endif %}
{% block body -%}

    <table class="mdl-data-table mdl-js-data-table show-table">
        <tbody>
        <tr>
            <td class="mdl-data-table__cell--non-numeric th-mimic">ID</td>
            <td class="mdl-data-table__cell--non-numeric">{{ entity.id }}</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric th-mimic">{% trans %}user.table.label.name{% endtrans %}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ entity.firstName }} {{ entity.lastName }}</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric th-mimic">{% trans %}user.table.label.phone{% endtrans %}</td>
            <td class="mdl-data-table__cell--non-numeric">{% if entity.phoneNumber %}{{ entity.phoneNumber.nationalNumber }}{% endif %}</td>
        </tr>
        <tr>

            <td class="mdl-data-table__cell--non-numeric th-mimic">{% trans %}user.table.label.created{% endtrans %}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ entity.created | date (format)}}</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric th-mimic">{% trans %}user.table.label.enabled{% endtrans %}</td>
            <td class="mdl-data-table__cell--non-numeric">{% if entity.enabled %}<i class="fa fa-check"></i>{% endif %}</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric th-mimic">{% trans %}user.table.label.last_login{% endtrans %}</td>
            <td class="mdl-data-table__cell--non-numeric">{% if entity.lastLogin %}{{ entity.lastLogin | date (format)}} {% else %} Never {% endif %}</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric th-mimic">{% trans %}user.table.label.avatar{% endtrans %}</td>
            <td class="mdl-data-table__cell--non-numeric center">
                <div id="user_dropzone">
                    {{ render(controller('MediaBundle:Media:createDropzoneForm', {'context':'user'})) }}

                    <div id="user_media">
                        {% if entity.media %}
                            <img src="{{ ( entity.media.getRelativePath ~ "/" ~ entity.media.getHashedFilename ) | imagine_filter('thumbnail') }}">
                        {% endif %}
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('user') }}">
                <i class="fa fa-arrow-circle-left"></i> {% trans %}user.actions.back{% endtrans %}</a>
        </li>
       {% if can_edit is sameas(TRUE) %}
        <li>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
               href="{{ path('user_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil-square-o"></i> {% trans %}user.actions.edit{% endtrans %}
            </a>
        </li>
        {% endif %}
        {% if delete_form and is_granted("ROLE_ADMIN")%}<li>{{ form(delete_form) }}</li>{% endif %}
        {% if entity.enabled==false %}
        <li>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
               href="{{ path('user_registration_confirmation', { 'id': entity.id }) }}"><i class="fa fa-paper-plane"></i> {% trans %}user.actions.notify{% endtrans %}
            </a>
        </li>
        {% endif %}
        {#   <li>{{ form(media_form) }}
        </li> #}
    </ul>

{% endblock %}
