{% if 'en_GB' in locale %} {% set format = 'd M Y' %} {% else %} {% set format = 'M d Y' %} {% endif %}
{% set zebra = "odd" %}
<div class="content-block alternate-quotes-block">
<h2 id="alternate-quotes-headline">{% trans %}quote_site.quote_sibling.intro{% endtrans %} {% if tourName %}{{ tourName }}{% else %}{% trans %}quote_site.quote_sibling.default_name{% endtrans %}{% endif %}</h2>
<table>
    <thead>
        <tr>
            <th>{% trans %}quote_site.quote_sibling.quote_name{% endtrans %}</th>
            <th>{% trans %}quote_site.quote_sibling.quote_number{% endtrans %}</th>
            <th>{% trans %}quote_site.quote_sibling.departing{% endtrans %}</th>
            <th>{% trans %}quote_site.quote_sibling.created{% endtrans %}</th>
            <th>{% trans %}quote_site.quote_sibling.price_person{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities%}
        <tr id="alt~{{ entity.id }}~{{ entity.quoteNumber }}" class="{{ zebra }} alt-quote" quote="{{ entity.id }}" quotenumber="{{ entity.quoteNumber }}">
            <td>{% if entity.name %}{{ entity.name }}{% endif %}</td>
            <td>{% if entity.quoteNumber %}{{ entity.quoteNumber }}{% endif %}</td>
            <td>{% if entity.departureDate %}{{ entity.departureDate|date(format) }}{% endif %} </td>
            <td>{% if entity.created %}{{ entity.created |date(format) }}{% endif %}</td>
            <td>{% if entity.pricePerson %}{% if entity.currency %}{{ entity.currency.htmlSymbol | raw }}{% endif %}{{ entity.pricePerson }}{% endif %}</td>
            <td>{% if date(entity.expiryDate) < date('now') %}<span style="color:red;">Expired</span>{% endif %}</td>
        </tr>
    {% if zebra == "odd" %}{% set zebra = "even" %}{% else %}{% set zebra = "odd" %}{% endif %}
    {% endfor %}
    </tbody>
</table>
</div>
