<html class="pdf">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    {# Google Material Design (Lite) Stuff #}
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">

    {# Dropzone and Flexslider CSS #}
    {#{% stylesheets filter='cssrewrite' '@AppBundle/Resources/assets/css/flexslider.css' '@AppBundle/Resources/assets/css/dropzone.css' %}#}
    {#<link rel="stylesheet" href="{{ asset_url }}">#}
    {#{% endstylesheets %}#}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.7.0/spectrum.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.6.1/spectrum.min.css">

    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-pink.min.css">

    {% stylesheets filter="compass" "@AppBundle/Resources/assets/css/sass/main.scss" %}
    <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset_url) }}"/>
    {% endstylesheets %}

    {{ render(controller('BrandBundle:Default:colors')) }}

</head>

{% if 'en_GB' in locale %} {% set format = 'd M Y' %} {% else %} {% set format = 'M d Y' %} {% endif %}

{% block sub_header %}
    <div class="sub-header">
        <div class="sizer">
            <div class="inner">
                {% if entity.isTemplate == 0 %}{# no Institutions on Templates #}
                        <div style="position: absolute; display: inline-block; right: 1em;">
                        {% if brand.media %}<img style="padding-right: 15px" src="{{ absolute_url(asset( brand.media.getRelativePath ~ "/" ~ brand.media.getHashedFilename ) | imagine_filter('thumbnail') ) }}">{% endif %}
                        {% if entity.quoteReference.institution.media %}<img src="{{ absolute_url(asset( entity.quoteReference.institution.media.getRelativePath ~ "/" ~ entity.quoteReference.institution.media.getHashedFilename ) | imagine_filter('thumbnail') ) }}">{% endif %}
                        </div>
                {% endif %}

                {% if entity.quoteReference.institution %}
                    <div id="site-quote-name">{{ entity.quoteReference.institution.name }}</div>
                {% endif %}

                <h2 class="{% if brand.media %}has-brand-logo{% endif %}">
                    {% if entity.displayName %}
                        {{ entity.displayName }}
                    {% else %}
                        {{ entity.quoteReference.name }}{% if is_granted("ROLE_BRAND") %}, {{ entity.name }}{% endif %}
                    {% endif %}
                </h2>

                {% if entity.quoteNumber %}
                    <div>Quote Number: {{ entity.quoteNumber }}</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block body -%}
    {% if (entity.locked is sameas(true)) and (is_granted("ROLE_BRAND"))  %}
        <h3 style="color: red;">{% trans %}quote.actions.is_locked{% endtrans %}</h3>
    {% endif %}
<div id="quote-version-{{ entity.id }}" class="site-show" entityId="{{ entity.id }}" entityType="quote" entityClass="QuoteVersion" entityPath="quoteversion">

        {#{% if entity.quoteReference.institution.media %}#}
            {#<div style="position: absolute; display: inline-block; right: 1em; top: .5em">#}
                {#<img src="{{ absolute_url(asset( entity.quoteReference.institution.media.getRelativePath ~ "/" ~ entity.quoteReference.institution.media.getHashedFilename )) }}">#}
            {#</div>#}
        {#{% endif %}#}


    <div id="site-header" class="quote-view-site-header">
        {# render the slideshow using the controller/twig with headerbock.id as param #}
        <div id="site-header-slideshow">
            {% if entity.headerBlock %}
                {% if editable %}
                    <div class="site-content-blocks-item">
                        <div class="status-preview-edit site-content-block-actions">
                            <div class="edit-icons">
                                <i id="edit-header-block" class="content-block-item-action item-edit fa fa-pencil-square-o" title="{% trans %}quote.actions.edit{% endtrans %}" blockId="{{ entity.headerBlock.id }}"></i>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div id="site-header-slideshow-content">
                    <div id="header-block-content-item" class="header-block-content-item content-block" blockId="{{ entity.id }}">
                        <div class="flexslider">
                            <ul class="slides" style="list-style: none">
                                {% if entity.headerBlock %}
                                            <li>
                                                <span class="inner-list" style="background-image: url('{{ absolute_url(asset( entity.headerBlock.mediaWrapper[0].media[0].getRelativePath ~ "/" ~ entity.headerBlock.mediaWrapper[0].media[0].getHashedFilename )) }}')"></span>
                                            </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% else %}
                {% if editable %}
                    <div id="site-header-slideshow-content">
                        <a id="add-header-content" href="#" class="status-preview-edit mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                            <i class="fa fa-plus-circle"></i> {% trans %}quote.actions.add_header{% endtrans %}
                        </a>
                    </div>
                {% endif %}
            {% endif %}
        </div>

        <div id="site-header-summary">
            <div id="site-header-summary-content-pdf" style="width: 400px;">
                <ul id="site-summary-details-pdf" style="position: relative; right: 45px; list-style: none; font-size: 22px; line-height: 32px">
                    {% if entity.departureDate %}<li><span class="label" style="text-align: left">{% trans %}quote_site.quote_summary.departing{% endtrans %}</span><span style="text-align: right"><strong>{{ entity.departureDate|date(format) }}</strong></span></li>{% endif %}
                    {% if entity.duration %}<li><span class="label">{% trans %}quote_site.quote_summary.duration{% endtrans %}</span> <strong>{{ entity.duration }}</strong></li>{% endif %}
                    {% if entity.returnDate %}<li><span class="label">{% trans %}quote_site.quote_summary.returning{% endtrans %}</span> <strong>{{ entity.returnDate|date(format) }}</strong></li>{% endif %}
                    {% if entity.boardBasis %}<li><span class="label">{% trans %}quote_site.quote_summary.board_basis{% endtrans %}</span> <strong>{{ entity.boardBasis.name }}</strong></li>{% endif %}
                    {% if entity.transportType %}<li><span class="label">{% trans %}quote_site.quote_summary.transport{% endtrans %}</span> <strong>{{ entity.transportType.name }}</strong></li>{% endif %}
                    {% if entity.pricePerson %}<li><span class="label">{% trans %}quote_site.quote_summary.price_person{% endtrans %}</span> <span class="quote-price"><strong>{% if entity.currency %}{{ entity.currency.htmlSymbol | raw }}{% endif %}{{ entity.pricePerson }}</strong></span></li>{% endif %}
                    {% if (entity.payingPlaces) or (entity.freePlaces) %}<li>
                        {%  if (entity.payingPlaces) and (entity.freePlaces) %}
                            {{ 'quote_site.quote_summary.price_based_on_payingandfree'|trans({'%payingplaces%' : entity.payingPlaces, '%freeplaces%' : entity.freePlaces})|raw }}
                        {% elseif (entity.payingPlaces) and (entity.freePlaces is empty or entity.freePlaces == 0) %}
                            {{ 'quote_site.quote_summary.price_based_on_payingonly'|trans({'%payingplaces%' : entity.payingPlaces})|raw }}
                        {% elseif (entity.payingPlaces|default is empty) and (entity.freePlaces) %}
                            {{ 'quote_site.quote_summary.price_based_on_freeonly'|trans({'%freeplaces%' : entity.freePlaces})|raw }}
                        {%  endif %}
                        </li>{% endif %}
                    {% if entity.expiryDate %}<li>{% trans %}quote_site.quote_summary.expiry{% endtrans %} <strong>{{ entity.expiryDate|date(format) }}</strong></li>{% endif %}

                    <li id="headerBlock-text">{% if entity.welcomeMsg %}{{ entity.welcomeMsg|raw }}{% endif %}</li>
                </ul>
            </div>
        </div>

    </div>{# end site header #}

    {# RENDER THE CONTENT BLOCKS HERE #}

    <a id="site-content"></a>

    <div id="content-wrapper" class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        {#<div id="content-blocks-wrapper" class="content-block-tabs-bar mdl-tabs__tab-bar">#}
            {#&#123;&#35; render the tabs &#35;&#125;#}
            {#{% set activeTab = 'is-active' %}#}
            {#{% for tab, data in entity.content %}#}
                {#<a id="tab-{{ tab }}" href="#tabs-drawer-{{ tab }}" class="view-tab site-content-blocks-tab mdl-tabs__tab {{ activeTab }}" tabId="{{ tab }}"><span class="tab-name">{{ data[0] }}</span></a>#}
                {#{% set activeTab = '' %}#}
            {#{% endfor %}#}


        {#</div>#}

        {# render the tabs' content #}
        {% for tab, data in entity.content %}
            <p style="page-break-after:always;"></p>
            <h2 class="tab-name">{{ data[0] }}</h2>
            <div id="tabs-drawer-{{ tab }}" class="content-blocks-drawer">
                <div class="sortable-items">
                    {% for item in data[1] %}
                        {% if items[item].doubleWidth == 1 %}
                            {% set size = 'full' %}
                        {% else %}
                            {% set size = 'half' %}
                        {% endif %}
                        <div id="content-blocks-{{ items[item].id }}" class="site-content-blocks site-content-blocks-item site-content-blocks-size-{{ size }}" blockId="{{ items[item].id }}">
                            <div class="inner-wrapper move-cursor">
                                {# render the actual content block #}
                                <div id="previewable-content-blocks-{{ items[item].id }}">
                                    {{ render(controller('ContentBlocksBundle:ContentBlock:show', {'id':  items[item].id  })) }}
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                </div><!-- sortable-items -->
            </div>
        {% endfor %}

    </div>
</div><!-- view-mode -->
{% endblock %}

{% block footer_left %}
    {% if entity.quoteReference.salesAgent %}
        <span class="intro">{% trans %}quote.footer.salesAgent{% endtrans %}</span>
        {% if entity.quoteReference.salesAgent.media %}
            <span class="tui-image-avatar"><img
                        src="{{ asset( entity.quoteReference.salesAgent.media.getRelativePath ~ "/" ~ entity.quoteReference.salesAgent.media.getHashedFilename ) | imagine_filter('thumbnail') }}"
                        alt="{{ entity.quoteReference.salesAgent.username }}"></span>
        {% elseif entity.quoteReference.salesAgent.firstName and entity.quoteReference.salesAgent.lastName %}
            <span class="tui-text-avatar mdl-typography--headline">{{ entity.quoteReference.salesAgent.firstName[:1] }}{{ entity.quoteReference.salesAgent.lastName[:1] }}</span>
        {% else %}
            <span class="tui-text-avatar mdl-typography--headline">{{ entity.quoteReference.salesAgent.username[:1] }}</span>
        {% endif %}
        <span class="agent">
            {% if entity.quoteReference.salesAgent.displayName %}
                {{ entity.quoteReference.salesAgent.displayName }}
            {% else %}
                {{ entity.quoteReference.salesAgent.firstName }} {{ entity.quoteReference.salesAgent.lastName }}
            {% endif %}
            <br>
            <a href="mailto:{{ entity.quoteReference.salesAgent.email }}">{{ entity.quoteReference.salesAgent.email }}</a></span>
    {% endif %}
{% endblock %}

{% block footer_right %}
    <div class="quote-info"><span class="quote-label">{% trans %}quote.footer.price_person{% endtrans %}</span><span
                class="quote-price">{% if entity.pricePerson %}

                <strong>{% if entity.currency %}{{ entity.currency.htmlSymbol | raw }}{% endif %}{{ entity.pricePerson }}</strong>{% endif %}</span>
    </div>
    {% if (entity.converted is sameas(false)) and (entity.quoteReference.converted is sameas(false)) %}
        {% if date(entity.expiryDate) < date('now') %}
            <a class="expired-quote mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="#">
                <i class="fa fa-calendar-times-o"></i> {% trans %}quote.footer.actions.expired{% endtrans %}
            </a>
        {% else %}
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="accept-quote"
               href="#">
                <i class="fa fa-thumbs-o-up"> </i> {% trans %}quote.footer.actions.like{% endtrans %}
            </a>
        {% endif %}
    {% endif %}
{% endblock %}
</html>