{% extends '::print-base.html.twig' %}

{% block title %}{{ entity.name }}{% endblock %}

{% block page_title %}
    {% if entity.displayName %}
        {{ entity.displayName }}
    {% else %}
        {{ entity.quoteReference.name }}{% if is_granted("ROLE_BRAND") %}, {{ entity.name }}{% endif %}
    {% endif %}
{% endblock %}

{% block page_institution %}
    {% if entity.quoteReference.institution %}
        {{ entity.quoteReference.institution.name }}

        {% if entity.quoteReference.institution.media %}
            <img id="site-school-logo" src="{{ asset( entity.quoteReference.institution.media.getRelativePath ~ "/" ~ entity.quoteReference.institution.media.getHashedFilename ) | imagine_filter('thumbnailLarge') }}" alt="{{ entity.quoteReference.institution.name }}">
        {% endif %}
    {% endif %}
{% endblock %}

{% block quote_number %}
    {% if entity.quoteNumber %}{{ entity.quoteNumber }}{% endif %}
{% endblock %}

{% if 'en_GB' in locale %} {% set format = 'd M Y' %} {% else %} {% set format = 'M d Y' %} {% endif %}

{% block body -%}

    <div id="site-header" class="pdf-site-header">
        <table>
            <tr>
                <td class="pdf-site-header-slideshow">
                    {% if entity.headerBlock %}
                        {% for mediaWrapper in entity.headerBlock.mediaWrapper %}
                            {% if loop.first %}
                                {% for media in mediaWrapper.media %}
                                    <img src="{{ asset( media.getRelativePath ~ "/" ~ media.getHashedFilename ) | imagine_filter('slideShow') }}">
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
                <td class="pdf-site-header-summary">
                    {% if entity.departureDate %}<p><span class="label">{% trans %}quote_site.quote_summary.departing{% endtrans %}</span> <strong>{{ entity.departureDate|date(format) }}</strong></p>{% endif %}
                    {% if entity.duration %}<p><span class="label">{% trans %}quote_site.quote_summary.duration{% endtrans %}</span> <strong>{{ entity.duration }}</strong></p>{% endif %}
                    {% if entity.returnDate %}<p><span class="label">{% trans %}quote_site.quote_summary.returning{% endtrans %}</span> <strong>{{ entity.returnDate|date(format) }}</strong></p>{% endif %}
                    {% if entity.boardBasis %}<p><span class="label">{% trans %}quote_site.quote_summary.board_basis{% endtrans %}</span> <strong>{{ entity.boardBasis.name }}</strong></p>{% endif %}
                    {% if entity.transportType %}<p><span class="label">{% trans %}quote_site.quote_summary.transport{% endtrans %}</span> <strong>{{ entity.transportType.name }}</strong></p>{% endif %}
                    {% if entity.pricePerson %}<p><span class="label">{% trans %}quote_site.quote_summary.price_person{% endtrans %}</span> <span class="quote-price"><strong>{% if entity.currency %}{{ entity.currency.htmlSymbol | raw }}{% endif %}{{ entity.pricePerson }}</strong></span></p>{% endif %}
                    {% if (entity.payingPlaces) or (entity.freePlaces) %}<p>Based on {% if entity.payingPlaces %}<strong>{{ entity.payingPlaces }}</strong>{% endif %} paying {% if entity.freePlaces != 0 %} and <strong>{{ entity.freePlaces }}</strong> free {% endif %} places</p>{% endif %}
                    {% if entity.expiryDate %}<p>{% trans %}quote_site.quote_summary.expiry{% endtrans %} <strong>{{ entity.expiryDate|date(format) }}</strong></p>{% endif %}
                    {% if entity.welcomeMsg %}<p>{{ entity.welcomeMsg|raw }}</p>{% endif %}
                </td>
            </tr>
        </table>
    </div>

    {# RENDER THE CONTENT BLOCKS HERE #}

    <div id="content-wrapper" class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        {# render the tabs' content #}
        {% for tab, data in entity.content %}
            <div id="tabs-drawer-{{ tab }}" class="mdl-tabs__panel sortable-items content-blocks-drawer">
                <h2 class="pdf-tab-header">{{ data[0] }}</h2>

                {% for item in data[1] %}
                    <div id="content-blocks-{{ items[item].id }}" class="site-content-blocks site-content-blocks-item">
                        {# render the actual content block #}
                        <div id="site-block-content-{{ items[item].id }}" class="site-block-content">
                            {{ render(controller('ContentBlocksBundle:ContentBlock:show', {'id':  items[item].id })) }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

{% endblock %}





{% block footer_left %}
    {% if entity.quoteReference.salesAgent %}
        <span class="intro">{% trans %}quote_site.site_pdf.organizer{% endtrans %}</span>
        <span class="agent">
            {{ entity.quoteReference.salesAgent.firstName }} {{ entity.quoteReference.salesAgent.lastName }}<br>
            {{ entity.quoteReference.salesAgent.email }}
        </span>
    {% endif %}
{% endblock %}

{% block footer_right %}
    <div class="quote-info">
        <span class="quote-label">{% trans %}quote_site.site_pdf.price_person{% endtrans %}</span>
        <span class="quote-price">{% if entity.pricePerson %}<strong>{% if entity.currency %}{{ entity.currency.htmlSymbol | raw }}{% endif %}{{ entity.pricePerson }}</strong>{% endif %}</span>
    </div>
{% endblock %}
