{% extends '::site-base.html.twig' %}

{% block title %}
    {% if is_granted("ROLE_BRAND") %}
        Site View
    {% else %}
        {{ entity.quoteReference.name }}, {{ entity.name }}
    {% endif %}
{% endblock %}

{% block page_title %}
    <span>Site View</span>
{% endblock %}

{% block back_link %}
    {% if is_granted("ROLE_BRAND") %}
        <a class="back-link" href="{{ path('manage_quoteversion_show', { 'id': entity.id }) }}"><i class="fa fa-arrow-left"></i> Back to Show</a>
    {% else %}
        <a class="back-link" href="/"><i class="fa fa-arrow-left"></i> Back to Dashboard</a>
    {% endif %}
{% endblock %}

{% block edit_link %}
    {% if editable and entity.converted is sameas(false) %}
        <a id="link-preview-edit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="#">Switch to Edit Mode</a>
    {% endif %}
{% endblock %}

{% block sub_header %}
    <div class="sub-header">
      <div class="sizer">
        <div class="inner">
            {% if entity.isTemplate == 0 %}{# no Institutions on Templates #}
                {% if app.user %}
                    {% if entity.quoteReference.institution.media %}
                        <div class="institution-logo">
                            <img src="{{ asset( entity.quoteReference.institution.media.getRelativePath ~ "/" ~ entity.quoteReference.institution.media.getHashedFilename ) | imagine_filter('thumbnailLarge') }}" alt="{{ entity.quoteReference.institution.name }}">
                        </div>
                    {% endif %}
                {% elseif not app.user %}
                    {% if entity.quoteReference.institution.media %}
                        <div class="institution-logo-with-brand">
                            <img src="{{ asset( entity.quoteReference.institution.media.getRelativePath ~ "/" ~ entity.quoteReference.institution.media.getHashedFilename ) | imagine_filter('thumbnailLarge') }}" alt="{{ entity.quoteReference.institution.name }}">
                        </div>
                    {% endif %}
                    {% if brand.media %}
                        <div class="brand-logo">
                            <img src="{{ asset( brand.media.getRelativePath ~ "/" ~ brand.media.getHashedFilename ) | imagine_filter('thumbnailLarge') }}" alt="{{ brand.name }}">
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}

            {% if entity.quoteReference.institution %}
                <div id="site-quote-name">{{ entity.quoteReference.institution.name }}</div>
            {% endif %}

            <h2>{{ entity.quoteReference.name }}{% if is_granted("ROLE_BRAND") %}, {{ entity.name }}{% endif %} {% if entity.quoteNumber %}({{ entity.quoteNumber }}){% endif %}</h2>

            {% if entity.quoteReference.destination %}
                <div>{{ entity.quoteReference.destination }}</div>
            {% endif %}
        </div>
      </div>
    </div>
{% endblock %}

{% block body -%}
    <div id="quote-version-{{ entity.id }}" class="site-show mode-toggle mode-preview" entityId="{{ entity.id }}" entityType="quote" entityClass="QuoteVersion" entityPath="quoteversion">

        <a href="javascript:window.print()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored print-actions">
            <i class="fa fa-print"></i> Print
        </a>

        <a href="/quote/print/{{ entity.id }}/{{ entity.quoteNumber }}.pdf" target="_blank" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored print-actions">
            <i class="fa fa-file-pdf-o"></i> PDF
        </a>

        {% if warning | length >0 %}
            <div id="site-warning">
                {% for message in warning %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <div id="site-header" class="quote-view-site-header">
            {# render the slideshow using the controller/twig with headerbock.id as param #}
            <div id="site-header-slideshow">
                {% if entity.headerBlock %}
                    {% if editable %}
                        <div class="site-content-blocks-item">
                            <div class="status-preview-edit site-content-block-actions">
                                <div class="edit-icons">
                                    {% if entity.headerBlock.locked %}
                                        <i id="lock-header-block" class="item-lock content-block-item-action fa fa-unlock-alt" title="Unlock" blockId="{{ entity.headerBlock.id }}"></i>
                                    {% else %}
                                        <i id="edit-header-block" class="content-block-item-action item-edit fa fa-pencil-square-o" title="Edit" blockId="{{ entity.headerBlock.id }}"></i>
                                        <i id="lock-header-block" class="item-lock content-block-item-action fa fa-lock" title="Lock" blockId="{{ entity.headerBlock.id }}"></i>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div id="site-header-slideshow-content">
                        {{ render(controller('ContentBlocksBundle:HeaderBlock:show', {'id':  entity.headerBlock.id  })) }}
                    </div>
                {% else %}
                    {% if editable %}
                        <div id="site-header-slideshow-content">
                            <a id="add-header-content" href="#" class="status-preview-edit mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                <i class="fa fa-plus-circle"></i> Add Header Slideshow
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>

            <div id="site-header-summary">
                {% if editable %}
                    <div class="site-content-blocks-item">
                        <div class="status-preview-edit site-content-block-actions">
                            <div class="edit-icons">
                                {% if entity.locked == 0 %}
                                    <i id="edit-header-summary" class="content-block-item-action item-edit fa fa-pencil-square-o" title="Edit"></i>
                                {% endif %}

                                {% if entity.locked %}
                                    <i action="unlock" id="lock-header-summary"class="content-block-item-action fa fa-unlock-alt" title="Unlock"></i>
                                {% else %}
                                    <i action="lock" id="lock-header-summary" class="content-block-item-action fa fa-lock" title="Lock"></i>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div id="site-header-summary-content">
                    {{ render(controller('QuoteBundle:QuoteSite:showSummary', {'id':  entity.id  })) }}
                </div>
            </div>

            {# give a placeholder for the editable version #}
            <div id="site-header-summary-form" style="display:none;"></div>
            <div id="site-header-editForm" style="display:none;"></div>
        </div>{# end site header #}

        {# RENDER THE CONTENT BLOCKS HERE #}

        <a id="site-content"></a>

        <div id="content-wrapper" class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
            <div id="content-blocks-wrapper" class="content-block-tabs-bar mdl-tabs__tab-bar">
                {# render the tabs #}
                {% set activeTab = 'is-active' %}
                {% for tab, data in entity.content %}
                    <a id="tab-{{ tab }}" href="#tabs-drawer-{{ tab }}" class="view-tab site-content-blocks-tab mdl-tabs__tab {{ activeTab }}" tabId="{{ tab }}"><span class="tab-name">{{ data[0] }}</span></a>
                    {% set activeTab = '' %}
                {% endfor %}

                {% if alternate %}
                    <a id="tab-alternate-quotes" href="#tabs-drawer-alternate-quotes" class="site-content-blocks-tab mdl-tabs__tab {{ activeTab }}">Alternate Quotes</a>
                {% endif %}

                {% if editable %}
                    <span id="edit-tabs" class="site-content-blocks-tab status-preview-edit"><i class="fa fa-pencil"></i> Edit Tabs</span>
                    <span id="add-new-tab" class="site-content-blocks-tab status-preview-edit"><i class="fa fa-plus-circle"></i> Add New Tab</span>
                {% endif %}
            </div>

            {# render the tabs' content #}
            {% set activeTab = 'is-active' %}
            {% for tab, data in entity.content %}
                <div id="tabs-drawer-{{ tab }}" class="mdl-tabs__panel content-blocks-drawer {{ activeTab }}">
                    <div class="sortable-items">
                    {% for item in data[1] %}
                        {% if items[item].doubleWidth == 1 %}
                            {% set size = 'full' %}
                        {% else %}
                            {% set size = 'half' %}
                        {% endif %}
                        <div id="content-blocks-{{ items[item].id }}" class="site-content-blocks site-content-blocks-item site-content-blocks-size-{{ size }}" blockId="{{ items[item].id }}">
                            <div class="inner-wrapper move-cursor">
                                {% if editable %}
                                    <div class="site-content-block-actions status-preview-edit">
                                        {# probably render a controller here by passing in item as id and have block entity returned #}
                                        <div class="move-icon"><i class="fa fa-arrows" title="Rearrange"></i></div>
                                        <div id="content-block-actions-{{ items[item].id }}" class="edit-icons {% if items[item].locked %}content-block-locked{% endif %}">
                                            <i class="item-edit content-block-item-action fa fa-pencil-square-o" title="Edit" blockId="{{ items[item].id }}"></i>
                                            <i class="item-resize content-block-item-action fa fa-arrows-h {{ size }}" title="Resize" blockId="{{ items[item].id }}"></i>
                                            <i class="item-lock content-block-item-action fa {% if items[item].locked %}fa-unlock-alt{% else %}fa-lock{% endif %}" title="{% if items[item].locked %}Unlock{% else %}Lock{% endif %}" blockId="{{ items[item].id }}"></i>
                                            <i class="item-delete content-block-item-action fa fa-trash-o" title="Delete" blockId = "{{ items[item].id }}"></i>
                                            {#
                                            {% if items[item].hidden %}
                                                <i class="item-hide content-block-item-action fa fa-eye" title="Show"></i>
                                            {% else %}
                                                <i class="item-hide content-block-item-action fa fa-ban" title="Hide"></i>
                                            {% endif %}
                                            #}
                                        </div>
                                    </div>
                                {% endif %}

                                {# render the actual content block #}
                                <div id="previewable-content-blocks-{{ items[item].id }}">
                                    {{ render(controller('ContentBlocksBundle:ContentBlock:show', {'id':  items[item].id  })) }}
                                </div>

                                {# give a placeholder for the editable version #}
                                <div id="editable-content-blocks-{{ items[item].id }}"></div>
                            </div>
                        </div>
                    {% endfor %}
                    </div><!-- sortable-items -->

                    <a id="add-content-block" tabId="{{ tab }}" href="#" class="add-content-block site-content-blocks-edit status-preview-edit"><i class="fa fa-plus-circle"></i> Add Block</a>

                    <div id="content-block-editForm-{{ tab }}" class="add-content-block-form" style="display: none;"></div>
                </div>
                {% set activeTab = '' %}
            {% endfor %}

            {% if alternate %}
                <div id="tabs-drawer-alternate-quotes" class="mdl-tabs__panel {{ activeTab }}">
                    {{ render(controller('QuoteBundle:QuoteSite:getQuoteSiblings', {'id':  entity.quoteReference.id  })) }}
                </div>
            {% endif %}
        </div>
    </div><!-- view-mode -->

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.js"></script>

    {% javascripts '@toolkit_siteshow' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% if editable %}
        {% javascripts '@toolkit_siteshow_edit' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}

    <script>
        $(document).ready(function () {
            // Remove the CopytoClipboard button if not Flash
            if (navigator.mimeTypes["application/x-shockwave-flash"] == undefined) {
                $("#copy-button").addClass('hidden');
            };

            // Copy to Clipboard
            ZeroClipboard.config({swfPath: "//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.swf"});
            var client = new ZeroClipboard(document.getElementById("copy-button"));
            client.on('aftercopy', function (event) {
                $('#copy-button').css('background-color', 'green');
            });
        });
    </script>

{% endblock %}





{% block footer_left %}
    {% if entity.quoteReference.salesAgent %}
        <span class="intro">Primary Business Contact:</span>
        {% if entity.quoteReference.salesAgent.media %}
            <span class="tui-image-avatar"><img
                        src="{{ asset( entity.quoteReference.salesAgent.media.getRelativePath ~ "/" ~ entity.quoteReference.salesAgent.media.getHashedFilename ) | imagine_filter('thumbnail') }}"
                        alt="{{ entity.quoteReference.salesAgent.username }}"></span>
        {% elseif entity.quoteReference.salesAgent.firstName and entity.quoteReference.salesAgent.lastName %}
            <span class="tui-text-avatar mdl-typography--headline">{{ entity.quoteReference.salesAgent.firstName[:1] }}{{ entity.quoteReference.salesAgent.lastName[:1] }}</span>
        {% else %}
            <span class="tui-text-avatar mdl-typography--headline">{{ entity.quoteReference.salesAgent.username[:1] }}</span>
        {% endif %}
        <span class="agent">{{ entity.quoteReference.salesAgent.firstName }} {{ entity.quoteReference.salesAgent.lastName }}
            <br>
            {{ entity.quoteReference.salesAgent.email }}</span>
    {% endif %}
{% endblock %}

{% block footer_right %}
    <div class="quote-info"><span class="quote-label">Price per person:</span><span
                class="quote-price">{% if entity.pricePerson %}

                <strong>{% if entity.currency %}{{ entity.currency.htmlSymbol | raw }}{% endif %}{{ entity.pricePerson }}</strong>{% endif %}</span>
    </div>
    {% if (entity.converted is sameas(false)) and (entity.quoteReference.converted is sameas(false)) %}
        {% if date(entity.expiryDate) < date('now') %}
            <a class="expired-quote mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="#">
                <i class="fa fa-calendar-times-o"></i> Expired
            </a>
        {% else %}
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
               href="{{ path('quote_site_quote_accepted', { 'id': entity.id }) }}">
                <i class="fa fa-thumbs-o-up"> </i> Like Quote
            </a>
        {% endif %}
    {% endif %}
{% endblock %}
