{% extends '::site-base.html.twig' %}

{% if 'en_GB' in locale %} {% set format = 'd M Y' %} {% else %} {% set format = 'M d Y' %} {% endif %}

{% block title %}
    {% if is_granted("ROLE_BRAND") %}
        Site View
    {% else %}
        {{ entity.quoteReference.name }}, {{ entity.name }}
    {% endif %}
{% endblock %}
{% block page_title %}Site View{% endblock %}

{% block back_link %}
    {% if is_granted("ROLE_BRAND") %}
        <a class="back-link" href="{{ path('manage_quoteversion_show', { 'id': entity.id }) }}"><i class="fa fa-arrow-left"></i> Back to Show</a>
    {% else %}
        <a class="back-link" href="/"><i class="fa fa-arrow-left"></i> Back to Dashboard</a>
    {% endif %}
{% endblock %}

{% block edit_link %}
    {% if is_granted("ROLE_BRAND") %}
        <a id="link-preview-edit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored link-preview-edit" href="#">Edit</a>
    {% endif %}
{% endblock %}

{% block sub_header %}
    <div class="sub-header">
      <div class="inner">
        {% if entity.quoteReference.institution.media %}
            <div class="institution-logo">
                <img src="{{ asset( entity.quoteReference.institution.media.getRelativePath ~ "/" ~ entity.quoteReference.institution.media.getHashedFilename ) | imagine_filter('thumbnailLarge') }}" alt="{{ entity.quoteReference.institution.name }}">
            </div>
        {% endif %}

        {% if entity.quoteReference.institution %}<div id="site-quote-name">{{ entity.quoteReference.institution.name }}</div>{% endif %}

        <h2>{{ entity.quoteReference.name }}{% if is_granted("ROLE_BRAND") %}, {{ entity.name }}{% endif %} {% if entity.quoteNumber %}({{ entity.quoteNumber }}){% endif %}</h2>

        {% if entity.quoteReference.destination %}<div>{{ entity.quoteReference.destination }}</div>{% endif %}
      </div>
    </div>
{% endblock %}

{% block body -%}
<div class="mode-toggle mode-preview">

    <a href="javascript:window.print()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored print-actions">
        <i class="fa fa-print"></i> Print
    </a>

    <a href="/quote/print/{{ entity.id }}.pdf" target="_blank" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored print-actions">
        <i class="fa fa-file-pdf-o"></i> PDF
    </a>

    {#
    {% if editable %}
        <a id="layout-editor" href="{{ path('manage_quoteversion_edit', { 'id': entity.id }) }}" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored print-actions">
            <i class="fa fa-cogs"></i> Edit
        </a>
    {% endif %}
    #}

    {% if warning | length >0 %}
        <div id="site-warning">
            {% for message in warning %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <div id="site-header" class="quote-view-site-header">
        <div id="site-header-slideshow">
            <div class="flexslider">
                <ul class="slides">
                    {%  if entity.headerBlock %}
                        {% for media in entity.headerBlock.media %}
                        <li>
                            <img src="{{ asset( media.getRelativePath ~ "/" ~ media.getHashedFilename ) | imagine_filter('slideShow') }}" />
                        </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
        <div id="site-header-summary">
            <ul id="site-summary-details">
                {% if entity.departureDate %}<li class="right"><span class="label">Departing:</span> <strong>{{ entity.departureDate|date(format) }}</strong></li>{% endif %}
                {% if entity.duration %}<li class="right"><span class="label">Duration:</span> <strong>{{ entity.duration }}</strong></li>{% endif %}
                {% if entity.returnDate %}<li class="right"><span class="label">Returning:</span> <strong>{{ entity.returnDate|date(format) }}</strong></li>{% endif %}
                {% if entity.boardBasis %}<li class="right"><span class="label">Board Basis:</span> <strong>{{ entity.boardBasis.name }}</strong></li>{% endif %}
                {% if entity.transportType %}<li class="right"><span class="label">Transport:</span> <strong>{{ entity.transportType.name }}</strong></li>{% endif %}
                {% if entity.pricePerson %}<li class="right"><span class="label">Price per person:</span> <span class="quote-price"><strong>{% if entity.currency %}{{ entity.currency.htmlSymbol | raw }}{% endif %}{{ entity.pricePerson }}</strong></span></li>{% endif %}
                {% if (entity.payingPlaces) or (entity.freePlaces) %}<li>Based on {% if entity.payingPlaces %}<strong>{{ entity.payingPlaces }}</strong>{% endif %} paying and {% if entity.freePlaces %}<strong>{{ entity.freePlaces }}</strong>{% endif %} free places</li>{% endif %}
                {% if entity.expiryDate %}<li>Quote valid until <strong>{{ entity.expiryDate|date(format) }}</strong></li>{% endif %}
                <ul class="quote-site-actions">
                    <li>
                        {% if (entity.converted is sameas(false)) and (entity.quoteReference.converted is sameas(false)) %}
                            {% if date(entity.expiryDate) < date('now') %}
                                <a class="expired-quote mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="#">
                                    <i class="fa fa-calendar-times-o"></i> Expired
                                </a>
                            {% else %}
                                <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="accept-quote" href="#">
                                    <i class="fa fa-thumbs-o-up"> </i> Accept Quote
                                </a>
                            {% endif %}
                        {% elseif (entity.converted is sameas(true)) and (entity.quoteReference.converted is sameas(true))%}
                            <a class="accepted-quote mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="#">
                                <i class="fa fa-thumbs-up"> </i> Accepted
                            </a>
                        {% endif %}
                    </li>
                    <li>
                        {% if (entity.converted is sameas(true)) and (entity.quoteReference.converted is sameas(true))%}
                            <a class="accepted-quote mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="#">
                                <i class="fa fa-bullhorn"></i> Request Changes
                            </a>
                        {% else %}
                        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="change-request" href="#">
                            <i class="fa fa-bullhorn"></i> Request Changes
                        </a>
                        {% endif %}
                    </li>
                    <li class="share-text">

                        <span>
                            Share this quote with others
                        </span>

                        {% if entity.quoteNumber %}
                            <div class="input"><input type="text" id="share_url" name="share_url" value="{{ url('quote_site_share', { 'id': entity.id, 'quoteNumber': entity.quoteNumber }) }}" disabled></div>
                        {% else %}
                            <div class="input"><input type="text" id="share_url" name="share_url" value="{{ url('quote_template_share', { 'id': entity.id }) }}" disabled></div>
                        {% endif %}

                        <a href="#" id="copy-button" data-clipboard-target="share_url" title="Click to copy Quote URL" class="not-full mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                            <i class="fa fa-sign-in fa-stack"></i>
                        </a>

                    </li>
                </ul>
                <li>{% if entity.headerBlock %}{{ entity.headerBlock.body|raw }}{% endif %}</li>
            </ul>
        </div>

    </div>

    {# RENDER THE CONTENT BLOCKS HERE #}

    <a id="site-content"></a>
    <div id="content-wrapper" class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div id="content-blocks-wrapper" class="sortable-tabs mdl-tabs__tab-bar">
            {# render the tabs#}
            {% set activeTab = 'is-active' %}
            {%  for tab, data in entity.content %}
                    <a id="tab-{{ tab }}" href="#tabs-drawer-{{ tab }}" class="site-content-blocks-tab mdl-tabs__tab {{ activeTab }}">{{ data[0] }}</a>
                    {% if editable %}
                        <span class="content-blocks tab-label"><i class="content-block-tab-handle fa fa-arrows"></i>
                                {% if data[1] | length < 1 %}
                                <i class="tab-delete content-block-tab-actions fa fa-trash-o"> Delete Tab</i>
                                {% endif %}
                             <i class="tab-new content-block-tab-actions fa fa-plus-circle"> Add Content</i>
                        </span>
                    {% endif %}
                {% set activeTab = '' %}
            {% endfor %}
            {% if alternate %}
                <a id="tab-alternate-quotes" href="#tabs-drawer-alternate-quotes" class="site-content-blocks-tab mdl-tabs__tab {{ activeTab }}">Alternate Quotes</a>
            {% endif %}
            {% if editable %}
                <a id="add-new-tab" href="#" class="site-content-blocks-tab mdl-tabs__tab status-preview-edit"><i class="fa fa-plus-circle"></i> Add New Tab</a>
            {% endif %}
        </div>

        {# render the tabs'  content#}
        {% set activeTab = 'is-active' %}
        {%  for tab, data in entity.content %}
            <div id="tabs-drawer-{{ tab  }}" class="mdl-tabs__panel sortable-items content-blocks-drawer {{ activeTab }} ">
                    {%  for item in data[1] %}
                        <div id="content-blocks-{{ items[item].id }}" class="site-content-blocks site-content-blocks-item">
                            {% if editable %}
                                <i class="fa fa-arrows"></i>  {{ items[item].title }}
                                {# probably render a controller here by passing in item as id and have block entity returned #}
                                <div id="content-block-actions-{{ items[item].id }}" class="site-content-block-actions">
                                    <i class="item-edit content-block-item-action fa fa-pencil-square-o"></i>
                                    <i class="item-delete content-block-item-action fa fa-trash-o"></i>
                                    {% if items[item].locked %}<i class="item-lock content-block-item-action fa fa-unlock-alt"></i> {% else %}  <i class="item-lock content-block-item-action fa fa-lock"></i> {% endif %}
                                    {% if items[item].hidden %}<i class="item-hide content-block-item-action fa fa-ban"></i> {% else %} <i class="item-hide content-block-item-action fa fa-eye"></i> {% endif %}
                                </div>
                            {% endif %}
                            {# render the actual content block#}
                            <div id="site-block-content-{{ items[item].id }}" class="site-block-content">
                                {{ render(controller('ContentBlocksBundle:ContentBlock:show', {'id':  items[item].id  })) }}
                            </div>
                        </div>
                    {% endfor %}
            </div>
            {% set activeTab = '' %}
        {% endfor %}
        {% if alternate %}
            <div id="tabs-drawer-alternate-options" class="mdl-tabs__panel {{ activeTab }} ">

                    {{ render(controller('QuoteBundle:QuoteSite:getQuoteSiblings', {'id':  entity.quoteReference.id  })) }}

            </div>
        {% endif %}

    </div>

</div><!-- view-mode -->

    <div id="loader"><img src="{{ asset('bundles/quote/images/loader.gif') }}"></div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.js"></script>

    <script type="text/javascript" charset="utf-8">
        $(window).load(function() {
            $('.flexslider').flexslider({
                directionNav: false,
                controlNav: false,
                smoothHeight: true
            });
        });
    </script>

    <script>
        $(document).ready(function() {

            // Copy to Clipboard
            ZeroClipboard.config( { swfPath: "//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.swf" } );
            var client = new ZeroClipboard( document.getElementById("copy-button") );
            client.on('aftercopy', function(event) {
                $('#copy-button').css('background-color', 'green');
            });

            // Toggle between preview and edit mode for content blocks and tabs
            $('#link-preview-edit').on('click', function() {
                var t = $('.mode-toggle');
                if ( t.hasClass('mode-preview') ) {
                    t.addClass('mode-edit').removeClass('mode-preview');
                    $(this).html('Preview');
                } else {
                    t.addClass('mode-preview').removeClass('mode-edit');
                    $(this).html('Edit');
                }
            });

            // Add a new tab to a site
            $("#add-new-tab").on('click', function(){
                contentBlocksAddTab('#content-blocks-wrapper', {{ entity.id }});
            });

            // remove an empty tab from a site (hard delete)
            $(".tab-delete").on('click', function(){
                var ancestorTabElement = $(this).closest('.content-blocks-tab');
                if (confirm('Are you sure you want to remove this tab? Warning: this can not be undone.')) {
                    $(ancestorTabElement).remove();
                    contentBlocksUpdate({{ entity.id }});
                }
            });

            // Add a content block into a tab
            $(".tab-new").on('click', function(){
                var ancestorTabElement=$(this).closest('.content-blocks-tab').children('.sortable-items');
                $.ajax({
                    url: window.location.protocol + '//' + window.location.hostname + '/manage/contentblocks/ajax/new',
                    headers: {
                        "Pragma": "no-cache",
                        "Expires": -1,
                        "Cache-Control": "no-cache"
                    }
                }).done(function (data) {
                    var id=(Object.keys(data).toString());
                    var title = data[id];
                    //add element into DOM
                    $(ancestorTabElement).append(
                        '<div id="content-blocks-' + id + '" class="content-blocks content-blocks-item">' +
                        '<i class="fa fa-arrows"></i>  ' + title +
                        {# probably render a controller here by passing in item as id and have block entity returned #}
                        '<div id="content-block-actions-' + id + '" class="content-block-actions">' +
                        '<i class="item-edit content-block-item-action fa fa-pencil-square-o"></i>' +
                        '<i class="item-delete content-block-item-action fa fa-trash-o"></i>' +
                        '<i class="item-lock content-block-item-action fa fa-lock"></i>' +
                        '<i class="item-hide content-block-item-action fa fa-ban"></i>' +
                        '</div></div>'
                    );
                    contentBlocksUpdate({{ entity.id }});
                });

            });

            // edit a content block
            $(".item-edit").on('click', function(e){
                // todo Get item.id and item.name
                var actionParent = $(this).parent().attr('id');
                var block = actionParent.substring(22);
                //e.preventDefault();
                $("#dialog").html("");
                $("#dialog").dialog({width:'60%'}).dialog("option", "title", "Loading...").dialog("open");
                $("#dialog").load('/ajax/contentblocks/' + block + '/edit/' + {{ entity.id}} +'/QuoteVersion', function() {
                    $(this).dialog("option", "title", 'Edit Content Block');
                });
            });

            // change request popup
            $("#change-request").on('click', function(e){
                //e.preventDefault();
                $("#dialog").html("");
                $("#dialog").dialog({width:'60%'}).dialog("option", "title", "Loading...").dialog("open");
                $("#dialog").load('/quote/view/change-request/form/' + {{ entity.id}}, function() {
                    $(this).dialog("option", "title", "I'd like to make some changes");
                });
            });

            // accept quote popup
            $("#accept-quote").on('click', function(e){
                //e.preventDefault();
                $("#dialog").html("");
                $("#dialog").dialog({width:'60%'}).dialog("option", "title", "Loading...").dialog("open");
                $("#dialog").load('/quote/view/accepted/form/' + {{ entity.id}}, function() {
                    $(this).dialog("option", "title", "I'd like to make some changes");
                });
            });


            // toggle the hide boolean on a content block
            $(".item-hide").on('click', function(e){
                // todo Get item.id and item.name
                var actionParent = $(this).parent().attr('id');
                var block = actionParent.substring(22);
                $.ajax({
                    url: '/manage/contentblocks/'+ block + '/hide/' + {{ entity.id }} + '/QuoteVersion',
                    headers: {
                        "Pragma": "no-cache",
                        "Expires": -1,
                        "Cache-Control": "no-cache"
                    }
                }).done(function () {
                    $("#loader").css("display", "inline-block");
                    window.location.hash = 'site-content';
                    window.location.reload(true);
                });
            });


            // toggle the locked boolean on a content block
            $(".item-lock").on('click', function(e){
                // todo Get item.id and item.name
                var actionParent = $(this).parent().attr('id');
                var block = actionParent.substring(22);
                $.ajax({
                    url: '/manage/contentblocks/'+ block + '/lock/' + {{ entity.id }} + '/QuoteVersion',
                    headers: {
                        "Pragma": "no-cache",
                        "Expires": -1,
                        "Cache-Control": "no-cache"
                    }
                }).done(function () {
                    $("#loader").css("display", "inline-block");
                    window.location.hash = 'site-content';
                    window.location.reload(true);
                });
            });

            // delete a content block
            $(".item-delete").on('click', function(e){
                // todo Get item.id and item.name
                if (confirm('Are you sure you want to remove this item? Warning: this can not be undone.')) {
                    var actionParent = $(this).parent().attr('id');
                    var block = actionParent.substring(22);
                    $.ajax({
                        method:'DELETE',
                        url: '/manage/contentblocks/' + block + '/delete/' + {{ entity.id }} + '/QuoteVersion',
                        headers: {
                            "Pragma": "no-cache",
                            "Expires": -1,
                            "Cache-Control": "no-cache"
                        }
                    }).done(function () {
                        $('#content-blocks-' + block).remove();
                        contentBlocksUpdate({{ entity.id }});
                    });
                }
            });

            // change a tab's name
            $('.editable-tab').editable(function(value, settings) {
                return(value);
            }, {
                width: '20em',
                onblur: "cancel",
                tooltip: 'Click to edit',
                callback : function(value, settings) {
                    contentBlocksUpdate({{ entity.id }}); //value
                }
            });
        });
    </script>

{% endblock %}





{% block footer_left %}
    {% if entity.quoteReference.salesAgent %}
        <span class="intro">Tour Organizer:</span>
        {% if entity.quoteReference.salesAgent.media %}
            <span class="tui-image-avatar"><img src="{{ asset(".." ~ entity.quoteReference.salesAgent.media.getRelativePath ~ "/" ~ entity.quoteReference.salesAgent.media.getHashedFilename ) | imagine_filter('thumbnail') }}" alt="{{ entity.quoteReference.salesAgent.username }}"></span>
        {% elseif entity.quoteReference.salesAgent.firstName and entity.quoteReference.salesAgent.lastName %}
            <span class="tui-text-avatar mdl-typography--headline">{{ entity.quoteReference.salesAgent.firstName[:1] }}{{ entity.quoteReference.salesAgent.lastName[:1] }}</span>
        {% else %}
            <span class="tui-text-avatar mdl-typography--headline">{{ entity.quoteReference.salesAgent.username[:1] }}</span>
        {% endif %}
        <span class="agent">{{ entity.quoteReference.salesAgent.firstName }} {{ entity.quoteReference.salesAgent.lastName }}<br>
        {{ entity.quoteReference.salesAgent.email }}</span>
    {% endif %}
{% endblock %}

{% block footer_right %}
    <div class="quote-info"><span class="quote-label">Price per person:</span><span class="quote-price">{% if entity.pricePerson %}<strong>{% if entity.currency %}{{ entity.currency.htmlSymbol | raw }}{% endif %}{{ entity.pricePerson }}</strong>{% endif %}</span></div>
    {% if (entity.converted is sameas(false)) and (entity.quoteReference.converted is sameas(false)) %}
        {% if date(entity.expiryDate) < date('now') %}
            <a class="expired-quote mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="#">
                <i class="fa fa-calendar-times-o"></i> Expired
            </a>
        {% else %}
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('quote_site_quote_accepted', { 'id': entity.id }) }}">
                <i class="fa fa-thumbs-o-up"> </i> Accept Quote
            </a>
        {% endif %}
    {% elseif (entity.converted is sameas(true)) and (entity.quoteReference.converted is sameas(true))%}
        <a class="accepted-quote mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="#">
            <i class="fa fa-thumbs-up"> </i> Accepted
        </a>
    {% endif %}
{% endblock %}
