{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    <div class="form-row login-form-container {% if error %} form-row-errors{% endif %}">
        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">

            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Email">

            <input type="password" id="password" name="_password" required="required" placeholder="Password">

            {% if error %}
                <p class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
            {% endif %}

            {# <input type="checkbox" id="remember_me" name="_remember_me" value="on"> #}

            <input type="submit" id="_submit" name="_submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" value="{{ 'security.login.submit'|trans }}">
        </form>
    </div>
{% endblock fos_user_content %}
