{% extends '::base.html.twig' %}
{% block title %}Board '{{ entity.name }}'{% endblock %}
{% block page_title %}Board '{{ entity.name }}'{% endblock %}

{% block body -%}

    <table class="mdl-data-table mdl-js-data-table">
        <tbody>
            <tr>
                <td class="mdl-data-table__cell--non-numeric th-mimic">Name (ID)</td>
                <td class="mdl-data-table__cell--non-numeric">{{ entity.name }} ({{ entity.id }})</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('_manage_boardbasis') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('_manage_boardbasis_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
