{% if 'en_GB' in locale %} {% set format = 'd M Y' %} {% else %} {% set format = 'M d Y' %} {% endif %}
{% if 'en_GB' in locale %} {% set shortFormat = 'd M' %} {% else %} {% set format = 'M d' %} {% endif %}
{% set compareFormat = 'Y-m-d' %}

{% if entity.passportDate != null %}
    {% set passDtg  = date(entity.passPortDate).diff(date("now")) %}
    {% set passTime  = date(entity.created.date).diff(date(entity.passPortDate))%}
    {% set passPercent = ((passTime.days - passDtg.days)/passTime.days) * 100  %}
    {% if passDtg.days < 1 %} {%  set passDtgFinal = 0  %} {% else %} {% set passDtgFinal = passDtg.days %}{% endif %}
{% endif %}


{% if entity.emergencyDate != null %}
    {% set passengerDtg  = date(entity.emergencyDate).diff(date("now")) %}
    {% set passengerTime  = date(entity.created.date).diff(date(entity.emergencyDate))%}
    {% set passengerPercent = ((passengerTime.days - passengerDtg.days)/passengerTime.days) * 100  %}
    {% if passengerDtg.days < 1 %} {%  set passengerDtgFinal = 0  %} {% else %} {% set passengerDtgFinal = passengerDtg.days %}{% endif %}
{% endif %}

{% if entity.medicalDate != null%}
    {% set medDtg  = date(entity.medicalDate).diff(date("now")) %}
    {% set medTime  = date(entity.created.date).diff(date(entity.medicalDate))%}
    {% set medPercent = ((medTime.days - medDtg.days)/medTime.days) * 100  %}
    {% if medDtg.days < 1 %} {%  set medDtgFinal = 0  %} {% else %} {% set medDtgFinal = medDtg.days %}{% endif %}
{% endif %}

{% if entity.dietaryDate != null%}
    {% set dietDtg  = date(entity.dietaryDate).diff(date("now")) %}
    {% set dietTime  = date(entity.created.date).diff(date(entity.dietaryDate))%}
    {% set dietPercent = ((dietTime.days - dietDtg.days)/dietTime.days) * 100  %}
    {% if dietDtg.days < 1 %} {%  set dietDtgFinal = 0  %} {% else %} {% set dietDtgFinal = dietDtg.days %}{% endif %}
{% endif %}

{# calculate Days to Go for Departure Date #}
{% if  entity.departureDate and entity.departureDate | date ('Y-m-d') > "now - 1 day" | date('Y-m-d') %}
    {% set dtgFinal  = date(entity.departureDate).diff(date("now - 1 day")).days %}
{% else  %}
    {%  set dtgFinal = 0  %}
{% endif %}

{# calculate Days Until Expiration #}
{% if  entity.expiryDate and entity.expiryDate | date ('Y-m-d') > "now - 1 day" | date('Y-m-d') %}
    {% set dteFinal  = date(entity.expiryDate).diff(date("now - 1 day")).days %}
{% else %}
    {%  set dteFinal = 0  %}
{% endif %}

{% set signup = waitlist + accepted %}{% if signup >= entity.payingPlaces %}{% set signupPercent = 100 %}{% elseif signup < entity.payingPlaces %}{% set signupPercent = (signup/entity.payingPlaces) * 100 %}{% endif %}

{% if is_granted("ROLE_BRAND") or app.user.email == entity.organizer.email %}

    {#Status Bar, only the organizer for the specific tour or brand users can view the dashboard#}
    <div class="tour-edit mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h3 class="mdl-card__title-text">{% trans %}tour.dashboard.status{% endtrans %}</h3>
            {% if entity.tripStatus.name is defined and entity.tripStatus.name != null %}
                {% if entity.tripStatus.name == "Provisional" %}
                    <span style="color: goldenrod; margin-left: 20px;" class="status-alert"><i style="margin-right:5px;" class="fa fa-exclamation-circle"></i>{{ entity.tripStatus.name }}</span>
                {% elseif entity.tripStatus.name == "Confirmed" %}
                    <span style="color: green; margin-left: 20px;" class="status-alert"><i style="margin-right:5px;" class="fa fa-check"></i>{{ entity.tripStatus.name }}</span>
                {% elseif entity.tripStatus.name == "Cancelled" %}
                    <span style="color: red; margin-left: 20px;" class="status-alert"><i style="margin-right:5px;" class="fa fa-times"></i>{{ entity.tripStatus.name }}</span>
                {% endif %}
            {% endif %}
            {#<span class="tour-dashboard-cta status-block"><a class=""><i class="fa fa-ellipsis-v"></i></a></span>#}
        </div>
        <div class="mdl-card__supporting-text mdl-card--border profile-tour-details">
            <ul>
                {% if entity.paymentTasks is not empty  %}
                    {% for paymentTask in entity.paymentTasks if paymentTask.paidDate == null %}
                        {% if loop.first %}
                            <li>
                                <div class="profile-list-item item-1 tour-dashboard">
                                    <span class="date-span">{% if entity.currency %}<p id="currency" style="display: inline; font-size: inherit;">{{ entity.currency.htmlSymbol | raw }}</p>{% endif %}{{ paymentTask.value * entity.payingPlaces }}</span>
                                    <label>{{ paymentTask.name }} {% trans %}tour.dashboard.due{% endtrans %} {{ paymentTask.dueDate|date(shortFormat) }}</label>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% elseif entity.paymentTasks is empty  %}
                    <li>
                        <div class="profile-list-item item-1 tour-dashboard">
                            <span class="date-span">{% trans %}tour.dashboard.na{% endtrans %}</span>
                            <label>{% trans %}tour.dashboard.no_payments{% endtrans %}</label>
                        </div>
                    </li>
                {% endif %}
                <li>
                    <div class="profile-list-item item-2 tour-dashboard">
                        <span class="date-span">{{ accepted + waitlist }}/{{ entity.payingPlaces }}</span>
                        <label>{% trans %}tour.dashboard.signups{% endtrans %}</label>
                    </div>
                </li>
                <li>
                    {# if Provisional and not yet expired, show days till expired, else show days to departure #}
                    {# if there is no expiry, show day till departure #}
                    <div class="profile-list-item item-3 tour-dashboard">
                        {% if entity.tripStatus.name == "Provisional" and entity.expiryDate %}
                            {% if dteFinal<1 %}
                                <span class="date-span" style="color:red;"><i class="fa fa-exclamation-circle"> Expired</i></span>
                                <label>{% trans %}tour.dashboard.expiry{% endtrans %}</label>
                            {% endif %}
                            {% if dteFinal > 0 %}
                                <span class="date-span">{{ dteFinal }}</span>
                                <label>{% trans %}tour.dashboard.expiry{% endtrans %}</label>
                            {% endif %}
                        {% else %}
                            <span class="date-span">{{ dtgFinal }}</span>
                            <label>{% trans %}tour.dashboard.days{% endtrans %}</label>
                        {%  endif %}
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <h5>{% trans %}tour.dashboard.todo{% endtrans %}</h5>

    {#Sign Up Passengers#}

    {% if signupPercent is defined and signupPercent != 100 %}
        <div class="tour-edit mdl-card mdl-shadow--2dp">
            <a class ="dashboard-titles" href="{{ path('manage_passenger_dashboard', { 'tourId': entity.id }) }}">
                <div class="mdl-card__title">
                    <h3 class="mdl-card__title-text">{% trans %}tour.dashboard.sign_up{% endtrans %} {{ entity.payingPlaces }} {% trans %}tour.dashboard.passengers{% endtrans %}</h3>
                    <span class="tour-dashboard-cta"><i class="fa fa-arrow-right"></i></span>
                </div>
            </a>
            <div id="signup-progress" class="progress-bar"></div>
            <div class="mdl-card__supporting-text mdl-card--border profile-tour-details">
                <ul>
                    <li>
                        <div class="profile-list-item item-1 tour-dashboard two-column">
                            <span class="date-span">{{ entity.views }}</span>
                            <label>{% trans %}tour.dashboard.views{% endtrans %}</label>
                        </div>
                    </li>
                    {#<li>#}
                    {#<div class="profile-list-item item-2 tour-dashboard">#}
                    {#<span class="date-span">{{ accepted }}</span>#}
                    {#<label>{% trans %}tour.dashboard.accepted_of{% endtrans %} {{ entity.payingPlaces }}</label>#}
                    {#</div>#}
                    {#</li>#}
                    <li>
                        <div class="profile-list-item item-2 tour-dashboard two-column">
                            <span class="date-span">{{ waitlist }}</span>
                            <label>{% trans %}tour.dashboard.waitlist{% endtrans %}</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    {% endif %}

    {#First and not paid passenger payment tasks#}

    {#{% if entity.paymentTasksPassenger is not empty  %}#}
    {#{% for paymentTask in entity.paymentTasksPassenger if paymentTask.paidDate == null %}#}
    {#{% if loop.first %}#}
    {#{% set passengerDepositDtg  = date(paymentTask.dueDate).diff(date("now")) %}#}
    {#{% if passengerDepositDtg.days < 1 %} {%  set passengerDepositDtgFinal = 0  %} {% else %} {% set passengerDepositDtgFinal = passengerDepositDtg.days %}{% endif %}#}
    {#{% if "now"|date(compareFormat) < paymentTask.dueDate|date(compareFormat) %}#}
    {#<div class="tour-edit mdl-card mdl-shadow--2dp">#}
    {#<div class="mdl-card__title">#}
    {#<h3 class="mdl-card__title-text">{% trans %}tour.dashboard.collect{% endtrans %} {{ entity.payingPlaces }} {{ paymentTask.name|capitalize }} {% trans %}tour.dashboard.payments_by{% endtrans %} {{ paymentTask.dueDate|date(shortFormat) }}</h3>#}
    {#</div>#}
    {#<div class="mdl-card__supporting-text mdl-card--border profile-tour-details">#}
    {#<ul>#}
    {#<li>#}
    {#<div class="profile-list-item item-1 tour-dashboard">#}
    {#<span class="date-span">5</span>#}
    {#<label>{% trans %}tour.dashboard.paid{% endtrans %}</label>#}
    {#</div>#}
    {#</li>#}
    {#<li>#}
    {#<div class="profile-list-item item-2 tour-dashboard">#}
    {#<span class="date-span">10</span>#}
    {#<label>{% trans %}tour.dashboard.unpaid{% endtrans %}</label>#}
    {#</div>#}
    {#</li>#}
    {#<li>#}
    {#<div class="profile-list-item item-3 tour-dashboard">#}
    {#<span class="date-span">{{ passengerDepositDtgFinal }}</span>#}
    {#<label>{% trans %}tour.dashboard.days{% endtrans %}</label>#}
    {#</div>#}
    {#</li>#}
    {#</ul>#}
    {#</div>#}
    {#</div>#}
    {#{% endif %}#}
    {#{% endif %}#}
    {#{% endfor %}#}
    {#{% endif %}#}

    {#Payment Tasks Always show the first unpaid payment#}


    {% if entity.paymentTasks is not empty  %}
        {% for paymentTask in entity.paymentTasks if paymentTask.paidDate == null %}
            {% if loop.first %}
                {% set depositdtg  = date(paymentTask.dueDate).diff(date("now")) %}
                {% if depositdtg.days < 1 %} {%  set depositDtgFinal = 0  %} {% else %} {% set depositDtgFinal = depositdtg.days %}{% endif %}
                {% if "now"|date(compareFormat) < paymentTask.dueDate|date(compareFormat)  %}
                    <div class="tour-edit mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title">
                            <h3 class="mdl-card__title-text">{% trans %}tour.dashboard.pay{% endtrans %} {{ paymentTask.name }} {% trans %}tour.dashboard.to{% endtrans %} {{ brand.name }} {{ paymentTask.dueDate|date(shortFormat) }}</h3>
                        </div>
                        <div class="mdl-card__supporting-text mdl-card--border profile-tour-details">
                            <ul>
                                <li>
                                    <div class="profile-list-item item-1 tour-dashboard two-column">
                                        <span class="date-span">{% if entity.currency %}<p id="currency" style="display: inline; font-size: inherit;">{{ entity.currency.htmlSymbol | raw }}</p>{% endif %}{{ paymentTask.value * entity.payingPlaces }}</span>
                                        <label>Due</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="profile-list-item item-2 tour-dashboard two-column">
                                        <span class="date-span">{{ depositDtgFinal }}</span>
                                        <label>{% trans %}tour.dashboard.days{% endtrans %}</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% elseif "now"|date(compareFormat) > paymentTask.dueDate|date(compareFormat) %}
                    <div class="tour-edit mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title">
                            <i style="margin: 0 10px" class="fa fa-exclamation-triangle fa-2x"></i>
                            <h3 class="mdl-card__title-text">{% trans %}tour.dashboard.pay{% endtrans %} {{ paymentTask.name }} {% trans %}tour.dashboard.to{% endtrans %} {{ brand.name }} </h3>
                        </div>
                        <div class="mdl-card__supporting-text mdl-card--border profile-tour-details">
                            <div class="mdl-card__supporting-text">
                                <p style="font-size: inherit;">{% trans %}tour.dashboard.the_deadline{% endtrans %} {{ paymentTask.name }} {% trans %}tour.dashboard.has_passed{% endtrans %}  {{ entity.salesAgent.firstName|capitalize }} {{ entity.salesAgent.lastName|capitalize }}.</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {#Passport Date info task#}
    {% if entity.passportDate != null %}
        {% if "now"|date(compareFormat) < entity.passPortDate|date(compareFormat) %}
            <div class="tour-edit mdl-card mdl-shadow--2dp">
                <a class ="dashboard-titles" href="#">
                    <div class="mdl-card__title">
                        <h3 class="mdl-card__title-text">{% trans %}tour.dashboard.passport_data{% endtrans %} {{ entity.passPortDate|date(shortFormat) }}</h3>
                        <span class="tour-dashboard-cta"><i class="fa fa-arrow-right"></i></span>
                    </div>
                </a>
                <div id="passport-progress" class="progress-bar"></div>
                <div class="mdl-card__supporting-text mdl-card--border profile-tour-details">
                    <ul>
                        <li>
                            <div class="profile-list-item item-1 tour-dashboard">
                                <span class="date-span">0</span>
                                <label>{% trans %}tour.dashboard.collecting{% endtrans %}</label>
                            </div>
                        </li>
                        <li>
                            <div class="profile-list-item item-2 tour-dashboard">
                                <span class="date-span">60</span>
                                <label>{% trans %}tour.dashboard.outstanding{% endtrans %}</label>
                            </div>
                        </li>
                        <li>
                            <div class="profile-list-item item-3 tour-dashboard">
                                <span class="date-span">{{ passDtgFinal }}</span>
                                <label>{% trans %}tour.dashboard.days{% endtrans %}</label>
                            </div>
                        </li>
                        <li>
                    </ul>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {#Passenger Data info task#}
    {% if entity.emergencyDate != null %}
        {% if "now"|date(compareFormat) < entity.emergencyDate|date(compareFormat) %}
            <div class="tour-edit mdl-card mdl-shadow--2dp">
                <a class ="dashboard-titles" href="#">
                    <div class="mdl-card__title">
                        <h3 class="mdl-card__title-text">{% trans %}tour.dashboard.passenger_data{% endtrans %} {{ entity.emergencyDate|date(shortFormat) }}</h3>
                        <span class="tour-dashboard-cta"><i class="fa fa-arrow-right"></i></span>
                    </div>
                </a>
                <div id="passenger-progress" class="progress-bar"></div>
                <div class="mdl-card__supporting-text mdl-card--border profile-tour-details">
                    <ul>
                        <li>
                            <div class="profile-list-item item-1 tour-dashboard">
                                <span class="date-span">0</span>
                                <label>{% trans %}tour.dashboard.collecting{% endtrans %}</label>
                            </div>
                        </li>
                        <li>
                            <div class="profile-list-item item-2 tour-dashboard">
                                <span class="date-span">60</span>
                                <label>{% trans %}tour.dashboard.outstanding{% endtrans %}</label>
                            </div>
                        </li>
                        <li>
                            <div class="profile-list-item item-3 tour-dashboard">
                                <span class="date-span">{{ passengerDtgFinal }}</span>
                                <label>{% trans %}tour.dashboard.days{% endtrans %}</label>
                            </div>
                        </li>
                        <li>
                    </ul>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {#Medical Date info task#}
    {% if entity.medicalDate != null %}
        {% if "now"|date(compareFormat) < entity.medicalDate|date(compareFormat)  %}
            <div class="tour-edit mdl-card mdl-shadow--2dp">
                <a class ="dashboard-titles" href="#">
                    <div class="mdl-card__title">
                        <h3 class="mdl-card__title-text">{% trans %}tour.dashboard.medical_data{% endtrans %} {{ entity.medicalDate|date(shortFormat) }}</h3>
                        <span class="tour-dashboard-cta"><i class="fa fa-arrow-right"></i></span>
                    </div>
                </a>
                <div id="medical-progress" class="progress-bar"></div>
                <div class="mdl-card__supporting-text mdl-card--border profile-tour-details">
                    <ul>
                        <li>
                            <div class="profile-list-item item-1 tour-dashboard">
                                <span class="date-span">0</span>
                                <label>{% trans %}tour.dashboard.collecting{% endtrans %}</label>
                            </div>
                        </li>
                        <li>
                            <div class="profile-list-item item-2 tour-dashboard">
                                <span class="date-span">60</span>
                                <label>{% trans %}tour.dashboard.outstanding{% endtrans %}</label>
                            </div>
                        </li>
                        <li>
                            <div class="profile-list-item item-3 tour-dashboard">
                                <span class="date-span">{{ medDtgFinal }}</span>
                                <label>{% trans %}tour.dashboard.days{% endtrans %}</label>
                            </div>
                        </li>
                        <li>
                    </ul>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {#Dietary Date Task#}
    {% if entity.dietaryDate != null %}
        {% if "now"|date(compareFormat) < entity.dietaryDate|date(compareFormat) %}
            <div class="tour-edit mdl-card mdl-shadow--2dp">
                <a class ="dashboard-titles" href="#">
                    <div class="mdl-card__title">
                        <h3 class="mdl-card__title-text">{% trans %}tour.dashboard.dietary_data{% endtrans %} {{ entity.dietaryDate|date(shortFormat) }}</h3>
                        <span class="tour-dashboard-cta"><i class="fa fa-arrow-right"></i></span>
                    </div>
                </a>
                <div id="dietary-progress" class="progress-bar"></div>
                <div class="mdl-card__supporting-text mdl-card--border profile-tour-details">
                    <ul>
                        <li>
                            <div class="profile-list-item item-1 tour-dashboard">
                                <span class="date-span">0</span>
                                <label>{% trans %}tour.dashboard.collecting{% endtrans %}</label>
                            </div>
                        </li>
                        <li>
                            <div class="profile-list-item item-2 tour-dashboard">
                                <span class="date-span">60</span>
                                <label>{% trans %}tour.dashboard.outstanding{% endtrans %}</label>
                            </div>
                        </li>
                        <li>
                            <div class="profile-list-item item-3 tour-dashboard">
                                <span class="date-span">{{ dietDtgFinal }}</span>
                                <label>{% trans %}tour.dashboard.days{% endtrans %}</label>
                            </div>
                        </li>
                        <li>
                    </ul>
                </div>
            </div>
        {% endif %}
    {% endif %}


    {#Download Booking Form#}
    {#<div class="tour-edit mdl-card mdl-shadow--2dp">#}
    {#<div class="mdl-card__title">#}
    {#<h3 class="mdl-card__title-text">{% trans %}tour.dashboard.booking_form{% endtrans %}</h3>#}
    {#</div>#}
    {#<div class="mdl-card__supporting-text mdl-card--border profile-tour-details">#}
    {#<div class="mdl-card__supporting-text">#}
    {#<p style="font-size: inherit;">{% trans %}tour.dashboard.booking_form_copy{% endtrans %}</p>#}
    {#<a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored download" href="#"><i class="fa fa-download"></i>{% trans %}tour.dashboard.download{% endtrans %}</a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}

{% endif %}

<h5 id="completed-title">{% trans %}tour.dashboard.completed{% endtrans %}</h5>

{#Passport Data completed#}
    {% if entity.passportDate != null %}
        {% if "now"|date(compareFormat) > entity.passPortDate|date(compareFormat) %}
            <div class="tour-edit mdl-card mdl-shadow--2dp completed-task expired-quote">
                <div class="mdl-card__title">
                    <h3 class="mdl-card__title-text">{% trans %}tour.dashboard.completed_passport_data{% endtrans %}</h3>
                    <span class="tour-dashboard-cta"><i class="fa fa-check"></i></span>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {#Emergency Data completed#}
    {% if entity.emergencyDate != null %}
        {% if "now"|date(compareFormat) > entity.emergencyDate|date(compareFormat) %}
            <div class="tour-edit mdl-card mdl-shadow--2dp completed-task expired-quote">
                <div class="mdl-card__title">
                    <h3 class="mdl-card__title-text">{% trans %}tour.dashboard.completed_passenger_data{% endtrans %}</h3>
                    <span class="tour-dashboard-cta"><i class="fa fa-check"></i></span>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {#Medical Data completed#}
    {% if entity.medicalDate != null %}
        {% if "now"|date(compareFormat) > entity.medicalDate|date(compareFormat) %}
            <div class="tour-edit mdl-card mdl-shadow--2dp completed-task expired-quote">
                <div class="mdl-card__title">
                    <h3 class="mdl-card__title-text">{% trans %}tour.dashboard.completed_medical_data{% endtrans %}</h3>
                    <span class="tour-dashboard-cta"><i class="fa fa-check"></i></span>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {#Dietary Data completed#}
    {% if entity.dietaryDate != null %}
        {% if "now"|date(compareFormat) > entity.dietaryDate|date(compareFormat) %}
            <div class="tour-edit mdl-card mdl-shadow--2dp completed-task expired-quote">
                <div class="mdl-card__title">
                    <h3 class="mdl-card__title-text">{% trans %}tour.dashboard.completed_dietary_data{% endtrans %}</h3>
                    <span class="tour-dashboard-cta"><i class="fa fa-check"></i></span>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {#Completed passenger signups#}
    {% if signupPercent is defined and signupPercent == 100%}
        <div class="tour-edit mdl-card mdl-shadow--2dp completed-task expired-quote">
            <div class="mdl-card__title">
                <h3 class="mdl-card__title-text">{% trans %}tour.dashboard.sign_up{% endtrans %} {{ entity.payingPlaces }} {% trans %}tour.dashboard.passengers{% endtrans %}</h3>
                <span class="tour-dashboard-cta"><i class="fa fa-check"></i></span>
            </div>
        </div>
    {% endif %}

    {#Completed Payment Tasks#}
    {% if entity.paymentTasks is not empty  %}
        {% for paymentTask in entity.paymentTasks if paymentTask.paidDate != null and "now"|date(compareFormat) > paymentTask.dueDate|date(compareFormat)  %}
            <div class="tour-edit mdl-card mdl-shadow--2dp completed-task expired-quote">
                <div class="mdl-card__title">
                    <h3 class="mdl-card__title-text">Pay Deposit To {{ brand.name }}</h3>
                    <span class="tour-dashboard-cta"><i class="fa fa-check"></i></span>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {#Complete Passenger Payment Tasks#}
    {% if entity.paymentTasksPassenger is not empty  %}
        {% for paymentTask in entity.paymentTasksPassenger if paymentTask.paidDate != null %}
            <div class="tour-edit mdl-card mdl-shadow--2dp completed-task expired-quote">
                <div class="mdl-card__title">
                    <h3 class="mdl-card__title-text">Collect {{ entity.payingPlaces }} {{ paymentTask.name }} Payments</h3>
                    <span class="tour-dashboard-cta"><i class="fa fa-check"></i></span>
                </div>
            </div>
        {% endfor %}
    {% endif %}

<script>
    //Only allow users to download promo assets when there are some
    {% if entity.media != NULL %}
    var something = '<a href="/tour/view/export/{{ entity.id }}/{{ entity.quoteNumber }}.zip" target="_blank" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored print-actions"> <i class="fa fa-download"></i> Download Documents</a>';
    {% else %}
    var something = '<a class="expired-quote mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="#"><i class="fa fa-download"></i> Download Documents </a>';
    {% endif %}
    //Percentage Bars
    $(document).ready(function() {
        var passPercent = {% if passPercent is defined %}{{ passPercent }}{% else %}""{% endif %};
        var medPercent = {% if medPercent is defined %}{{ medPercent }}{% else %}""{% endif %};
        var dietPercent = {% if dietPercent is defined %}{{ dietPercent }}{% else %}""{% endif %};
        var passengerPercent = {% if passengerPercent is defined %}{{ passengerPercent }}{% else %}""{% endif %};
        var signupPercent = {% if signupPercent is defined %}{{ signupPercent }}{% else %}""{% endif %};
        //Passenger Sign Up Percentage
        $(function() {
            $("#signup-progress").progressbar({
                value: 1
            });
            $("#signup-progress > .ui-progressbar-value").animate({
                width: signupPercent + "%"
            }, 1500).html('<p style="margin: -2px 0 1em; font-size: 15px;"class="mdl-color-text--primary-contrast">' + Math.round(signupPercent) + "% Completed" + '</p>').css({"background": "{{ brand.primaryColor }}"});
        });
        //Passport Data percentage
        $(function() {
            $("#passport-progress").progressbar({
                value: 1
            });
            $("#passport-progress > .ui-progressbar-value").animate({
                width: passPercent + "%"
            }, 1500).html('<p style="margin: -2px 0 1em; font-size: 15px;"class="mdl-color-text--primary-contrast">' + Math.round(passPercent) + "% Completed" + '</p>').css({"background": "{{ brand.primaryColor }}"});
        });
        //Passenger Data percentage
        $(function() {
            $("#passenger-progress").progressbar({
                value: 1
            });
            $("#passenger-progress > .ui-progressbar-value").animate({
                width: passengerPercent + "%"
            }, 1500).html('<p style="margin: -2px 0 1em; font-size: 15px;"class="mdl-color-text--primary-contrast">' + Math.round(passengerPercent) + "% Completed" + '</p>').css({"background": "{{ brand.primaryColor }}"});
        });
        //Medical Data percentage
        $(function() {
            $("#medical-progress").progressbar({
                value: 1
            });
            $("#medical-progress > .ui-progressbar-value").animate({
                width: medPercent + "%"
            }, 1500).html('<p style="margin: -2px 0 1em; font-size: 15px;"class="mdl-color-text--primary-contrast">' + Math.round(medPercent) + "% Completed" + '</p>').css({"background": "{{ brand.primaryColor }}"});
        });
        //Dietary Data percentage
        $(function() {
            $("#dietary-progress").progressbar({
                value: 1
            });
            $("#dietary-progress > .ui-progressbar-value").animate({
                width: dietPercent + "%"
            }, 1500).html('<p style="margin: -2px 0 1em; font-size: 15px;"class="mdl-color-text--primary-contrast">' + Math.round(dietPercent) + "% Completed" + '</p>').css({"background": "{{ brand.primaryColor }}"});
        });
        $(document).ready(function () {
            if ($("#completed-title").next().is('script')) {
                $("#completed-title").css({"display": "none"});
            }
        });
    });
    // Promote Popup
    $(document).on('click', '#promote-tour', function (e) {
        e.preventDefault();
        var shareValue = "{{ url('tour_site_show', { 'id': entity.id, 'quoteNumber' : entity.quoteNumber }) }}";
        var link_html = '<div id="content-wrapper" class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">' +
                '<div id="content-blocks-wrapper" class="content-block-tabs-bar mdl-tabs__tab-bar">' +
                '<a href="#tabs-drawer-1" class="view-tab site-content-blocks-tab mdl-tabs__tab " tabId="1"><span class="tab-name"><i style="margin-right: 10px;" class="fa fa-link fa-1x"></i>Url</span></a>' +
                '<a href="#tabs-drawer-2" class="view-tab site-content-blocks-tab mdl-tabs__tab " tabId="2"><span class="tab-name"><i style="margin-right: 10px;" class="fa fa-download fa-1x"></i>Toolkit</span></a>' +
                '</div></div>' +
                '<div id="tabs-drawer-1" class="mdl-tabs__panel content-blocks-drawer">' +
                '<h3>Share this Tour with others</h3>' +
                '<div><p>To send this tour to others, copy the URL below.</p></div>' +
                '<div class="input"><input style="width:70%; padding:.25em; margin:1em;" type="text" id="share_url" name="share_url" value="' + shareValue + '" readonly="readonly">' +
                '<a href="#" id="copy-button" data-clipboard-target="share_url"' +
                'title="Click to copy Tour URL"' +
                'class="not-full mdl-button mdl-js-button mdl-button--raised mdl-button--colored">' +
                '<i class="fa fa-sign-in fa-stack"></i>' +
                '</a></div></div>' +
                '<div id="tabs-drawer-2" class="mdl-tabs__panel content-blocks-drawer">' + something + '</div>';
        toolkitStaticPopup("Promote the Tour", link_html);
        // Copy to Clipboard
        ZeroClipboard.config({swfPath: "//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.swf"});
        var client = new ZeroClipboard(document.getElementById("copy-button"));
        client.on('aftercopy', function (event) {
            $('#copy-button').css('background-color', 'green');
        });
        //remove the CopytoClipboard button if not Flash
        if (navigator.mimeTypes["application/x-shockwave-flash"] == undefined) {
            $("#copy-button").addClass('hidden');
            $('share_url').css('width', '80%');
        };
    });
</script>