{%  if 'en_GB' in locale %} {% set format = 'd M Y' %} {% else %} {% set format = 'M d Y' %} {% endif %}
{% block body -%}

{#{{ dump() }}#}
    <div class="notify-organizer">
{#        {% if organizer.confirmationToken %}
            <h3>{% trans %}tour.contact_organizer.signup{% endtrans %}</h3>
            <div class="input">
                <input style="width: 70%; height: 36px; margin: 1em 0;" type="text" id="signup_url" name="signup_url" value="{{ absolute_url("/user/register/confirm/" ~ organizer.confirmationToken) }}" readonly="readonly">
                <a href="#" id="signup_button" data-clipboard-target="signup_url" title="Click to copy Signup URL" class="not-full mdl-button mdl-js-button mdl-button--raised mdl-button--colored copy-button"><i class="fa fa-sign-in fa-stack"></i></a>
            </div>
        {% endif %}#}
        <div class="message">
            <h3>{% trans %}tour.contact_organizer.message{% endtrans %}</h3>
            <h4>{% trans %}tour.contact_organizer.to{% endtrans %}</h4>
            <p><strong>{{ entity.organizer.firstName }} {{ entity.organizer.lastName }} ({{ entity.organizer.email }})</strong></p>
            <h4>{% trans %}tour.contact_organizer.message_text{% endtrans %}</h4>
            {{ form(notify_form) }}
        </div>
        <hr>
        <h3 style="text-align: center">Or</h3>
        <h3>{% trans %}tour.contact_organizer.share{% endtrans %}</h3>
        <div class="input">
            <input style="width: 70%; height: 36px; margin: 1em 0;" type="text" id="share_url" name="share_url" value="{{ app.request.getSchemeAndHttpHost() }}/tour/view/{{ entity.id }}/{{ entity.quoteNumber }}" readonly="readonly">
            <a href="#" id="share_button" data-clipboard-target="share_url" title="Click to copy Tour URL" class="not-full mdl-button mdl-js-button mdl-button--raised mdl-button--colored copy-button"><i class="fa fa-sign-in fa-stack"></i></a>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            // Copy to Clipboard
            var trigger_btn = document.getElementById("share_button");
            if (typeof trigger_btn !== 'undefined' && trigger_btn !== null) {
                trigger_btn.setAttribute("brandPrimaryColor", "{{ brand.primaryColor }}");
                trigger_btn.addEventListener('click', copyToClipboard, false);
            }
            var trigger_btn1 = document.getElementById("signup_button");
            if (typeof trigger_btn1 !== 'undefined' && trigger_btn1 !== null) {
                trigger_btn1.setAttribute("brandPrimaryColor", "{{ brand.primaryColor }}");
                trigger_btn1.addEventListener('click', copyToClipboard, false);
            }
        });


    </script>
{% endblock %}
