{% extends '::site-base.html.twig' %}

{% if 'en_GB' in locale %} {% set format = 'd M Y' %} {% else %} {% set format = 'M d Y' %} {% endif %}

{% block title %}
    {% if is_granted("ROLE_BRAND") %}
        {% trans %}tour.page_title.index{% endtrans %}
    {% else %}
        {{ entity.name }}
    {% endif %}
{% endblock %}

{% block page_title %}
    <span>{% trans %}tour.page_title.dashboard{% endtrans %}</span>
{% endblock %}

{% block page_title_menu %}
    <button id="tour-title-drop" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon title-menu-drop">
        <i class="material-icons">arrow_drop_down</i>
    </button>
    {% embed "TourBundle:Tour:tourMenu.html.twig" %}
        {% if editable %}
            {% block tour_dashboard_link %}
                <li><a href="{{ path('manage_tour_show', { 'id': entity.id }) }}" class="mdl-menu__item">{% trans %}tour.title.index{% endtrans %}</a></li>
            {% endblock %}
        {% endif %}
    {% endembed %}
{% endblock %}

{% block back_link %}
    {% if is_granted("ROLE_BRAND") %}
        <a class="back-link" href="{{ path('manage_tour') }}"><i class="fa fa-arrow-left"></i> {% trans %}tour.title.back_list{% endtrans %}</a>
    {% else %}
        <a class="back-link" href="/"><i class="fa fa-arrow-left"></i> {% trans %}tour.title.back_dashboard{% endtrans %}</a>
    {% endif %}
{% endblock %}

{% block body -%}

    <div class="tour-show-wrapper">

    <div class="tour-show-left-column">
        <ul class="tour-show-submenu">
            <li><strong>{% trans %}tour.show.summary{% endtrans %}</strong></li>
            <hr>
            <li><label>{% trans %}tour.show.institution{% endtrans %}</label><br><strong>{{ entity.institution.name }}</strong></li>
            <hr>
            <li><label>{% trans %}tour.show.departure{% endtrans %}</label><br><strong>{{ entity.departureDate|date(format) }}</strong></li>
            <hr>
            <li><label>{% trans %}tour.show.passengers{% endtrans %}</label><br><strong>{{ entity.payingPlaces }} paying passengers {% if entity.freePlaces > 0 %} and {{ entity.freePlaces }} free passengers{% endif %}</strong></li>
            <hr>
            <li><label>{% trans %}tour.show.price{% endtrans %}</label><br><strong>{% if entity.currency %}{{ entity.currency.htmlSymbol | raw }}{% endif %}{{ entity.pricePerson }}</strong></li>
            <hr>
        </ul>

        <div class="tour-edit-organizer-left">
            <label>{% trans %}tour.show.organizers{% endtrans %}</label><br>
            {% if entity.organizer.media %}
                <img class="tui-image-avatar" src="{{ asset( entity.organizer.media.getRelativePath ~ "/" ~ entity.organizer.media.getHashedFilename ) | imagine_filter('thumbnail') }}" alt="{{ entity.organizer.username }}">
            {% elseif entity.organizer.firstName and entity.organizer.lastName %}
                <span class="tui-text-avatar mdl-typography--headline">{{ entity.organizer.firstName[:1] }}{{ entity.organizer.lastName[:1] }}</span>
            {% else %}
                <span class="tui-text-avatar mdl-typography--headline">{{ entity.organizer.username[:1] }}</span>
            {% endif %}
            {#<a class="add-organizer" href="#"><i class="add-icon fa fa-plus"></i></a>#}
            {#<a class="add-organizer mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="#">Add/remove organizers</a>#}
        </div>
    </div>

    <div class="tour-show-right-column">

    {% if entity.SetupComplete == true and entity.isComplete == true %}

        {{ render(controller('TourBundle:Tour:getTourCompletedAndSetup', { 'id': entity.id } )) }}

    {% elseif entity.SetupComplete == true and entity.isComplete == false %}

        {{ render(controller('TourBundle:Tour:getTourNotCompletedAndSetup', { 'id': entity.id } )) }}

    {% elseif entity.SetupComplete == false %}

        {{ render(controller('TourBundle:Tour:getTourNotSetup', { 'id': entity.id } )) }}

    {% endif %}

    </div>

    </div>

<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.js">
</script>
<script>
    $(document).ready(function () {
        // Promote Popup
        $(document).on('click', '#promote-tour', function (e) {
            e.preventDefault();
            var shareValue = "{{ url('tour_site_show', { 'id': entity.id, 'quoteNumber' : entity.quoteNumber }) }}";
            var link_html = '<h3>Share this Tour with others</h3>' +
                    '<div><p>To send this tour to others, copy the URL below.</p></div>' +
                    '<div class="input"><input style="width:70%; padding:.25em; margin:1em;" type="text" id="share_url" name="share_url" value="' + shareValue + '" readonly="readonly">' +
                    '<a href="#" id="copy-button" data-clipboard-target="share_url"' +
                    'title="Click to copy Tour URL"' +
                    'class="not-full mdl-button mdl-js-button mdl-button--raised mdl-button--colored">' +
                    '<i class="fa fa-sign-in fa-stack"></i>' +
                    '</a></div>';
            toolkitStaticPopup("Promote the Tour", link_html);
            // Copy to Clipboard
            ZeroClipboard.config({swfPath: "//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.swf"});
            var client = new ZeroClipboard(document.getElementById("copy-button"));
            client.on('aftercopy', function (event) {
                $('#copy-button').css('background-color', 'green');
            });
            //remove the CopytoClipboard button if not Flash
            if (navigator.mimeTypes["application/x-shockwave-flash"] == undefined) {
                $("#copy-button").addClass('hidden');
                $('share_url').css('width', '80%');
            };

        });
    });
</script>

{% endblock %}


{% block footer_left %}
    {% if entity.organizer %}
        <span class="intro">{% trans %}tour.show.footer.intro{% endtrans %}</span>
        {% if entity.organizer.media %}
            <span class="tui-image-avatar"><img src="{{ asset( entity.organizer.media.getRelativePath ~ "/" ~ entity.organizer.media.getHashedFilename ) | imagine_filter('thumbnail') }}" alt="{{ entity.organizer.username }}"></span>
        {% elseif entity.organizer.firstName and entity.organizer.lastName %}
            <span class="tui-text-avatar mdl-typography--headline">{{ entity.organizer.firstName[:1] }}{{ entity.organizer.lastName[:1] }}</span>
        {% else %}
            <span class="tui-text-avatar mdl-typography--headline">{{ entity.organizer.username[:1] }}</span>
        {% endif %}
        <span class="agent">
            {% if entity.organizer.displayName %}
                {{ entity.organizer.displayName }}
            {% else %}
                {{ entity.organizer.firstName }} {{ entity.organizer.lastName }}
            {% endif %}
            <br>
            <a href="mailto:{{ entity.organizer.email }}">{{ entity.organizer.email }}</a></span>
    {% endif %}
{% endblock %}

{% block footer_right %}
    <div class="quote-info"><span class="quote-label">{% trans %}tour.show.footer.price{% endtrans %}</span><span class="quote-price">{% if entity.pricePerson %}<strong>{% if entity.currency %}{{ entity.currency.htmlSymbol | raw }}{% endif %}{{ entity.pricePerson }}</strong>{% endif %}</span></div>
{% endblock %}
