{% extends '::site-base.html.twig' %}

{% if 'en_GB' in locale %} {% set format = 'd M Y' %} {% else %} {% set format = 'M d Y' %} {% endif %}

{% block title %}
    {% if is_granted("ROLE_BRAND") %}
        {% trans %}tour.page_title.index{% endtrans %}
    {% else %}
        {{ entity.name }}
    {% endif %}
{% endblock %}

{% block page_title %}
    <span>{% trans %}tour.page_title.dashboard{% endtrans %}</span>
{% endblock %}

{% block page_title_menu %}
    {% embed "TourBundle:Tour:tourMenu.html.twig" %}
    {% endembed %}
{% endblock %}

{% block back_link %}
    {% if is_granted("ROLE_BRAND") %}
        <a class="back-link" href="{{ path('manage_tour') }}"><i class="fa fa-arrow-left"></i> {% trans %}tour.actions.back_to_tours{% endtrans %}</a>
    {% else %}
        <a class="back-link" href="/"><i class="fa fa-arrow-left"></i> {% trans %}tour.actions.home{% endtrans %}</a>
    {% endif %}
{% endblock %}

{% block body -%}
    <div class="tour-show-wrapper">

    <div class="tour-show-left-column">
        <div class="intro-text">
            {% if entity.SetupComplete %}
                <p>{{ 'tour.show.setup_instructions_title'|trans({'%firstname%' : app.user.firstname})|raw }}</p>
                <p>{% trans %}tour.show.setup_instructions_tasks{% endtrans %}</p>
            {% else %}
                <p>{{ 'tour.not_setup.setup_instructions_title'|trans({'%firstname%' : app.user.firstname})|raw }}</p>
                <p>{% trans %}tour.not_setup.setup_instructions_payment{% endtrans %}</p>
                <p>{% trans %}tour.not_setup.setup_instructions_sharing{% endtrans %}</p>
            {% endif %}
        </div>
        <ul class="tour-show-submenu">
            <li><strong>{% trans %}tour.show.summary{% endtrans %}</strong></li>
            <li><label>{% trans %}tour.show.institution{% endtrans %}</label><strong>{{ entity.institution.name }}</strong></li>
            <li><label>{% trans %}tour.show.name{% endtrans %}</label><strong>{{ entity.name}}</strong></li>
            {% if entity.tourReference != null %}
                <li><label>{% trans %}tour.show.number{% endtrans %}</label><strong>{{ entity.tourReference}}</strong></li>
            {% endif %}
            <li><label>{% trans %}tour.show.departure{% endtrans %}</label><strong>{{ entity.departureDate|date(format) }}</strong></li>

            <li>
                <label>{% trans %}tour.show.passengers{% endtrans %}</label>
                {%  if (entity.payingPlaces) and (entity.freePlaces) %}
                    {{ 'tour.show.price_based_on_payingandfree'|trans({'%payingplaces%' : entity.payingPlaces, '%freeplaces%' : entity.freePlaces})|raw }}
                {% elseif (entity.payingPlaces) and (entity.freePlaces is empty or entity.freePlaces == 0) %}
                    {{ 'tour.show.price_based_on_payingonly'|trans({'%payingplaces%' : entity.payingPlaces})|raw }}
                {% elseif (entity.payingPlaces|default is empty) and (entity.freePlaces) %}
                    {{ 'tour.show.price_based_on_freeonly'|trans({'%freeplaces%' : entity.freePlaces})|raw }}
                {%  endif %}
            </li>

            <li><label>{% trans %}tour.show.price{% endtrans %}</label><strong>{% if entity.currency %}{{ entity.currency.htmlSymbol | raw }}{% endif %}{{ entity|price }}</strong></li>
            {% if payment_tasks is not empty %}
                <li>
                    <label>{% trans %}tour.show.schedule{% endtrans %}
                        {% if is_granted("ROLE_BRAND") %}
                            <span style="float:right;">
                            <a href="" class="make-a-brand-payment">Log a Payment to {{ brand.name }}</a>
                        </span>
                        {% endif %}
                    </label>

                    {% for schedule in payment_schedule %}
                        {# render(controller('TourBundle:PaymentTask:showList', { 'id': payment.id } )) #}
                        <ul id="payment-task-list" class="payment-task-list">
                            <li style="display:block">
                                <strong>{{ schedule.item.name }}</strong>
                                <label style="display:inline;">{% trans %}tour.page_title.payment_task.show.duedate{% endtrans %}</label>
                                {{ schedule.item.dueDate|date(format) }}
                            </li>
                            <li style="display:block">
                                <label style="display:inline;">{% trans %}tour.page_title.payment_task.show.paid{% endtrans %}</label>
                                <strong>{% if entity.currency %}{{ entity.currency.htmlSymbol | raw }}{% endif %}{{ schedule.taskPaid }}</strong>
                                <label style="display:inline;">of {# {% trans %}tour.page_title.payment_task.show.value{% endtrans %}#}</label>
                                <strong>{% if entity.currency %}{{ entity.currency.htmlSymbol | raw }}{% endif %}{{ schedule.item.value  * entity.payingPlaces }}</strong>
                                <label style="display:inline;">({% if entity.currency %}{{ entity.currency.htmlSymbol | raw }}{% endif %}{{ schedule.item.value }} per person * {{  entity.payingPlaces }} Paying Places)</label>
                            </li>
                        </ul>
                    {% endfor %}
                </li>
            {% endif %}
        </ul>

    </div>

    <div id="tour-completed-right-column" class="tour-show-right-column">

    {% if entity.SetupComplete == true and entity.isComplete == true %}

        {{ render(controller('TourBundle:Tour:getTourCompletedAndSetup', { 'id': entity.id } )) }}

    {% elseif entity.SetupComplete == true and entity.isComplete == false %}

        {{ render(controller('TourBundle:Tour:getTourNotCompletedAndSetup', { 'id': entity.id } )) }}

    {% elseif entity.SetupComplete == false %}

        {{ render(controller('TourBundle:Tour:getTourNotSetup', { 'id': entity.id } )) }}

    {% endif %}

    </div>

    </div>

<script>
    $(document).ready(function () {
        // Promote Popup
        $(document).on('click', '#promote-tour', function (e) {
            e.preventDefault();
            var shareValue = "{{ url('tour_site_show', { 'id': entity.id, 'quoteNumber' : entity.quoteNumber }) }}";
            var link_html = '<h3>Share this Tour with others</h3>' +
                    '<div><p>To send this tour to others, copy the URL below.</p></div>' +
                    '<div class="input"><input style="width:70%; padding:.25em; margin:1em;" type="text" id="share_url" name="share_url" value="' + shareValue + '" readonly="readonly">' +
                    '<a href="#" id="copy-button" data-clipboard-target="share_url"' +
                    'title="Click to copy Tour URL"' +
                    'class="not-full mdl-button mdl-js-button mdl-button--raised mdl-button--colored">' +
                    '<i class="fa fa-sign-in fa-stack"></i>' +
                    '</a></div>';
            toolkitStaticPopup("Promote the Tour", link_html);
            // Copy to Clipboard
            $('#copy-button').attr('brandPrimaryColor', '{{ brand.primaryColor }}').click(copyToClipboard);
        });

        //brand_payment popup
        $(document).on('click', 'a.make-a-brand-payment', function (e) {
            e.preventDefault();
            toolkitStandardPopup("Log A Payment", '{{ path('brand_payment_new', {'tourId': entity.id}) }}' );
        });
    });
</script>

{% endblock %}


{% block footer_left %}
    {% if app.user.email == entity.organizer.email%} {# Show Sales Agent Info to an Organizer#}
        {% if entity.salesAgent %}
            <span class="intro">
                    {{ brand.name }} {% trans %}tour.show.footer.intro_org{% endtrans %}
            </span>
            {% if entity.salesAgent.media %}
                <span class="tui-image-avatar">
                    <a href="mailto:{{ entity.salesAgent.email }}">
                        <img src="{{ ( entity.salesAgent.media.getRelativePath ~ "/" ~ entity.salesAgent.media.getHashedFilename ) | imagine_filter('thumbnail') }}" alt="{{ entity.salesAgent.username }}">
                    </a>
                </span>
            {% elseif entity.salesAgent.firstName and entity.salesAgent.lastName %}
                <span class="tui-text-avatar mdl-typography--headline">
                    <a href="mailto:{{ entity.salesAgent.email }}">
                        {{ entity.salesAgent.firstName[:1] }}{{ entity.salesAgent.lastName[:1] }}
                    </a>
                </span>
            {% else %}
                <span class="tui-text-avatar mdl-typography--headline">
                    <a href="mailto:{{ entity.salesAgent.email }}">
                        {{ entity.salesAgent.username[:1] }}
                    </a>
                </span>
            {% endif %}
            <span class="agent">
                {% if entity.salesAgent.displayName %}
                    {{ entity.salesAgent.displayName }}
                {% else %}
                    {{ entity.salesAgent.firstName }} {{ entity.salesAgent.lastName }}
                {% endif %}
                <br>
                <a href="mailto:{{ entity.salesAgent.email }}">{{ entity.salesAgent.email }}</a>
            </span>
        {% endif %}
    {% else %} {# Show organizer info to everyone but organizers #}
        {% if entity.organizer %}
            <span class="intro">
                    {% trans %}tour.show.footer.intro{% endtrans %}
            </span>
            {% if entity.organizer.media %}
                <span class="tui-image-avatar">
                    <a href="mailto:{{ entity.organizer.email }}">
                        <img src="{{ ( entity.organizer.media.getRelativePath ~ "/" ~ entity.organizer.media.getHashedFilename ) | imagine_filter('thumbnail') }}" alt="{{ entity.organizer.username }}">
                    </a>
                </span>
            {% elseif entity.organizer.firstName and entity.organizer.lastName %}
                <span class="tui-text-avatar mdl-typography--headline">
                    <a href="mailto:{{ entity.organizer.email }}">
                        {{ entity.organizer.firstName[:1] }}{{ entity.organizer.lastName[:1] }}
                    </a>
                </span>
            {% else %}
                <span class="tui-text-avatar mdl-typography--headline">
                    <a href="mailto:{{ entity.organizer.email }}">
                        {{ entity.organizer.username[:1] }}
                    </a>
                </span>
            {% endif %}
            <span class="agent">
                {% if entity.organizer.displayName %}
                    {{ entity.organizer.displayName }}
                {% else %}
                    {{ entity.organizer.firstName }} {{ entity.organizer.lastName }}
                {% endif %}
                <br>
                <a href="mailto:{{ entity.organizer.email }}">{{ entity.organizer.email }}</a>
            </span>
        {% endif %}
    {% endif %}
{% endblock %}

{% block footer_right %}
    <div class="quote-info">
        <span class="quote-label">{% trans %}tour.show.footer.price{% endtrans %}</span>
        <span class="quote-price">
            <strong>{% if entity.currency %}{{ entity.currency.htmlSymbol | raw }}{% endif %}{{ entity|price }}</strong>
        </span>
    </div>
{% endblock %}
