{% extends '::site-base.html.twig' %}

{% if 'en_GB' in locale %} {% set format = 'd M Y' %} {% else %} {% set format = 'M d Y' %} {% endif %}
{% if 'en_GB' in locale %} {% set shortFormat = 'd M' %} {% else %} {% set format = 'M d' %} {% endif %}
{% set compareFormat = 'Y-m-d' %}

{% block title %}
    {% if is_granted("ROLE_BRAND") %}
        {% trans %}tour.page_title.index{% endtrans %}
    {% else %}
        {{ entity.name }}
    {% endif %}
{% endblock %}

{% block page_title %}
    <span>{% trans %}tour.dashboard.tasks{% endtrans %}</span>
{% endblock %}

{% block page_title_menu %}
    <button id="tour-title-drop" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon title-menu-drop">
        <i class="material-icons">arrow_drop_down</i>
    </button>
    {% embed "TourBundle:Tour:tourMenu.html.twig" %}
            {% block tour_dashboard_link %}
                <li><a href="{{ path('manage_tour_show', { 'id': entity.id }) }}" class="mdl-menu__item">{% trans %}tour.title.index{% endtrans %}</a></li>
            {% endblock %}
    {% endembed %}
{% endblock %}

{% block back_link %}
    {% if is_granted("ROLE_BRAND") %}
        <a class="back-link" href="{{ path('manage_tour') }}"><i class="fa fa-arrow-left"></i> {% trans %}tour.actions.back_to_tours{% endtrans %}</a>
    {% else %}
        <a class="back-link" href="{{ path('manage_tour_show', { 'id': entity.id }) }}"><i class="fa fa-arrow-left"></i> {% trans %}tour.actions.back_dashboard{% endtrans %}</a>
    {% endif %}
{% endblock %}

{% block body -%}
    <div class="tour-show-wrapper">

        <div class="tour-show-left-column">
            <h3>{{ entity.name|capitalize }}</h3>
            <a href="#all" style="float:right; text-decoration: none;" id="clear"><i class="material-icons md-18">undo</i> {% trans %} passenger.labels.show-everyone{% endtrans %}</a><br>
            <div class="list-header" style="color: {{ brand.secondaryColor }}"><i class="material-icons">assignment</i> {% trans %}tour.dashboard.passenger_tasks{% endtrans %} ({{ passengerData.possibleTasksCount }})</div>
            <ul class="tour-show-submenu">
                {% if entity.medicalDate != null %}
                    <li><a id="medical" href="#medical" style="text-decoration: none; color:{{ brand.primaryColor }};"><strong>{% trans %}tour.dashboard.medical{% endtrans %} ({{ passengerData.completedPassengerData['medical']|length }}/{{ passengerData.travellingUsers|length }})</strong></a></li>
                {% endif %}
                {% if entity.dietaryDate != null %}
                    <li><a id="dietary" href="#dietary" style="text-decoration: none; color:{{ brand.primaryColor }};"><strong>{% trans %}tour.dashboard.dietary{% endtrans %} ({{ passengerData.completedPassengerData['dietary']|length }}/{{ passengerData.travellingUsers|length }})</strong></a></li>
                {% endif %}
                {% if entity.emergencyDate != null %}
                    <li><a id="emergency" href="#emergency" style="text-decoration: none; color:{{ brand.primaryColor }};"><strong>{% trans %}tour.dashboard.emergency{% endtrans %} ({{ passengerData.completedPassengerData['emergency']|length }}/{{ passengerData.travellingUsers|length }})</strong></a></li>
                {% endif %}
                {% if entity.passportDate != null %}
                    <li><a id="passport" href="#passport" style="text-decoration: none; color:{{ brand.primaryColor }};"><strong>{% trans %}tour.dashboard.passport{% endtrans %} ({{ passengerData.completedPassengerData['passport']|length }}/{{ passengerData.travellingUsers|length }})</strong></a></li>
                {% endif %}
            </ul>
        </div>

        <div class="tour-show-right-column">

                {# Passenger CTA Card #}
                <div class="passenger-cta-card tour-edit mdl-card mdl-shadow--2dp">

                    <div class="mdl-card__title">
                        <h3 id="card-title" class="mdl-card__title-text">{% trans %}tour.dashboard.passenger_tasks{% endtrans %}</h3>
                    </div>

                    <div class="mdl-card__supporting-text mdl-card--border" style="color:grey;">
                        {% if passengerData.totalCompletedTasksCount == passengerData.possibleTasksCount %}
                            <h3 style="float: left; font-weight:300; font-size:2em;">{% trans %}tour.dashboard.all_done{% endtrans %}</h3>
                        {% else %}
                            <h3 id="task-title" style="float: left; font-weight:300; font-size:2em;">{% trans %}tour.dashboard.in_progress{% endtrans %}</h3>
                        {% endif %}
                        <div style="float: right; margin-top:20px;">
                            <span style="color:{{ brand.secondaryColor }}; font-size:3.5em; font-weight:100;"><p id="task-counter" style="display: inline; margin-left:5px; font-size:inherit; font-weight:inherit;">{{ passengerData.totalCompletedTasksCount }}/{{ passengerData.possibleTasksCount }}</p></span><br/>
                            <span style="float:right;"><label><p style="display: inline; margin-left:5px; font-size:inherit; font-weight:inherit;">{% trans %}tour.dashboard.complete{% endtrans %}</p></label></span>
                        </div>
                        </div>
                {#<span id="payment-schedule-link" style="margin-bottom: 10px; text-align: center; display:none;">#}
                    {#<a href="" id="toggle-payment-schedule" class="payment-schedule-link" style="color: {{ brand.secondaryColor }};">Filter <br /><i class="material-icons">expand_more</i></a>#}
                {#</span>#}
                        {#{% endif %}#}
                        <div style="display:none; text-align: left;" id="payment-schedule">
                            <div class="mdl-card__title">
                                <label class="mdl-radio mdl-js-radio" for="complete" style="margin: 0 auto; width:auto;">
                                    <input type="radio" id="complete" name="tasks" class="mdl-radio__button">
                                    <span class="mdl-radio__label">{% trans %}tour.dashboard.show_complete{% endtrans %}</span>
                                </label>
                                <label class="mdl-radio mdl-js-radio" for="uncomplete" style="margin: 0 auto; width:auto;">
                                    <input type="radio" id="uncomplete" name="tasks" class="mdl-radio__button">
                                    <span class="mdl-radio__label">{% trans %}tour.dashboard.show_not_complete{% endtrans %}</span>
                                </label>
                            </div>
                        </div>

                    {# Passenger Mini Cards #}

                    {% for passenger in passengerData.travellingUsers %}
                        {# render each accepted passenger mini-card #}
                        {{ render(controller('TourBundle:Tour:getPassengerTasksMiniCard', { 'passenger': passenger})) }}
                    {% endfor %}

                </div>

                <div style="clear: both; height: 150px;"></div>
            </div>

        </div>

{% endblock %}


{% block footer_left %}
    {% if app.user.email != entity.salesAgent.email%} {# Show Sales Agent Info to an Organizer#}
        {% if entity.salesAgent %}
            <span class="intro">
                    {{ brand.name }} {% trans %}tour.show.footer.intro_org{% endtrans %}
            </span>
            {% if entity.salesAgent.media %}
                <span class="tui-image-avatar"><img src="{{ ( entity.salesAgent.media.getRelativePath ~ "/" ~ entity.salesAgent.media.getHashedFilename ) | imagine_filter('thumbnail') }}" alt="{{ entity.salesAgent.username }}"></span>
            {% elseif entity.salesAgent.firstName and entity.salesAgent.lastName %}
                <span class="tui-text-avatar mdl-typography--headline">{{ entity.salesAgent.firstName[:1] }}{{ entity.salesAgent.lastName[:1] }}</span>
            {% else %}
                <span class="tui-text-avatar mdl-typography--headline">{{ entity.salesAgent.username[:1] }}</span>
            {% endif %}
            <span class="agent">
                {% if entity.salesAgent.displayName %}
                    {{ entity.salesAgent.displayName }}
                {% else %}
                    {{ entity.salesAgent.firstName }} {{ entity.salesAgent.lastName }}
                {% endif %}
                <br>
                <a href="mailto:{{ entity.salesAgent.email }}">{{ entity.salesAgent.email }}</a>
            </span>
        {% endif %}
    {% else %} {# Show organizer info to everyone but organizers #}
        {% if entity.organizer %}
            <span class="intro">
                    {% trans %}tour.show.footer.intro{% endtrans %}
            </span>
            {% if entity.organizer.media %}
                <span class="tui-image-avatar"><img src="{{ ( entity.organizer.media.getRelativePath ~ "/" ~ entity.organizer.media.getHashedFilename ) | imagine_filter('thumbnail') }}" alt="{{ entity.organizer.username }}"></span>
            {% elseif entity.organizer.firstName and entity.organizer.lastName %}
                <span class="tui-text-avatar mdl-typography--headline">{{ entity.organizer.firstName[:1] }}{{ entity.organizer.lastName[:1] }}</span>
            {% else %}
                <span class="tui-text-avatar mdl-typography--headline">{{ entity.organizer.username[:1] }}</span>
            {% endif %}
            <span class="agent">
                {% if entity.organizer.displayName %}
                    {{ entity.organizer.displayName }}
                {% else %}
                    {{ entity.organizer.firstName }} {{ entity.organizer.lastName }}
                {% endif %}
                <br>
                <a href="mailto:{{ entity.organizer.email }}">{{ entity.organizer.email }}</a>
            </span>
        {% endif %}
    {% endif %}
    <script>
            $(document).on('click', '#emergency', function (e) {
                var t = $(this);
                var id = $(this).attr('id');
                e.preventDefault();
                taskClickEvent(id, t);
                $('#task-title').text('Emergency Contact Info');
                $('#task-counter').text("{{ passengerData.completedPassengerData['emergency']|length }}/{{ passengerData.travellingUsers|length }}")
            });

            $(document).on('click', '#medical', function (e) {
                var t = $(this);
                var id = $(this).attr('id');
                e.preventDefault();
                taskClickEvent(id, t);
                $('#task-title').text('Medical Info');
                $('#task-counter').text("{{ passengerData.completedPassengerData['medical']|length }}/{{ passengerData.travellingUsers|length }}")
            });

            $(document).on('click', '#passport', function (e) {
                var t = $(this);
                var id = $(this).attr('id');
                e.preventDefault();
                taskClickEvent(id, t);
                $('#task-title').text('Passport Info');
                $('#task-counter').text("{{ passengerData.completedPassengerData['passport']|length }}/{{ passengerData.travellingUsers|length }}")
            });

            $(document).on('click', '#dietary', function (e) {
                var t = $(this);
                var id = $(this).attr('id');
                e.preventDefault();
                taskClickEvent(id, t);
                    $('#task-title').text('Dietary Info');
                    $('#task-counter').text("{{ passengerData.completedPassengerData['dietary']|length }}/{{ passengerData.travellingUsers|length }}")
            });

            // toggle radio buttons
            $(document).on('click', 'a.payment-schedule-link', function(e){
                e.preventDefault();
                $('#payment-schedule').toggle(400, function(){
                    if ($('#toggle-payment-schedule').text()=='Filter expand_more') {
                        $('#toggle-payment-schedule').html('Filter <br /><i class="material-icons">expand_less</i>');
                    } else if ($('#toggle-payment-schedule').text()=='Filter expand_less') {
                        $('#toggle-payment-schedule').html('Filter <br /><i class="material-icons">expand_more</i>');
                    }
                });
            });

            //Radio button animations for completed and not completed
            $('#complete').change(function(){
               var name = $(this).attr('name');
                var variableClass = "." + name;
                var incomplete = variableClass + "-incomplete";
                $('.pcardname').each(function() {
                    $(this).has(incomplete).parent().slideUp(400);
                    $(this).has(variableClass).parent().slideDown(400);
                });
            });

            $('#uncomplete').change(function(){
                var name = $(this).attr('name');
                var variableClass = "." + name;
                var incomplete = variableClass + "-incomplete";
                $('.pcardname').each(function() {
                    $(this).has(variableClass).parent().slideUp(400);
                    $(this).has(incomplete).parent().slideDown(400);
                });
            });

            //Clear functionality
            $(document).on('click', '#clear', function (e) {
                e.preventDefault();
                $('#complete').prop('checked', false);
                $('#uncomplete').prop('checked', false);
                $('.pcardname').parent().slideDown(400);
                $('.tour-show-submenu').find('li > a').each(function(){
                    $(this).css({'color': '{{ brand.primaryColor }}'});
                });
                $('.pcardname').each(function(){
                    var check = $(this).find('a > i:contains("done")');
                    var arrow = $(this).find('a > i:contains("arrow_forward")');
                    var child = $(this).find(">:first-child");
                    if ($(child).hasClass('complete')) {
                        $(check).css({'display': 'inline'});
                        $(arrow).css({'display': 'none'});
                    }else {
                        $(check).css({'display': 'none'});
                        $(arrow).css({'display': 'inline'});
                    }
                    $(this).find('.info-bar').css({'display': 'block'});
                    var info = $(this).find('.info-task-bar');
                    $(info).css({'display': 'none'});
                    $("#task-title").text("In Progress");
                    $("#task-counter").text("{{ passengerData.totalCompletedTasksCount }}/{{ passengerData.possibleTasksCount }}");
                    $('#payment-schedule-link').slideUp(400);
                    $('#payment-schedule').slideUp(400);
                    $('#toggle-payment-schedule').html('Filter <br /><i class="material-icons">expand_more</i>');
                });
            });

            function taskClickEvent(id, t){

                $('.pcardname').parent().slideDown(400);


                $('#complete').prop('checked', false);
                $('#uncomplete').prop('checked', false);
                $('.mdl-radio').removeClass("is-checked");
                $('.mdl-radio__button').attr('name', id);
                $('#payment-schedule').slideDown(400);
                $('.tour-show-submenu').find('li > a').each(function(){
                    $(this).css({'color': '{{ brand.primaryColor }}'});
                });
                t.css({'color': '{{ brand.secondaryColor }}'});
                $('.pcardname').each(function(){
                    var child = $(this).find(">:first-child");
                    var check = $(this).find('i:contains("done")');
                    var arrow = $(this).find('i:contains("arrow_forward")');
                    if ($(child).hasClass(id)){
                        $(arrow).css({'display':'none'});
                        $(check).css({'display':'inline'});
                        $(this).find('.info-bar').css({'display': 'none'});
                        var info = $(this).find('.info-task-bar');
                        $(info).text("{% trans %}tour.dashboard.complete{% endtrans %}");
                        $(info).css({
                            'color': 'green',
                            'display': 'block'
                        });
                    }else{
                        $(arrow).css({'display':'inline'});
                        $(check).css({'display':'none'});
                        $(this).find('.info-bar').css({'display': 'none'});
                        var info = $(this).find('.info-task-bar');
                        $(info).css({
                            'color': 'red',
                            'display': 'block'
                        });
                        $(info).text("{% trans %}tour.dashboard.not_complete{% endtrans %}");
                    }
                });
            };
    </script>
{% endblock %}

{% block footer_right %}
    <div class="quote-info">
        <span class="quote-label">{% trans %}tour.show.footer.price{% endtrans %}</span>

        <span class="quote-price">
            {% if entity.pricePerson %}
                <strong>{% if entity.currency %}{{ entity.currency.htmlSymbol | raw }}{% endif %}{{ entity.pricePersonPublic }}</strong>
            {% endif %}
        </span>
    </div>
{% endblock %}