{% if entity.tourReference is defined and entity.tourReference.id is defined %}{% set tourId = entity.tourReference.id %}{% elseif tour is defined %}{% set tourId = tour.id %}{% else %}{% set tourId = entity.id %}{% endif %}
{# Only logged-in can see this menu #}
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <button id="tour-title-drop" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon title-menu-drop mdl-button--raised mdl-button--colored ">
        <i class="material-icons">arrow_drop_down</i>
    </button>
    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="tour-title-drop">
        <span>
            {% if is_granted("ROLE_BRAND") or "tour" | getRoles(tourId) == "organizer" or "tour" | getRoles(tourId) == "assistant"%}
                {% block tour_dashboard_link %}
                    <li><a href="{{ path('manage_tour_show', { 'id': tourId }) }}" class="mdl-menu__item">{% trans %}tour.title.index{% endtrans %}</a></li>
                {% endblock %}
            {% endif %}
            <li><a href="{{ path('tour_site_action_show', { 'id': tourId }) }}" class="mdl-menu__item">{% trans %}tour.menu.preview{% endtrans %}</a></li>
            {%  if is_granted('ROLE_BRAND') %}
                <li><a href="{{ path('manage_tour_edit', { 'id': tourId }) }}" class="mdl-menu__item">{% trans %}tour.menu.brand_edit{% endtrans %}</a></li>
            {% endif %}
            {% if "tour" | getRoles(entity.id) == "parent" %}
                <li><a href="{{ path('manage_parent_passenger_dashboard', {'tourId': tourId, 'parentId': app.user.id}) }}" class="mdl-menu__item">{% trans %}passenger.title.manage{% endtrans %}</a></li>
            {% elseif "tour" | getRoles(entity.id) != "" or is_granted("ROLE_BRAND")%}
                <li><a href="{{ path('manage_passenger_dashboard', { 'tourId': tourId }) }}" class="mdl-menu__item">{% trans %}passenger.title.index{% endtrans %}</a></li>
                <li><a href="{{ path('manage_payment_dashboard', { 'tourId': tourId }) }}" class="mdl-menu__item">{% trans %}payment.title.index{% endtrans %}</a></li>
                <li><a href="{{ path('manage_tour_tasks_dashboard', { 'id': tourId }) }}" class="mdl-menu__item">{% trans %}tour.dashboard.tasks{% endtrans %}</a></li>
            {% endif %}
        </span>
    </ul>
{% endif %}
