{% extends '::base.html.twig' %}
{% block title %}Edit {{ entity.name }}{% endblock %}
{% block page_title %}Edit {{ entity.name }}{% endblock %}

{% block body -%}

    <div class="brand-logo" id="brand-logo-1" logo="primary">
        <div id="avatar-label-1" class="avatar-label mdl-label-mimic">Brand Logo</div>

        {{ render(controller('MediaBundle:Media:createDropzoneForm', {'context':'brand', 'existing_media':entity.media})) }}
    </div>

    <div class="brand-logo" id="brand-logo-2" logo="email">
        <div id="avatar-label-2" class="avatar-label mdl-label-mimic">Brand Email Logo</div>

        {{ render(controller('MediaBundle:Media:createDropzoneForm', {'context':'brand', 'identifier':'email', 'existing_media':entity.mediaEmail})) }}
    </div>

    {{ form_start(edit_form) }}

        {{ form_widget(edit_form) }}

    {{ form_end(edit_form) }}

    <ul class="record_actions">
        <li>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('_manage_brand') }}"><i class="fa fa-arrow-circle-left"></i> Back to the list</a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>

    <script>
    $(document).ready(function () {
        {% if entity.media %}
            var bUrl1 = '{{ asset(".." ~ entity.media.getRelativePath ~ "/" ~ entity.media.getHashedFilename ) }}';
            $(".media-placeholder-image.dropzone-form-primary").css({
                "background-image": "url(" + bUrl1 + ")"
            });
            $("#tui_toolkit_brandbundle_brand_media").val('{{ entity.media.id }}');
            $(document).on('click', '.media-placeholder-image.dropzone-form-primary', function(e) {
                $("#tui_toolkit_brandbundle_brand_media").val('');
            });
        {% endif %}
        {% if entity.mediaEmail %}
            var bUrl2 = '{{ asset(".." ~ entity.mediaEmail.getRelativePath ~ "/" ~ entity.mediaEmail.getHashedFilename ) }}';
            $(".media-placeholder-image.dropzone-form-email").css({
                "background-image": "url(" + bUrl2 + ")"
            });
            $("#tui_toolkit_brandbundle_brand_mediaEmail").val('{{ entity.mediaEmail.id }}');
            $(document).on('click', '.media-placeholder-image.dropzone-form-email', function(e) {
                $("#tui_toolkit_brandbundle_brand_mediaEmail").val('');
            });
        {% endif %}
    });
    </script>

{% endblock %}
