{% extends '::base.html.twig' %}
{% block title %}Manage Brand{% endblock %}

{% block body -%}
    <h1>Brand list</h1>

    <table class="brands_table records_list">
        <thead>
            <tr>
                <th>Name (ID)</th>
                <th>Division</th>
                <th>Primary color</th>
                <th>Button color</th>
                <th>Hover color</th>
                <th>Logo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('_manage_brand_show', { 'id': entity.id }) }}">{{ entity.name }}</a> ({{ entity.id }})</td>
                <td>{{ entity.division }}</td>
                <td style="background-color: {{ entity.primaryColor }}"></td>
                <td style="background-color: {{ entity.buttonColor }}"></td>
                <td style="background-color: {{ entity.hoverColor }}"></td>
                <td class="logo">
                    {% if entity.media %}
                        {% media entity.media, 'small' %}
                    {% endif %}
                </td>
                <td>
                    <ul class="record_actions">
                        <li>
                            <a href="{{ path('_manage_brand_show', { 'id': entity.id }) }}">Show</a>
                        </li>
                        <li>
                            <a href="{{ path('_manage_brand_edit', { 'id': entity.id }) }}">Edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul class="record_actions">
        <li>
            <a href="{{ path('_manage_brand_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
