{% extends '::base.html.twig' %}
{% block title %}Create Brand{% endblock %}
{% block page_title %}Create Brand{% endblock %}

{% block body -%}

    <div id = "avatar-label" class="mdl-label-mimic">Profile Image</div>
    {{ render(controller('MediaBundle:Media:createDropzoneForm', {'context':'brand'})) }}
    {{ form_start(form) }}


    <div id="user_media" class="is-dirty mdl-textfield--floating-label">
        <span class="media-placeholder-image new dropzone-form-primary">
            <i class="fa fa-picture-o fa-3x"></i>
            <span>Click to upload</span>
        </span>
    </div>

    {{ form_widget(form) }}
    {{ form_end(form) }}
        <ul class="record_actions">
    <li>
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('_manage_brand') }}">
            <i class="fa fa-arrow-circle-left"></i> Back to the list
        </a>
    </li>
</ul>
{% endblock %}
