{% extends '::base.html.twig' %}
{% block title %}Brand {{ entity.name }}{% endblock %}

{% block body -%}
    <h1>Brand</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Name (ID)</th>
                <td>{{ entity.name }} ({{ entity.id }})</td>
            </tr>
            <tr>
                <th>Division</th>
                <td>{{ entity.division }}</td>
            </tr>
            <tr>
                <th>Primary color</th>
                <td style="background-color: {{ entity.primaryColor }}"></td>
            </tr>
            <tr>
                <th>Button color</th>
                <td style="background-color: {{ entity.buttonColor }}"></td>
            </tr>
            <tr>
                <th>Hover color</th>
                <td style="background-color: {{ entity.hoverColor }}"></td>
            </tr>
            <tr>
                <th>Logo</th>
                <td class="logo">
                    {% if entity.media %}
                        {% media entity.media, 'small' %}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('_manage_brand') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('_manage_brand_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
