{% block body -%}
    <div class="passport-form">

        {{ form_start(form) }}
        <p style="color:red; margin-top: 10px; max-width: 375px;">It is important that the details provided here match exactly as per the passport</p>
        {{ form_row(form.passportLastName) }}
        {{ form_row(form.passportFirstName) }}
        {{ form_widget(form.passportMiddleName) }}
        {{ form_widget(form.passportGender) }}
        {{ form_widget(form.passportTitle) }}
        {{ form_row(form.passportIssuingState) }}
        {{ form_row(form.passportNumber) }}
        {{ form_widget(form.passportNationality) }}
        <label class="date-label">{% trans %}passenger.labels.passport_dob{% endtrans %}</label>
        {{ form_widget(form.passportDateOfBirth) }}
        <label class="date-label">{% trans %}passenger.labels.passport_doi{% endtrans %}</label>
        {{ form_widget(form.passportDateOfIssue) }}
        <label class="date-label">{% trans %}passenger.labels.passport_doe{% endtrans %}</label>
        {{ form_widget(form.passportDateOfExpiry) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>

    <script>
        $(document).ready(function () {
            var tourId = $('.site-show').attr('entityId');
            var passengerId = $('.site-show').attr('passengerId');
            $('#tui_toolkit_passengerbundle_passport_passengerReference').val(passengerId);
            $('#tui_toolkit_passengerbundle_passport_passportGender').css("width", "300px");
            $('#tui_toolkit_passengerbundle_passport_passportTitle').css("width", "300px");

        });
    </script>
{% endblock %}
