{% block body -%}
    <div class="passport-form">

        <div class="errors">
            {{ form_errors(form) }}
        </div>

        {{ form_start(form) }}
        {{ form_widget(form.passportLastName) }}
        {{ form_widget(form.passportFirstName) }}
        {{ form_widget(form.passportMiddleName) }}
        {{ form_widget(form.passportGender) }}
        {{ form_widget(form.passportTitle) }}
        {{ form_widget(form.passportIssuingState) }}
        {{ form_widget(form.passportNumber) }}
        {{ form_widget(form.passportNationality) }}
        <label style="display: block; color:rgba(0,0,0,.26);">Date of Birth</label>
        {{ form_widget(form.passportDateOfBirth) }}
        <label style="display: block; color:rgba(0,0,0,.26);">{% trans %}passenger.labels.passport_doi{% endtrans %}</label>
        {{ form_widget(form.passportDateOfIssue) }}
        <label style="display: block; color:rgba(0,0,0,.26);">{% trans %}passenger.labels.passport_doe{% endtrans %}</label>
        {{ form_widget(form.passportDateOfExpiry) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>

    <script>
        $(document).ready(function () {
            var tourId = $('.site-show').attr('entityId');
            var passengerId = $('.site-show').attr('passengerId');
            $('#tui_toolkit_passengerbundle_passport_passengerReference').val(passengerId);
            $('#tui_toolkit_passengerbundle_passport_passportGender').css("width", "300px");
            $('#tui_toolkit_passengerbundle_passport_passportTitle').css("width", "300px");

        });
    </script>
{% endblock %}
