{% trans_default_domain 'messages' %}

<form id="reset-password-form" class="main_login" action="{{ path('user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST"
      class="fos_user_resetting_reset">

        {{ form_errors(form) }}
        {{ form_row(form.plainPassword) }}
        {{ form_row(form.question) }}
        {{ form_row(form.answer) }}
        {% if form.termsAgree is defined %}  {{ form_widget(form.termsAgree, {'label' : 'user.form.terms_agree'|trans }) }}{% endif %}

    <div>
        <input type="submit" value="{{ 'user.form.resetting.submit'|trans }}"/>
    </div>
</form>
