{% extends '::base.html.twig' %}
{% block title %}Manage Quotes{% endblock %}
{% block body -%}
    <h1>Quote Dashboard</h1>
    {% embed "QuoteBundle:Quote:quote_tabs.html.twig" %}
        {% block converted_tab %}
            <a class='active_tab' href="#">Converted Quotes</a>
        {% endblock %}
    {% endembed %}
    <table class="records_list">
        <thead>
        <tr>
            <th>Institution / Town</th>
            <th>Name</th>
            <th>Reference</th>
            <th>Created</th>
            <th>Views</th>
            <th>Shared Views</th>
            <th>Business Admin</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.institution }}<br />town placeholder</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.reference }}</td>
                <td>{{ entity.created|localizeddate('short', 'none') }}</td>
                <td>{{ entity.views }}</td>
                <td>{{ entity.shareViews }}</td>
                <td>{{ entity.salesAgent }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('manage_quote_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('manage_quote_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('manage_quote_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
