{% extends '::base.html.twig' %}
{% block title %}Manage Quotes{% endblock %}
{% block body -%}
    <h1>Quote list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Reference</th>
                <th>Organizer</th>
                <th>Converted</th>
                <th>Deleted</th>
                <th>Setupcomplete</th>
                <th>Locked</th>
                <th>Salesagent</th>
                <th>Istemplate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('manage_quote_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.reference }}</td>
                <td>{{ entity.organizer }}</td>
                <td>{{ entity.converted }}</td>
                <td>{{ entity.deleted }}</td>
                <td>{{ entity.setupComplete }}</td>
                <td>{{ entity.locked }}</td>
                <td>{{ entity.salesAgent }}</td>
                <td>{{ entity.isTemplate }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('manage_quote_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('manage_quote_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('manage_quote_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
