{% extends '::base.html.twig' %}
{% block title %}Manage Quotes{% endblock %}
{% block body -%}
    <h1>Quote Dashboard - Templates</h1>

    <ul>
        <li>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('manage_quote_new') }}">Create a new Quote</a>
        </li>
        <li>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('manage_quote_newtemplate') }}">Create a new Template</a>
        </li>
    </ul>


    {% embed "QuoteBundle:Quote:quote_tabs.html.twig" %}
        {% block templates_tab %}
            <a class="mdl-tabs__tab is-active" href="{{ path('manage_quote_templates') }}">Templates</a>
        {% endblock %}
    {% endembed %}

    {{ grid_search(grid) }}
    {{ grid(grid, 'QuoteBundle:Quote:grid.html.twig') }}

    {% block grid_filters %}{% endblock %}
    {% endblock %}
