{% extends 'base.html.twig' %}

{% block title %}User List{% endblock %}
{% block body %}
    <h1>User List</h1>



<table border="1" style="width:100%">
    <tr>
        <th>Operations</th>
        <th>ID</th>
        <th>Enabled</th>
        <th>UserName</th>
        <th>eMail</th>
        <th>Parent</th>
        <th>Roles</th>
        <th>Responsibilities</th>
        <th>Last Login</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>
            <a href="{{  path('_tui_toolkit_user_homepage', {'id': user.id}) }}">View</a>
            <a href="{{  path('_tui_toolkit_user_edit', {'id': user.id}) }}">Edit</a>
            <a href="{{  path('_tui_toolkit_user_disable', {'id': user.id}) }}">Disable</a>
        </td>
        <td>{{ user.id  }}</td>
        <td>{{ user.enabled  }}</td>
        <td><a href="{{  path('_tui_toolkit_user_homepage', {'id': user.id}) }}">{{ user.username  }}</a></td>
        <td>{{ user.email  }}</td>
        <td>{{ user.userParent  }}</td>
        <td>{% for role in user.roles %}{{ role |e }}; {% endfor %}</td>
        <td>{% for responsibility in user.responsibility %}{{ responsibility |e }}{% endfor %}</td>
        <td>{{ user.lastLogin|date('Y-m-d H:i:s') }}</td>
    </tr>
    {% endfor %}
   </table>

{% endblock %}
