{% extends '::print-base.html.twig' %}

{% block title %}{{ entity.name }}{% endblock %}

{% block page_title %}{{ entity.quoteReference.name  }}, {{ entity.name }}{% endblock %}

{% block page_institution %}
    {% if entity.quoteReference.institution %}
        {{ entity.quoteReference.institution.name }}

        {% if entity.quoteReference.institution.media %}
            <img id="site-school-logo" src="{{ asset( entity.quoteReference.institution.media.getRelativePath ~ "/" ~ entity.quoteReference.institution.media.getHashedFilename ) | imagine_filter('thumbnailLarge') }}" alt="{{ entity.quoteReference.institution.name }}">
        {% endif %}
    {% endif %}
{% endblock %}

{% if 'en_GB' in locale %} {% set format = 'd M Y' %} {% else %} {% set format = 'M d Y' %} {% endif %}

{% block body -%}

    <div id="site-quote-number">{% trans %}tour.pdf.quoteNumber{% endtrans %} {% if entity.quoteNumber %}{{ entity.quoteNumber }}{% endif %}</div>

    <div id="site-header" class="quote-view-site-header">

        <div id="site-header-slideshow">
            {% if entity.headerBlock %}
                {% for mediaWrapper in entity.headerBlock.mediaWrapper %}
                    {% if loop.first %}
                        {% for media in mediaWrapper.media %}
                            <img src="{{ asset( media.getRelativePath ~ "/" ~ media.getHashedFilename ) | imagine_filter('slideShow') }}">
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>

        <div id="site-header-summary">
            <div id="site-header-summary-content">
                {{ render(controller('TourBundle:TourSite:showSummary', {'id':  entity.id  })) }}
            </div>
        </div>

    </div>

    {# RENDER THE CONTENT BLOCKS HERE #}

    <div id="content-wrapper" class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

        <div id="content-blocks-wrapper" class="sortable-tabs mdl-tabs__tab-bar">
            {# render the tabs #}
            {% set activeTab = 'is-active' %}
            {% for tab, data in entity.content %}
                <a id="tab-{{ tab }}" href="#tabs-drawer-{{ tab }}" class="site-content-blocks-tab mdl-tabs__tab {{ activeTab }}">{{ data[0] }}</a>
                {% set activeTab = '' %}
            {% endfor %}
            {#{% if alternate %}#}
                {#<a id="tab-alternate-quotes" href="#tabs-drawer-alternate-quotes" class="site-content-blocks-tab mdl-tabs__tab {{ activeTab }}">Alternate Quotes</a>#}
            {#{% endif %}#}
        </div>

        {# render the tabs' content #}
        {% set activeTab = 'is-active' %}
        {% for tab, data in entity.content %}
            <div id="tabs-drawer-{{ tab }}" class="mdl-tabs__panel sortable-items content-blocks-drawer {{ activeTab }} ">
                {% for item in data[1] %}
                    <div id="content-blocks-{{ items[item].id }}" class="site-content-blocks site-content-blocks-item">
                        {# render the actual content block #}
                        <div id="site-block-content-{{ items[item].id }}" class="site-block-content">
                            {{ render(controller('ContentBlocksBundle:ContentBlock:show', {'id':  items[item].id })) }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% set activeTab = '' %}
        {% endfor %}
    </div>

{% endblock %}





{% block footer_left %}
    {% if entity.quoteReference.salesAgent %}
        <span class="intro">Tour Organizer:</span>
        <span class="agent">{{ entity.quoteReference.salesAgent.firstName }} {{ entity.quoteReference.salesAgent.lastName }}<br>
        {{ entity.quoteReference.salesAgent.email }}</span>
    {% endif %}
{% endblock %}

{% block footer_right %}
    <div class="quote-info"><span class="quote-label">{% trans %}tour.pdf.footer.price{% endtrans %}</span> <span class="quote-price">{% if entity.pricePerson %}<strong>{% if entity.currency %}{{ entity.currency.htmlSymbol | raw }}{% endif %}{{ entity.pricePerson }}</strong>{% endif %}</span></div>
{% endblock %}
