{% extends '::print-base.html.twig' %}

{% block title %}{{ entity.name }}{% endblock %}

{% block page_title %}
    {% if entity.displayName %}
        {{ entity.displayName }}
    {% else %}
        {{ entity.quoteReference.name  }}, {{ entity.name }}
    {% endif %}
{% endblock %}

{% block page_institution %}
    {% if entity.quoteReference.institution %}
        {{ entity.quoteReference.institution.name }}

        {% if entity.quoteReference.institution.media %}
            <img id="site-school-logo" src="{{ ( entity.quoteReference.institution.media.getRelativePath ~ "/" ~ entity.quoteReference.institution.media.getHashedFilename ) | imagine_filter('thumbnailLarge') }}" alt="{{ entity.quoteReference.institution.name }}">
        {% endif %}
    {% endif %}
{% endblock %}

{% block quote_number %}
    {% trans %}tour.pdf.quoteNumber{% endtrans %} {% if entity.quoteNumber %}{{ entity.quoteNumber }}{% endif %}
{% endblock %}

{% if 'en_GB' in locale %} {% set format = 'd M Y' %} {% else %} {% set format = 'M d Y' %} {% endif %}

{% block body -%}

    <div id="site-header" class="pdf-site-header">

        <div class="pdf-site-header-slideshow">
            {% if entity.headerBlock %}
                {% for mediaWrapper in entity.headerBlock.mediaWrapper %}
                    {% if loop.first %}
                        {% for media in mediaWrapper.media %}
                            <img src="{{ ( media.getRelativePath ~ "/" ~ media.getHashedFilename ) | imagine_filter('slideShow') }}">
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div><div class="pdf-site-header-summary">
            {{ render(controller('TourBundle:TourSite:showSummary', {'id':  entity.id  })) }}
        </div>

    </div>

    {# RENDER THE CONTENT BLOCKS HERE #}

    <div id="content-wrapper" class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        {# render the tabs' content #}
        {% for tab, data in entity.content %}
            <div id="tabs-drawer-{{ tab }}" class="mdl-tabs__panel sortable-items content-blocks-drawer">
                <h2 class="pdf-tab-header">{{ data[0] }}</h2>

                {% for item in data[1] %}
                    {% if items[item] != null %}
                    {# render the actual content block #}
                        <div class="pdf-content-block">
                            {{ render(controller('ContentBlocksBundle:ContentBlock:show', {'id':  items[item].id, 'quoteVersion': entity.id, 'class': 'tour'})) }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>

{% endblock %}





{% block footer_left %}
    {% if editable==true %}
        {% if entity.salesAgent %}
            <span class="intro">
                {% if app.user.email == entity.organizer.email %}
                    {% trans %}tour.show.footer.intro_org{% endtrans %}
                {% else %}
                    {% trans %}tour.show.footer.intro{% endtrans %}
                {% endif %}
            </span>
            <span class="agent">
                {% if entity.salesAgent.displayName %}
                    {{ entity.salesAgent.displayName }}
                {% else %}
                    {{ entity.salesAgent.firstName }} {{ entity.salesAgent.lastName }}
                {% endif %}
                <br>
                {{ entity.salesAgent.email }}
            </span>
        {% endif %}
    {% else %}
        {% if entity.organizer %}
            <span class="intro">
                {% if app.user.email == entity.organizer.email %}
                    {% trans %}tour.show.footer.intro_org{% endtrans %}
                {% else %}
                    {% trans %}tour.show.footer.intro{% endtrans %}
                {% endif %}
            </span>
            <span class="agent">
                {% if entity.organizer.displayName %}
                    {{ entity.organizer.displayName }}
                {% else %}
                    {{ entity.organizer.firstName }} {{ entity.organizer.lastName }}
                {% endif %}
                <br>
                {{ entity.organizer.email }}
            </span>
        {% endif %}
    {% endif %}
{% endblock %}

{% block footer_right %}
    <div class="quote-info">
        <span class="quote-label">{% trans %}tour.pdf.footer.price{% endtrans %}</span>
        <span class="quote-price">
            <strong>{% if entity.currency %}{{ entity.currency.htmlSymbol | raw }}{% endif %}{{ entity|price }}</strong>
        </span>
    </div>
{% endblock %}
