{% if 'en_GB' in locale %} {% set format = 'd M Y' %} {% else %} {% set format = 'M d Y' %} {% endif %}
<ul id="site-summary-details">
    {% if tour.departureDate %}<li class="right"><span class="label">Departing:</span> <strong>{{ tour.departureDate|date(format) }}</strong></li>{% endif %}
    {% if tour.duration %}<li class="right"><span class="label">Duration:</span> <strong>{{ tour.duration }}</strong></li>{% endif %}
    {% if tour.returnDate %}<li class="right"><span class="label">Returning:</span> <strong>{{ tour.returnDate|date(format) }}</strong></li>{% endif %}
    {% if tour.boardBasis %}<li class="right"><span class="label">Board Basis:</span> <strong>{{ tour.boardBasis.name }}</strong></li>{% endif %}
    {% if tour.transportType %}<li class="right"><span class="label">Transport:</span> <strong>{{ tour.transportType.name }}</strong></li>{% endif %}
    {% if tour.pricePerson %}<li class="right"><span class="label">Price per person:</span> <span class="tour-price"><strong>{% if tour.currency %}{{ tour.currency.htmlSymbol | raw }}{% endif %}{{ tour.pricePerson }}</strong></span></li>{% endif %}
    {% if (tour.payingPlaces) or (tour.freePlaces) %}<li>Based on {% if tour.payingPlaces %}<strong>{{ tour.payingPlaces }}</strong>{% endif %} paying and {% if tour.freePlaces %}<strong>{{ tour.freePlaces }}</strong>{% endif %} free places</li>{% endif %}
    {% if tour.expiryDate %}<li>Tour valid until <strong>{{ tour.expiryDate|date(format) }}</strong></li>{% endif %}
    <ul class="quote-site-actions">
        <li>
            {#{% if (tour.converted is sameas(false)) and (tour.tourReference.converted is sameas(false)) %}#}
                {% if date(tour.expiryDate) < date('now') %}
                    <a class="expired-tour mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                       href="#">
                        <i class="fa fa-calendar-times-o"></i> Expired
                    </a>
                {% else %}
                    <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                       id="accept-tour" href="#">
                        <i class="fa fa-thumbs-o-up"> </i> Sign Me Up
                    </a>
                {% endif %}

        </li>
    </ul>
    <li id="headerBlock-text">{% if tour.headerBlock %}{{ tour.welcomeMsg|raw }}{% endif %}</li>
</ul>