{% extends '::base.html.twig' %}
{% block title %}Manage Trip Status{% endblock %}
{% block page_title %}Manage Trip Status{% endblock %}

{% block body -%}

    <ul class="record_actions">
        <li>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('manage_tripstatus_new') }}">Create a new Trip Status</a>
        </li>
    </ul>

    <table class="mdl-data-table mdl-js-data-table">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Name (ID)</th>
                <th>Visible</th>
                <th class="mdl-data-table__cell--non-numeric">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td class="mdl-data-table__cell--non-numeric">
                    <a href="{{ path('manage_tripstatus_show', { 'id': entity.id }) }}">{{ entity.name }}</a> ({{ entity.id }})
                </td>
                <td>{{ entity.visible }}</td>
                <td class="mdl-data-table__cell--non-numeric">
                    <ul class="table-actions">
                        <li>
                            <a href="{{ path('manage_tripstatus_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('manage_tripstatus_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
